[2021-10-13 07:47] pnlinden commented on #500
I recreated the all_classes.png and updated the release (see [Release v4.1.0](https://github.com/International-Data-Spaces-Association/InformationModel/releases/tag/v4.1.0) ).

[2021-10-13 07:47] #500 closed

[2021-10-13 12:09] changqin26 commented on #514
In DCAT, there is a property called dct: rights describing all the other types of rights statements except for license and access rights. According this definition, it can be the parent property of ids:contractOffer.

However, in the definition it also mentions:
"in the particular case when rights are expressed via ODRL policies, it is recommended to use the odrl:hasPolicy property as the link fro

[2021-10-20 18:54] JohannesLipp commented on #490
Thank you very much for your review!

My comments in order to your four bullets:
- Agree with your approach, if possible
- Agree, that prefix URI should be consistent among all files
- Good point! Agree, we should skip the `skos:Concept` for properties as it is semantically wrong
- That will require some effort on our side, but we will do that as it is required for your CodeGen - deal!

@lcomet co

[2021-10-21 13:54] HaydarAk commented on #505
We need to specify the default value for each `sh:or` .

**Suggestion**
Use the `sh:order` property inside the `sh:or` constraint.
So for example the deafult value should be the entry with `sh:order 1` .

You should use the current instance (e.g. sh:nodeKind IRI vs sh:class ... ) as the default value.

Example:
[code]

[2021-10-28 13:16] clange opened #520 "Publish template spreadsheet for aligning the IDS infomodel with some other info model"
Just a reminder to publish this spreadsheet once we have it. We had an internal discussion with the https://ki-marktplatz.com/ (AI marketplace) project. They have their own data model but want to align it with the IDS infomodel. In that course they had written a spreadsheet comparing the two models and asking us questions. They will provide us with a revised version of their spreadsheet, which we'

[2021-11-01 15:12] sebbader commented on #471
Hello @MoritzKeppler, @clange,

the B10 stands for the number of the requirement in the previous version of the Metadata Broker Specification. Nothing critical therefore.

@MoritzKeppler, we have actually thought about this already. Our current idea is to use contracts that have the Metadata Broker's URI at the ids:assignee attribute, and that this rule (either ids:Permission or ids:Prohibition) m

[2021-11-01 15:17] sebbader commented on #470
Hello @MoritzKeppler,

the currently implemented behavior of an ids:ResourceUpdateMessage is that of a PUT: Overwrite if existing, else Create new one. Therefore, an update to an empty Catalog will result in a newly added ids:Resource.

Second, the order of the incoming messages defines the new state. That means that the reference implementation of the Metadata Broker only looks what is the last r

[2021-11-01 15:19] sebbader commented on #469
Hello @MoritzKeppler,

that's true, a Metadata Broker could also publish its own Resources, and own access endpoints for instance. The difference can be outlined by using an ids:sovereign attribute pointing to the identifier of the Metadata Broker's operator. Then the client connectors can see that these resources are "owned" by the organization behind this Metdata Broker.

[2021-11-01 15:26] sebbader commented on #466
Hello @DominikPinsel,

you can do it like that, yes. Please note however, that from an IDS Usage Control perspective, the values of an ids:contractAnnex are purely informative and non-normative. Meaning, if the declared ids:Permissions/ids:Prohibitions are not completely aligned with the (natural language) annex texts, no Usage Control engine can be expected to recognize this. It might however be

[2021-11-02 06:55] MoritzKeppler commented on #471
Guess it can work in that way, yes. It's a contract allowing a broker to present a resource + contract offers to specific participants.
But quite hard to foresee if this is really needed, feels like a solution that comes with some complexity...

A broker sharing a catalog feels like a good solution if it's about public data, e.g. for creating a common marketplace.
If a connector has to keep an off

[2021-11-02 14:00] HeinrichPet opened #521 "Catalog Title+Description"
In the latest DSC UI version we now use IDS catalogs in which multiple resources can be stored. This is very helpful for the provider to sort his resources. Unfortunately, the catalogs cannot be given titles in the information model, so when a consumer queries the catalogs, he does not know what he will find under which catalog.

Accordingly, we would wish that a catalog also gets a title and a de

[2021-11-02 19:39] DominikPinsel commented on #466
Hello @sebbader,

thanks for your reply. I think this answers my question and I've gotten a better understanding how to use this property :)
@softabout is currently working in another project, but I assume it's also ok for him if you close this issue now.

<sub>Dominik Pinsel <dominik.pinsel@daimler.com>, Daimler TSS GmbH, [legal info/Impressum](https://github.com/Daimler/daimler-foss/blob/master/

[2021-11-03 09:11] DominikPinsel opened #522 "Relationship between ContractOffer and Resource"
Hello everyone,

I've got a question regarding the `Resource` and `ContractOffer`.

I'm assume that a `Resource` is the thing I want to exchange. For example if I have weather data for different cities, I would create a `Resource` object for each city. And this `Resource` then has it different `Representations` and `Artifacts` of the data.
For me it gets confusing when I want to create a `Contract

[2021-11-03 15:10] pnlinden commented on #490
Thank you for the changes! I just noticed one more thing while looking through the output of the CodeGen Tool:
The classes in the helper file used to be ids-classes. As such, we sometimes had some hierarchical statements, e.g. `ids:Rule rdfs:subClassOf ids:Described ;`, `ids:Duty rdfs:subClassOf ids:Rule ;`, ... This kind of relation does not exist anymore in the helper file, such that e.g. the pr

[2021-11-04 12:43] lcomet commented on #490
@pnlinden Please note that the requested changes regarding the missing subclass relations have been implemented under commit 78da3cd

[2021-11-04 13:08] #466 closed

[2021-11-04 13:13] #469 closed

[2021-11-04 13:50] #470 closed

[2021-11-04 13:53] #471 closed

[2021-11-04 14:26] JohannesLipp commented on #521
Good point! Following [dcat-3](https://www.w3.org/TR/vocab-dcat-3/), we could reuse `dct:title` and `dct:description` to the Catalogue's SHACL shapes.

[2021-11-04 14:26] HaydarAk commented on #521
I'll take a look into it.
Should be easy to add.

[2021-11-05 08:21] changqin26 commented on #522
`Is it correct to put the ContractOffer into each Ressource?`
Yes. You can reference a ContractOffer from the line 65 to 103 in a Resource template https://github.com/International-Data-Spaces-Association/InformationModel/blob/develop/examples/domain-specific-semantics-using-SHACL/TEMP_RESOURCE.ttl.

[2021-11-05 08:29] changqin26 commented on #522
`Is it correct that the ContractOffer of one Resource may reference artifacts of other Resources?`
Yes. In IDS Infomodel, we use ids:target to point from one Rule inside a ContractOffer to its Resource artifact. The range of ids:target should be a URI representing either an Asset or an AssetCollection. When it is pointing to an AssetCollection, then it references not only one Resource but also oth

[2021-11-05 12:01] DominikPinsel commented on #522
@changqin26 Thanks for your reply. That's really interesting. I must say, that I never thought about AssetCollection IDs in Contracts until now.
So to stay with the weather example. The best way to do this would be:
- Create 10x `Resource` for each city
- Create 1x `AssetCollection`, containing each `Resource`
- Create 1x `ContractOffer`, targeting the `AssetCollection`
- Put the `ContractOffer` i

[2021-11-08 07:30] changqin26 commented on #522
Yes, in this way, the content of the `ContractOffer` will apply to each `Resource` in the `AssetCollection`.

[2021-11-08 13:14] #522 closed

[2021-11-08 13:50] DominikPinsel opened #523 "Information Model as sub-set of ODRL"
Hello everyone,

please correct my if I'm wrong. As far as I understand the Information Model and ODRL - and I don't understand ether of them that well - it looks like both models are not as compliant as its intended.

The IDSA Position Paper Usage Control V3 says:

Based on this text I assume that parts of the Information Model are intended to work as a sub-set of ODRL. This would mean that the I

[2021-11-08 14:05] HeinrichPet commented on #521
I would appreciate if this non breaking change would be realized before 5.0.0

[2021-11-09 07:28] JohannesLipp commented on #521
As long as we do not introduce these as mandatory fields, this should be a non-breaking change and therefore to be released in prior to 5.0.0. Adding the respective label.

[2021-11-10 16:10] pnlinden commented on #490
Thank you! I tested the new version and it seems to be all good now! The branch for the CodeGen Tool is prepared and when the update to InfoModel 5.0.0 comes around, we can merge that branch accordingly.

[2021-11-12 08:17] juliapampus commented on #523
@hosseinzadeha

[2021-11-12 11:47] hosseinzadeha commented on #523
Dear @DominikPinsel, first of all thank you for your concern.
The ODRL Language is very simple and easy to use but it is not covering all the issues in IDS world. Therefore, the IDS Usage Control Language was initially defined as a [**profile**](https://www.w3.org/TR/odrl-model/#profile-mechanism) of ODRL Language. So we could extend the ODRL concepts. Later on, IDS language grew even more and now

[2021-11-17 13:31] juliapampus commented on #521
Maybe you should think about adding title and description as optional attributes for various types, not only catalogs, in the long term - if this is not already the case. This somehow could allow an easier identification of objects. For example, the DSC defines all objects as `Entity` with a subclass called `NamedEntity`, containing the attributes `title` and `description`, that all model classes

[2021-11-23 13:10] HeinrichPet commented on #521
For example: Representation, Catalogs, Artifacts, .....

[2021-11-24 12:40] clange commented on #190
@sebbader @changqin26
@JohannesLipp @HaydarAk
I think the Java code generator has for a  long time been able to handle non-IDS namespaces. Therefore, this problem has been solved, hasn't it, and the issue can be closed – right?

[2021-11-24 13:11] changqin26 commented on #190
Yes, the basic functionality works for more than IDS.

[2021-11-24 14:06] #190 closed

[2021-11-25 13:32] lcomet commented on #505
@JohannesLipp @HaydarAk  I implemented the required changes int the branch [extendSHACLShapes-enhancement](https://github.com/International-Data-Spaces-Association/InformationModel/commits/extendSHACLShapes-enhancement)
For more details about the specific changes and additional notes, please refer to the document [Implementation Extend SHACL shapes](https://github.com/International-Data-Spaces-Ass

[2021-11-25 14:44] clange opened #525 "Mention LTS and latest stable release in IDS-G-pre"
https://github.com/International-Data-Spaces-Association/IDS-G-pre/blob/main/README.md should reflect the latest state of infomodel maintenance:
* that we have an LTS version
* that we have a more recent stable version
* and that we have work in progress, including the "develop" branch

Please submit a pull request to IDS-G-pre.

[2021-11-25 14:52] clange opened #526 "Get documentation ready for IDS RAM 4.0"
Current ideas:
1. RAM should be a high-level "digest", e.g., mention the C-hexagon but not the concrete W3C standards such as DCAT
2. detailed documentation would be best to maintain in the static texts within the Widoco-generated documentation at https://w3id.org/idsa/core (as this will be updated in accordance with the infomodel release cycle)
3. IDS-G (via pull requests on IDS-G-pre) should be

[2021-11-25 14:55] clange opened #527 "Remove obsolete parts from the static infomodel documentation"
https://w3id.org/idsa/core contains old static documentation, e.g., about the "Parameter" concept, which we removed from the infomodel implementation for v4.0.0.
This is a concrete prerequisite for #526.

[2021-11-25 14:59] JohannesLipp commented on #344
Was solved via #346

[2021-11-25 14:59] #344 closed

[2021-11-26 16:53] tomkxy commented on #481
Thanks for the explanation and sorry my late reply. Looking at the topic again while our devs are trying to do implementation on the GUI, we realize the following. Let's assume the following use case: You have a data resource with a couple of representations each representation having one artifact. Now you want to display this on a GUI utilizing the generated Java classes.

You display the attribu

[2021-11-29 11:49] riannella commented on #448
I would strongly support this suggestion. Adding SKOS is important for vocab tool support.

[2021-11-29 12:42] riannella commented on #257
You can certainly use an odrl:AssetCollection to represent a collection of assets that the policy applies to.
You can then use odrl:partOf to indicate which individual target assets are part of the AssetCollection

[2021-11-29 12:56] riannella commented on #490
As a note, SKOS allows an owl:objectProperty to also be an skos:Concept:
  https://www.w3.org/TR/2009/REC-skos-reference-20090818/#L896

[2021-11-29 12:59] riannella commented on #514
odrl:hasPolicy is used by DCAT3.
Other ontologies use it: https://ai.wu.ac.at/policies/orcp/regulatory-model.html#hasPolicy

[2021-11-29 13:32] hosseinzadeha commented on #523
Hi,
I am glad that you joined this discussion. The followings are two examples; one for delete data **after it is used** and another one to replace the value of jsonpath "$.bufget" with a defined string value "XXXX" **before it is used**. The policies are specified in the IDS namespace and are compatible to the IDS Information Model V4.0.

[code]

and

[code]

[2021-11-30 07:24] DominikPinsel commented on #523
Thanks a lot for all the answers and sorry for not replying :) I've now a lot more to read about ODRL and it's profiles. My issue regarding the pre- and post-duty is resolved. Therefore I will close this issue.

<sub>Dominik Pinsel <dominik.pinsel@daimler.com>, Daimler TSS GmbH, [legal info/Impressum](https://github.com/Daimler/daimler-foss/blob/master/LEGAL_IMPRINT.md) </sub>

[2021-11-30 07:24] #523 closed

[2021-12-01 01:25] riannella commented on #523
Did you still want me to comment on the above examples?
(and the concept of pre/post Duties?)

[2021-12-01 09:20] hosseinzadeha commented on #523
@riannella I initially explained why the IDS preduties and postduties were introduced. As far as I know, these concepts will be kept in the IDS policy language for now. However, any comment/feedback is appreciated.

[2021-12-01 13:17] hosseinzadeha commented on #523
Right, these two elements help the readers (and the policy enforcement technologies) to know whether the duty actions (e.g. modify, delete, etc) must be executed before or after the rule actions(e.g. use, display, read, etc.). Currently, this is the only way that the sequence of executing the duty actions and the main rule actions are expressed in IDS language.

[2021-12-02 15:45] sebbader commented on #481
Hello together, after a short discussion with @tomkxy I feel finally qualified to also put my two cents. I think the problem is that as soon one has traversed to a Representation or Artifact, the only way to get the `accessUrl` by following an edge backwards. This is possible via SPARQL but not - for instance - the Java implementation where only one-way lookups are possible.
We had the property at

[2021-12-02 15:45] sebbader commented on #481
I don't have a good idea yet. Adding redundant (potentially conflicting) attributes doesn't sound good to me.

[2021-12-07 12:03] clange opened #530 "DCAT-conforming title and description for all infomodel terms"
In the same direction as discussed in #521 it turns out that for the Eclipse Dataspace Connector each term in the infomodell needs to have (in conformance with DCAT) a `dct:title` and a `dct:description`. So far we have had a good coverage, but using `rdfs:label` and `rdfs:comment`. The decision to be taken (@sebbader what do you think from a Java perspective?) is to either replace the RDFS proper

[2021-12-07 12:13] sebbader commented on #530
Reading through https://github.com/International-Data-Spaces-Association/InformationModel/issues/521, I think the requirement is not to replace the RDFS terms but to enhance them with additional attributes to give the instances also "title"/"description" capabilities.
On the Java-side, we already have an artificial top class, from which all other classes inherit, and this class can have these attr

[2021-12-07 13:11] JohannesLipp commented on #530
Please note that #504 replaces all existing `ids:title` with `dct:title`, and `ids:description` with `dct:description`. This (following [this comment](https://github.com/International-Data-Spaces-Association/InformationModel/issues/490#issuecomment-897635285) and the subsequent discussion) is probably already fully supported by the Java Lib.

![image](https://user-images.githubusercontent.com/1593

[2021-12-07 15:41] kragall opened #531 "Pagingation in IDS"
When Connectors query data from the Clearing House, they can either query for a single stored document or for all documents that are stored under a `process_id`. In the latter case this can result result in problems with too large responses, e.g. long response times or very large response messages.

In order to avoid these issues the Clearing House offers the Connectors the possibility to add quer

[2021-12-08 09:45] kragall opened #532 "Model of Data in Clearing House"
To store `data` in the Clearing House a Connector creates a `LogMessage` and sends it together with `data` as the payload to the Clearing House. The Clearing House stores this `LogMessage` together with meta-data, such as a timestamp when it stored the data or the `id` under which `data` can be retrieved. This is illustrated here:

![Log Entry drawio](https://user-images.githubusercontent.com/2641

[2021-12-09 16:22] sebbader commented on #530
Hi @JohannesLipp, I think the output should be a bit different, using https://github.com/International-Data-Spaces-Association/InformationModel/blob/refactorIDSModel-enhancement/model/infrastructure/AppStore.ttl as an example:
[code]
And that for every class that is "important enough". Then of course `dct:title rdfs:domain  ids:AppStore` is a bit stupid because it would need to be repeated for eve

[2021-12-10 13:25] tmberthold opened #533 "Token.ttl ids:nbf comment"
https://github.com/International-Data-Spaces-Association/InformationModel/blob/018abfe8a1e96ac842cccc99d4ae1dddfdc838cc/model/security/Token.ttl#L104

doesn't match to it's comment

https://github.com/International-Data-Spaces-Association/InformationModel/blob/018abfe8a1e96ac842cccc99d4ae1dddfdc838cc/model/security/Token.ttl#L109

probably a comment copy-paste error

[2021-12-13 15:04] anilturkmayali commented on #520
Hi @clange, Denis Tissen shared this file (you have mentioned) with me and I'm supporting them in uploading it here. You can access it via the link below and reorganize it according to the repository's structure.

[Meta-Data for data offerings_GitHub.xlsx](https://github.com/International-Data-Spaces-Association/InformationModel/files/7704715/Meta-Data.for.data.offerings_GitHub.xlsx)

Thank you,
B

[2021-12-14 15:55] sebbader opened #534 "Participant.legalForm is mandatory but should be optional"
https://github.com/International-Data-Spaces-Association/InformationModel/blob/018abfe8a1e96ac842cccc99d4ae1dddfdc838cc/testing/participant/ParticipantShape.ttl#L110 states that Participant.legalForm has cardinality min 1 and max 1 --> is mandatory. However, there are many use cases where I want to speak about an IDS Participant without even knowing his legalForm. Therefore, I am voting to remove

[2022-01-06 09:52] #461 closed

[2022-01-06 09:52] #490 closed

[2022-01-10 11:57] JohannesLipp commented on #534
That might be inspired by recent Gaia-X development, which however only introduced this for provider but not for participants in general. We might therefore set this to optional (e.g., `sh:minCount 0`) in this general context indeed.

[2022-01-13 14:24] JohannesLipp commented on #532
Thank you for raising this! Could you please state the additional fields you need? A solution could indeed add additional fields to `LogMessage`, or create a complete new class `LogEntry`, if required. The first option is preferable, if no additional logic should be applied.

[2022-01-14 07:41] HeinrichPet commented on #521
@JohannesLipp We want to enable the user to name or identify objects in the IDS information model. Currently this is only possible via the very cryptic IDs, which is not very intuitive.
So, in order to provide a good user experience with the IDS, as many objects as possible need an entity with the attributes title and description. This makes it possible to describe the purpose of an object and mak

[2022-01-17 15:34] kragall commented on #532
The meta-data fields we store currently are:
- **transaction_id**: This is basically a counter with a unique (unique in the database) number for each stored message.
- **process_id**: This is a string that describes the process under which the message is logged. Think of it as the label of the folder under which the message has been filed together with other messages.
- **document_id**: This is a

[2022-01-20 14:44] JohannesLipp commented on #532
Task:
1) Create new class `LogEntry` that holds the given metadata fields, and
2) Link from `LogEntry` to the existing `LogMessage` class via a new property.

[2022-01-27 12:24] HaydarAk commented on #340
Should be generally covered by now, via the `ids:endpointInformation` and `endpointDocumentation` properties.
There is no clear requirement for additional properties.

[2022-01-27 12:24] #340 closed

[2022-01-27 13:20] #351 closed

[2022-01-27 13:46] HaydarAk commented on #439
Duplicate of #532

[2022-01-27 13:46] #439 closed

[2022-01-28 08:42] #342 closed

[2022-01-28 08:42] #489 closed

[2022-02-03 09:01] JohannesLipp opened #537 "Make temporalResolution point to a duration instead of frequency"
The [DCAT-3 spec](https://www.w3.org/TR/vocab-dcat-3/#temporal-properties) defines:

"The minimum temporal separation of items in a dataset is given using [dcat:temporalResolution](https://www.w3.org/TR/vocab-dcat-3/#Property:dataset_temporal_resolution). The value is encoded as a [xsd:duration](https://www.w3.org/TR/xmlschema11-2/#duration)." Refers to #277 and #109

The IDS currently defines in

[2022-02-04 08:39] sebbader commented on #495
Hello @alexandrudanciu, you have a point here. I guess we can add an optional attribute to the ids:Message class to allow callbacks. @HaydarAk @changqin26 can you make a quick suggestion?

[2022-02-08 09:16] changqin26 commented on #495
ids:callbackURL a owl:DatatypeProperty;
    rdfs:label "callback URL"@en;
    rdfs:comment "A callback URL must be provided by the initiating connector "@en;
    rdfs:domain ids:ResponseMessage ;
    rdfs:range xsd:anyURI ;
    @alexandrudanciu , @HaydarAk  Do you think this proposal fits the requirement?

[2022-02-18 09:22] alexandrudanciu commented on #495
Hi @changqin26 Thank you for the proposal.

I am not sure if the new model suggest that only async ids:messages are allowed now, or if also sync messages would be possible (implied by an empty callbackURL).

[2022-02-21 09:41] #537 closed

[2022-02-21 14:36] clange commented on #173
Even better than what we did in #296 (referring to Wikidata), it would be better to use https://github.com/spdx/license-list-data. We discovered the latter in the course of our Gaia-X work.

[2022-02-24 11:26] domreuter commented on #521
@JohannesLipp Are there any updates on this one? Seems to be a valid argument to introduce these changes instead of using workarounds in the underlying data models to overcome this issue.

[2022-03-01 09:47] JohannesLipp opened #545 "Enable Java Library Generation for Domain-specific Extensions"
Context:

- Recent PR #504 to reuse external concepts directly
- Soon-to-be-merged PR #543 that provides a hands-on manual for developers

Suggested steps for domain- or application-specific extensions are:

1. Decide what to model
2. Use the IDS Information Model as a basis for describing the different components
3. Extend the IDS Model with the local/custom definitions and restrictions

@mkollen

[2022-03-03 14:14] changqin26 opened #549 "Missing prefixes of external ontologies in the SPARQL queries in the Shacl Shapes"

[2022-03-03 14:34] JohannesLipp opened #550 "Release v4.2.0"
## Type of change: Release

## Checklist:
- [ ] Provide complete validation shapes for the new ontology terms; remove shapes for the old ones

### Checklist for releases:

#### Before a release:
- [ ] Update changelogs
- [ ] Rerun ontology creation script (`create-ontology-ttl.sh`) with the version number of the release. E.g., `create-ontology-ttl.sh 4.2.0`
- [ ] Update and validate the examples a

[2022-03-03 14:35] JohannesLipp commented on #550
Decision: Use the content consolidated in the `ci/december2021` branch for merging into `main` and creating the release.

[2022-03-04 08:02] juliapampus commented on #495
@changqin26 Does this line mean that this will only be added to ResponseMessages? Although the description says that this is send by the initiating participant? However, could we add this callback address to the `ids:Message` in general? Trying to cover asynchronous use cases we have not in mind yet.

Furthermore, as this may not be a URL but any kind of address information for an abitrary system,

[2022-03-09 09:09] JohannesLipp commented on #521
Yes we will tackle this soon, as it is of practical relevance. We are still in the state of transferring Haydar's issues (like this one) to other colleagues, who will solve them. We will keep you tuned.

[2022-03-09 10:34] #505 closed

[2022-03-22 11:23] jlangkau opened #551 "ids:UsagePolicyClass NOT subClass of odrl:Policy ?"
https://github.com/International-Data-Spaces-Association/InformationModel/blob/develop/model/contract/UsagePolicyClass.ttl

[2022-03-24 13:14] changqin26 commented on #551
Thanks for the hint. ids:UsagePolicyClass should be the subclass of odrl:Policy. We will add it.

[2022-03-24 14:20] JohannesLipp commented on #478
@tomkxy sorry for the late reply. Could you please comment if the issue still remains and still needs to be tackled? Thank you in advance!

[2022-03-24 14:23] #475 closed

[2022-03-24 14:23] JohannesLipp commented on #475
Too unspecific for now; we will tackle this as soon as we have more precise requirements. Closing for now.

[2022-03-24 14:37] JohannesLipp commented on #347
Task = Inspect (e.g., via a "search in files"), where that problem still remains and remove it.

[2022-03-24 14:39] JohannesLipp commented on #347
It might be sufficient to remove [this bad part](https://github.com/International-Data-Spaces-Association/InformationModel/blob/6aa9ac182f65142ac5290507d84a18809199af20/examples/TEXT_RESOURCE.jsonld#L121) in our examples.

[2022-03-24 14:41] JohannesLipp commented on #332
@lcomet Could you please evaluate if this was covered by our T60 application profile contributions? Thank you!

[2022-03-24 14:43] JohannesLipp commented on #329
@jlangkau is this still up-to-date or did you solve that issue in the meantime? Thank you in advance!

[2022-03-24 14:46] JohannesLipp commented on #328
@jlangkau is this still up-to-date? We now have a [discussion forum](https://github.com/International-Data-Spaces-Association/InformationModel/discussions) in our GitHub repo for such purposes. Maybe this was already solved by above-mentioned Plugfest collaborations. Thank you in advance.

[2022-03-24 14:49] JohannesLipp commented on #291
Closed due to inactivity.
@hosseinzadeha if that topic is still relevant, please simply reopen this issue and comment further tasks, thank you!

[2022-03-24 14:49] #291 closed

[2022-03-24 14:52] JohannesLipp commented on #285
Closed due to inactivity.
@mkollenstart please simply reopen (and comment recent updates) if this is still relevant, thank you! Please note that we will have  focus sessions on the IDS Infomodel during the next IDS Plugfest sessions. Please feel free to contribute a spotlight on interesting topics (e.g., like this one, if it is still relevant).

[2022-03-24 14:52] #285 closed

[2022-03-24 14:55] JohannesLipp commented on #281
Good point indeed! This is only required if the same shapes also use SPARQL queries (cf. https://www.w3.org/TR/shacl/#sparql-prefixes). Task = Remove all `sh:declare` statements that are not used in SPARQL queries.

[2022-03-24 15:05] JohannesLipp commented on #98
Closed due to inactivity. Please re-open and comment a more recent state if required. Thank you!

[2022-03-24 15:05] #98 closed

[2022-03-24 15:06] JohannesLipp commented on #60
Closed due to inactivity.

[2022-03-24 15:06] JohannesLipp commented on #57
Closed due to inactivity.

[2022-03-24 15:06] #57 closed

[2022-03-24 15:07] JohannesLipp commented on #30
Closed due to inactivity / outdated.

[2022-03-24 15:08] JohannesLipp commented on #26
Closed due to inactivity (outdated). Please reopen and comment a recent state, if required. Thank you!

[2022-03-25 07:36] changqin26 commented on #551
Hi @jlangkau, sorry I overlooked something in the Infomodel. In the IDS infomodl, ids:Contract is the subClassOf odrl:Policy. Please see here: https://github.com/International-Data-Spaces-Association/InformationModel/blob/e9bc60fb2c260728cbcd767be744b44c5b665112/model/contract/Contract.ttl#L14

Hi @hosseinzadeha, can you please help me with this point: Is there a relation between ids:Contract and

[2022-03-25 08:05] hosseinzadeha commented on #551
@changqin26 Hi, I bring the three definitions here:
**An IDS Contract** is implicitly divided to two main sections: the contract specific metadata and the IDS Usage Control Policy of the contract.
So an IDS policy is a part of a Contract which contains usage restrictions.
**A Usage Policy Class** is an atomic policy template that refers to a specific restriction on the data usage. For example, "re

[2022-03-25 08:19] changqin26 commented on #551
Many thanks @hosseinzadeha for your explanation!
@jlangkau, I hope @hosseinzadeha's comment also helps you and I will close the issue.

[2022-03-25 08:19] #551 closed

[2022-03-25 09:29] lcomet commented on #332
Hi @JohannesLipp the property ids:usageDuration was not covered under the T60. The reason is that there is no reference to external properties for its definition except for the range which is xsd:duration, meaning that it was not redundant. As far as I understand this issue is related to a confusion between the range definition and the associated comment, which was modified under [PR ](https://git

[2022-03-26 14:04] tomkxy commented on #478
If there hasn't been any changes in the Infomobil V5, then it is still present. Though, we have been worked around. But anyway, I still find it cumbersome.

[2022-03-29 12:21] VladimirAlexiev commented on #26
@HaydarAk How did you make those code excerpts from the source tree?

[2022-03-29 12:27] VladimirAlexiev commented on #26
@JohannesLipp I briefly searched for "license" but cannot find relevant files?

It seems you now use ODRL? eg https://github.com/International-Data-Spaces-Association/InformationModel/blob/develop/examples/contracts-and-usage-policy/templates/ConnectorbasedAgreementTemplates/CONNECTORBASED_AGREEMENT_TEMPLATE.ttl

[2022-03-31 13:12] changqin26 commented on #549
Solved this problem in a PR.

[2022-03-31 13:12] #549 closed

[2022-03-31 13:17] JohannesLipp commented on #317
Closed due to inactivity. Please comment & reopen, if still relevant. Thank you!

[2022-03-31 13:17] #317 closed

[2022-03-31 13:18] JohannesLipp commented on #290
Closed due to inactivity. Please comment & reopen, if still relevant. Thank you!

[2022-03-31 13:18] #290 closed

[2022-03-31 13:19] JohannesLipp commented on #268
Closed due to inactivity. Please comment & reopen, if still relevant. Thank you!

[2022-03-31 13:19] #268 closed

[2022-03-31 13:19] JohannesLipp commented on #267
This is nowadays automatically covered during our "new version checklist", cf. https://github.com/International-Data-Spaces-Association/InformationModel/blob/develop/.github/PULL_REQUEST_TEMPLATES/PULL_REQUEST_TEMPLATE.md

[2022-03-31 13:19] #267 closed

[2022-03-31 13:20] JohannesLipp commented on #266
Closed due to inactivity. Please comment & reopen, if still relevant. Thank you!

[2022-03-31 13:22] JohannesLipp commented on #144
This is a very interesting research topic, but indeed needs a properly designed use-case to be pursued.

Therefore: Closed due to inactivity. Please comment & reopen, if still relevant. Thank you!

[2022-03-31 13:22] #144 closed

[2022-04-04 14:48] JohannesLipp opened #553 "Some Links on the Widoco Page are not Clickable"
See https://w3id.org/idsa/core, which redirects to https://international-data-spaces-association.github.io/InformationModel/docs/index.html#

![image](https://user-images.githubusercontent.com/15930331/161569768-ee6eefe6-b937-4b3a-9f97-6a90e25fbeb0.png)

Clicking on any class or property (e.g., `AppRoute`) [adds a redirect within the current page](https://international-data-spaces-association.gith

[2022-04-06 09:14] lcomet commented on #553
The problem was originated from the wrong formatting of the hrefs.
The solution includes the modification of the script generating the documentation to include the removal of trailing slashes for the .html files referring to the overview section. Moreover, the manual modification of the .html files for older versions of the document.
The following commits close this issue: 017d8d9f750bc658ec3d3362

[2022-04-06 09:14] #553 closed

[2022-04-07 11:48] SebastianOpriel opened #554 "Remove Infomodel Maven Java-Artifact 4.3.0"
There seems to be a version 4.3.0 that resulted from a wrong sem-versioning (see release date).
See https://maven.iais.fraunhofer.de/ui/native/eis-ids-public/de/fraunhofer/iais/eis/ids/infomodel/java/
It would be great to remove this version to avoid confusion. Especially Dependabot-Updates rely on version names, instead of timestamps. Thus, one could tap into this versioning-issue by mistake.

[2022-04-07 13:41] JohannesLipp commented on #56
A good approach would be integrating the strong CI pipelines from other projects such as Gaia-X, including RDF+SHACL unit tests, validation, documentation, etc.

[2022-04-07 13:44] JohannesLipp commented on #257
@hosseinzadeha Can you re-evaluate if this is still relevant? Any maybe comment with your expertise in the ODRL context? Thank you!

[2022-04-08 00:46] riannella commented on #257
Just to clarify, you can have many individual assets in a Policy - see Example 26 here: https://www.w3.org/TR/odrl-model/#composition
This is the 'compact' version of the Policy, which _would/could_ be expanded to the 'atomic' policy (see Example 27).

Alternatively, if the assets are part of an identifiable collection, then the "Asset Collection" can be used: https://www.w3.org/TR/odrl-model/#con

[2022-04-08 13:55] PHochmann opened #556 "dcat:accessRights in UsagePolicies"
Since DCAT already uses DublinCore's RightsStatement, ids:UsagePolicyClass could be aligned with it.

[2022-04-13 10:33] hosseinzadeha opened #557 "How to refer to the data in a policy (IDS Artifact vs. ODRL Asset)"
When we specify a policy:

- Once we already have a set of documents that we would like to share on the platform. We can uniquely identify (a copy of) them and refer to them as an Asset Collection and specify a policy for their usage. In order to enforce the policy, the Asset Id would be sufficient.
- In another case, we are defining a contract for an Asset Collection that is not materialized yet;

[2022-04-13 10:35] hosseinzadeha commented on #257
Thank you @riannella. I think your explanation helped to clarify how to connect a policy to a collection of Assets. Though it is still unclear for us how to refer to an Artifact which hasn't been materialized yet. For it I created a new issue:
https://github.com/International-Data-Spaces-Association/InformationModel/issues/557

@JohannesLipp In my opinion, we can close this one.

[2022-04-13 14:06] pnlinden commented on #554
Version 4.3.0 is deleted from the maven artifactory. As it was identical to version 4.2.3, I added a note [here](https://github.com/International-Data-Spaces-Association/Java-Representation-of-IDS-Information-Model/blob/main/Changelog.md) to switch to that previous version if for some reason anyone still had a dependency to version 4.3.0 .

[2022-04-13 14:06] #554 closed

[2022-04-14 12:53] riannella commented on #557
The ODRL model as always been relatively agnostic to the Asset identifier - it is the subject of the Policy rule.

If a system defines identifiers for assets/collections that don't exist yet, then the ODRL model will not prevent these being used in the **expression** of a Policy. The **enforcement** of the policy (which is not in scope of the model) would have to deal with an identifier that has n

[2022-04-14 13:25] changqin26 commented on #556
dct:accessRights is the property of dcat:Distribution, which is already existed in our ontology. In the dcat, it has: dcat:Distribution dct:accessRights dct:RightsStatement. Does it mean that we should replace ids:UsagePolicyClass with dct: RightsStatement? @hosseinzadeha Can you please help us how to align this? For now, we just use ids:UsagePolicyClass describing DataApp here https://github.com/

[2022-04-21 08:32] #257 closed

[2022-04-21 09:20] hosseinzadeha commented on #556
@PHochmann Hi, it is not clear to me what you mean by aligning these two concepts. For now, what I see is that the dct:RightsStatement addresses Access Control issues while the ids:UsagePolicyClass refers to the Usage Control restrictions such as Count the usage, notify a Data Provider about the usage, Delete the data after the usage, etc. These usage restrictions cannot simply be expressed by Rig

[2022-04-21 11:21] PHochmann commented on #556
@hosseinzadeha My proposal of using dct:accessRights was wrong, DCAT explicitly says that dct:accessRights is only to be used to describe access and not usage, dct:rights would be the right property that catches all other usages (see https://www.w3.org/TR/vocab-dcat-2/#license-rights)
On the other hand, I understand dct:RightsStatement to be generic about every type of rights. Thus, I'd suggest re

[2022-04-21 16:31] JohannesLipp commented on #38
There are 11 in `RejectionReason.ttl` and we currently have no requirements for more, so closing this.

[2022-04-21 16:31] #38 closed

[2022-04-21 16:32] JohannesLipp commented on #133
Closed due to inactivity. Please comment & re-open if required.

[2022-04-21 16:32] #133 closed

[2022-04-21 16:33] JohannesLipp commented on #58
Closed due to inactivity. Please comment & re-open if required.

[2022-04-21 16:33] #58 closed

[2022-04-21 16:34] JohannesLipp commented on #55
Closed due to inactivity. Please comment & re-open if required.

[2022-04-22 07:58] hosseinzadeha commented on #556
Policy Classes are used for tracking which kinds of usage restrictions can be enforced. It is a Usage Control concept which can be put out of Information Model but cannot be replaced by "dct:rights". Maybe we could arrange a meeting and discuss about it. @Brandstaedter could join too.

[2022-04-25 07:52] PHochmann commented on #521
There exists an abstract class ids:Described that has an dct:title and dct:description in its SHACL-Rules [1]. Currently, only a limited number of IDS-Classes inherit from this class, such as ids:Resource and ids:ManagedEntity. We could make more IDS-Classes subclasses of ids:Described. That would be non-breaking, as it contains no mandatory fields. @HeinrichPet Which classes should be included?

[2022-04-26 09:38] sebbader commented on #329
This one is outdated, yes, and can be closed.

[2022-04-26 13:09] #329 closed

[2022-04-28 20:40] HeinrichPet commented on #521
As allready mentioned:

Routes, Subroutes, ...

Maybe you just go through the information model and imagine what a user might want to title to make it easier to find again.

[2022-04-29 05:06] JohannesLipp commented on #521
@PHochmann then please do that change for these five classes: `Representation`, `Catalogs`, `Artifacts`, `Routes`, `Subroutes`.

[2022-05-03 13:18] sebbader commented on #545
Hi @JohannesLipp, does step 4 mean that developers shall be in the position to run the Java model generator by themselves? If so, the IP of the generator is, for now, still exclusively with Fraunhofer and I am not sure if it will be released
 soon/at all.

[2022-05-05 13:31] JohannesLipp commented on #545
@sebbader thank you for raising this. I too have no precise approach for that in mind yet. Since the Java library is of central use for many developers, we still need to find some way to enable people to extend it. If there is no self-maintained way in the near future, the only solution seems to be a semi-manual way including Fraunhofer-IP-responsible persons correct?

[2022-05-05 15:53] #521 closed

[2022-05-09 11:54] aamir9138 opened #562 "Error while loading Ontology to Protege"
I am getting the  error **(ERROR  11:03:33  Entity not properly recognized, missing triples in input? http://org.semanticweb.owlapi/error#Error1 for type Class
)**  when loading the Ontology to Protege 5.5.0 from the below Link.

[https://international-data-spaces-association.github.io/InformationModel/docs/serializations/ontology.ttl](url)

[2022-05-12 13:08] #495 closed

[2022-05-12 13:13] JohannesLipp commented on #562
@aamir9138 thanks for reporting this! Could you please try importing the ontology from the following link? At https://w3id.org/idsa/core , you can choose between different serializations including RDF/Turtle:
![image](https://user-images.githubusercontent.com/15930331/168082846-fe992d3d-6a3d-4e9f-86a9-5bc1c3883930.png)

One deep-link to the ontology might e.g. be https://international-data-spaces-

[2022-05-12 13:48] JohannesLipp commented on #444
@milux @obraunsdorf is there any update on this? Thank you!

[2022-05-12 13:50] JohannesLipp commented on #328
Closed due to inactivity. Please reopen & comment, if this is still relevant. Thank you!

[2022-05-12 13:50] #328 closed

[2022-05-12 13:54] JohannesLipp commented on #545
The answer to my question is YES.

[2022-05-12 13:54] #545 closed

[2022-05-12 14:03] #430 closed

[2022-05-13 07:32] changqin26 commented on #514
@riannella, many thanks for your hint!

[2022-05-13 07:39] changqin26 commented on #514
In the IDS infomation model, we have:
`ids:Resource ids:contractOffer ids:ContractOffer`
`ids:ContractOffer rdfs:subClassOf ids:Contract, odrl:Offer`
`ids:Contract & odrl:Offer rdfs:subClassOf  odrl:Policy`

And in the ODRL:
`dcat: Resource odrl: hasPolicy odrl: Policy`

From the given statements, it makes sense to set:
`ids:contractOffer rdfs: subClassOf odrl: hasPolicy`

@hosseinzadeha, can you

[2022-05-13 07:51] changqin26 commented on #534
I will create a branch to adjust this.

[2022-05-13 08:23] hosseinzadeha commented on #514
Hi,

From policy specification point of view, there are two ways to relate a policy and the data:
1. Setting the "target" in the policy.
2. Setting the ["hasPolicy"](https://www.w3.org/TR/odrl-model/#policy-has) in the asset description.

Currently, the first option is more used in the implementations but both are completely fine.

`ids:contractOffer rdfs: subClassOf odrl: hasPolicy` is wrong. An

[2022-05-13 08:28] changqin26 commented on #514
Hi @hosseinzadeha ,

we have the relation `ids:contractOffer` and entity `ids:ContractOffer`. What we want to add is the relation `ids:contractOffer` as the subClassOf relation `odrl:hasPolicy`.

[2022-05-13 08:30] changqin26 commented on #512
Hi @clange here is a reminder. You may need to investigate this issue. Thank you!

[2022-05-13 08:33] changqin26 commented on #443
This issue can be closed because the PR is already merged.

[2022-05-13 08:33] #443 closed

[2022-05-13 08:59] Brandstaedter commented on #514
shouldn't a relation indicate that it is a relation, like ids:hasContract which indicates a link to the Asset Contract and why do you need this if Contract is a subclass of odrl:Policy, so you can add to the Property hasPolicy just the URI of the Contract?

[2022-05-13 09:16] changqin26 commented on #514
Hi,

I am really sorry for this misleading typo. It should be `subPropertyOf `instead of `subClassOf`.  If we say `ids:contractOffer is the subProperty of odrl:hasPolicy', would it be right in this case?

[2022-05-13 13:03] riannella commented on #514
Yes, rdfs:subPropertyOf is correct.
You can also se the range to odrl:Offer (i assume)

[2022-05-13 13:05] #534 closed

[2022-05-16 12:43] PHochmann commented on #550
Files from examples/, that currently fail SHACL validation:
[code]

[2022-05-16 15:12] aamir9138 commented on #562
@JohannesLipp I tried the above mentioned serialization options. RDF/XML and TTL both give the same errors. other format have warnings only but our Terminology service currently supports only .ttl, .owl and .obo format.
![image](https://user-images.githubusercontent.com/102156468/168625223-e205e0c4-6c53-47df-a0c9-78e81a110500.png)

[2022-05-19 08:31] changqin26 commented on #513
we don't have ids:Catalog anymore. It is replaced by dcat:Catalog. The definition of dcat:Catalog is:
A curated collection of metadata about resources (e.g., datasets and data services in the context of a data catalog). it already contains the aspect of "collection of metadata", therefore, I think we don't need to do the alignment between dcat:Catalog and odrl:AssetCollection anymore.

What is you

[2022-05-19 08:53] changqin26 commented on #457
Hi @sebbader , is this requirement still required? If yes, can you please give me a use case?

[2022-05-19 10:57] PHochmann commented on #556
Thanks for your response! Closing this issue as `dct:rights` does not apply here.

[2022-05-19 10:57] #556 closed

[2022-05-19 13:13] JohannesLipp commented on #513
Please reopen if it still applies.

[2022-05-19 13:13] #513 closed

[2022-05-19 13:32] JohannesLipp commented on #381
Solved

[2022-05-19 13:32] #381 closed

[2022-05-19 14:19] PHochmann commented on #372
See https://docs.github.com/en/pages/getting-started-with-github-pages/about-github-pages#mime-types-on-github-pages: "While you can't specify custom MIME types on a per-file or per-repository basis, you can add or modify MIME types for use on GitHub Pages. For more information, see [the mime-db contributing guidelines](https://github.com/jshttp/mime-db#adding-custom-media-types)."
For example, ht

[2022-05-24 17:12] lcomet commented on #512
Hi @clange @changqin26 @JohannesLipp I was tracking the error related to this issue. Here is what I found:

It seems the problem originated in the serialization process, even before we run Widoco because we have different content in the serialization folder than there is in the definition of `ids:Artifact` as we have in _Artifact.ttl_ in the model.

In fact, in the **main** and **develop**  branch

[2022-05-25 05:49] JohannesLipp commented on #512
@lcomet thank you for this investigation! Seems like we either forgot to re-generate the serializations for some versions, or we did not merge these into the respective branches (i.e., main or develop maybe?). There is some `doc` directory on main+develop, but it seems to be inconsistent indeed. What do you suggest?

[2022-05-25 07:12] JohannesLipp commented on #562
Thank you very much! @PHochmann please reproduce/investigate this, thank you.

[2022-05-25 08:13] PHochmann commented on #562
I can reproduce this even though I don't understand where the error comes from. E.g.`WARN  09:53:04  Illegal redeclarations of entities: reuse of entity https://w3id.org/idsa/core/action in punning not allowed [Declaration(AnnotationProperty(<https://w3id.org/idsa/core/action>)), Declaration(ObjectProperty(<https://w3id.org/idsa/core/action>))]` does not make sense since `ids:action` is only decla

[2022-05-25 19:13] lcomet commented on #512
@JohannesLipp I am working on modifying the serialization process and testing the changes.
I will keep you updated.

[2022-05-28 19:37] lcomet opened #565 "Add information/warning about outdated versions in the ontology documentation"
Currently we are showing the webpage and also allowing download of previous versions of the ontology.
Adopt similar approach as other ontologies/vocabularies specifications' websites
For reference see: https://www.w3.org/TR/2019/PR-vocab-dcat-2-20191119/

[2022-05-30 11:03] PHochmann commented on #562
Output when importing newest serialization into Protege 5.5.0:

[code]

[2022-05-30 14:14] milux commented on #444
Not really, Sebastian asked me to open that issue, we are still awaiting a reply.

[2022-06-14 09:33] JohannesLipp commented on #512
Thank you very much @lcomet !
Please feel free to close this issue if it is resolved, thank you.

[2022-06-15 15:53] clange opened #569 "Verify whether we need spin:labelTemplate in the usage policy templates"
Our usage policy templates use the `spin:labelTemplate` property. Overall, [SPIN](https://spinrdf.org/) now is a largely obsolete predecessor of SHACL. Thus, do we really still need to reuse this property from SPIN? (Observed by @jlangkau.)

- [ ] Search in all files for `spin:` and read the docu on `spin:labelTemplate`
- [ ] Replace all spin usages with SHACL ones, if applicable
- [ ] Remove spin

[2022-06-20 09:31] changqin26 commented on #512
Thanks a lot @lcomet . The issue can be closed now.

[2022-06-20 09:31] #512 closed

[2022-06-20 11:41] JohannesLipp commented on #562
OK so we are not getting errors. But we can reproduce the warnings, got it. I investigated the ontology source file and found that the mentioned properties are indeed defined more than once.

@lcomet Could you please investigate why for instance `accrualPeriodicity` is defined as [ObjectProperty](https://github.com/International-Data-Spaces-Association/InformationModel/blob/gh-pages/docs/serializa

[2022-06-21 08:48] sebplorenz opened #570 "Implement proper versioning in ids namespaces"
The correct version number is often missing for ids or idsc namespace in the .ttl files.
E.g. the Participant.ttl has been changed several times recently but still refers to the default namespace, as can be seen here:

https://github.com/International-Data-Spaces-Association/InformationModel/blob/5293315deaf69cc7fa6559a291ffd52ba73dc7dc/model/participant/Participant.ttl#L8

Expected behaviour: a s

[2022-06-23 09:39] JohannesLipp opened #571 "Detach Widoco generation from Jive"
Mentioned in today's IDS mail: "As of the middle of August 2022, you will no longer be able to access Jive".

Our current [docu generation scripts](https://github.com/International-Data-Spaces-Association/InformationModel/blob/gh-pages/docs/config/widoco.py#L285) download and use information from Jive.

Please

- [x] Evaluate which of these resources are still needed
- [x] Download/duplicate these

[2022-06-23 13:47] JohannesLipp commented on #570
FYI: If we update the base-URI in line 7 to include a version number, we must also do this for the base-prefix in line 1.

[2022-06-23 13:51] JohannesLipp commented on #526
FYI most (if not all) information is created by a python script: https://github.com/International-Data-Spaces-Association/InformationModel/blob/gh-pages/docs/config/widoco.py

[2022-06-23 13:52] JohannesLipp commented on #526
Blocked by #571

[2022-06-23 13:57] JohannesLipp opened #572 "Remove outdated generated documentation from main"
The [main branch contains outdated Widocu content](https://github.com/International-Data-Spaces-Association/InformationModel/tree/main/docs), but the most recent versions will always be in [the gh-pages branch](https://github.com/International-Data-Spaces-Association/InformationModel/tree/gh-pages/docs).

Please remove the `docs/` directory from `main` and exclusively maintain it on `gh-pages` fro

[2022-06-29 13:05] SebastianOpriel opened #574 "IDS Message Overview missing ConnectorUnavailableMessage"
In the readme a message overview is linked:
https://htmlpreview.github.io/?https://github.com/International-Data-Spaces-Association/InformationModel/blob/feature/message_taxonomy_description/model/communication/Message_Description.htm
Nevertheless, it misses important message types like ConnectorUnavailableMessage

[2022-06-30 11:30] changqin26 commented on #457
The issue is closed because there is no latest update. Please feel free to reopen if the issue needs to be further solved.

[2022-06-30 11:30] #457 closed

[2022-06-30 13:30] sebplorenz commented on #570
@lcomet I'm not an ontology expert, but I thought that this

https://github.com/International-Data-Spaces-Association/InformationModel/blob/5293315deaf69cc7fa6559a291ffd52ba73dc7dc/model/participant/Participant.ttl#L8

should be

[code]

Shouldn't it?

[2022-06-30 13:40] JohannesLipp commented on #514
Decision: Add `ids:contractOffer rdfs:subPropertyOf odrl:hasPolicy` to the IM, and add `odrl:hasPolicy` to the CodeGen helper class, if needed.

[2022-06-30 13:57] JohannesLipp commented on #565
Thank you for raising this! After speaking with @clange , we suggest the following:

Instead of a invasive popup notification, we suggest a lightweight/simple text warning somewhere in the version area (in red, if you like):
![image](https://user-images.githubusercontent.com/15930331/176695990-cd541081-cfbc-463e-95bd-e38d3ca5e9cf.png)

You could update existing HTML updates in the pipeline (which

[2022-07-01 09:38] lcomet commented on #570
@sebplorenz Thank you for your reply.
As far as I understand, it is discouraged to include the versioning information in the URI as it is going to affect the ontology interoperability. Therefore we include the versioning information in the metadata, i.e. in the `owl:versionInfo` tag.

@JohannesLipp Do you have any comments about this issue?
I referenced the document about best practices in the ver

[2022-07-01 09:48] sebplorenz commented on #570
OK. That means, as a "user" of the Infomodel I create an SD of a Participant (with the latest changes), with a reference
[code]
in my participant SD, right?

[2022-07-04 10:51] PHochmann commented on #532
Updated requirements (as given by @kragall ):
* [ ] timestamp: This is the timestamp recording the date when this message was logged by the CH
* [ ] transaction_id: This is basically a counter with a unique (unique in the database) number for each stored message.
* [ ] process_id: This is a string that describes the process under which the message is logged. Think of it as the label of the folder

[2022-07-05 11:59] JohannesLipp opened #576 "Fix example file references in README"
Multiple links in the [README file in the example dir](https://github.com/International-Data-Spaces-Association/InformationModel/tree/develop/examples) are broken:

![image](https://user-images.githubusercontent.com/15930331/177322189-ca465f03-9e58-4ae9-83e8-940527b05322.png)

Please inspect and fix this by either removing affected sections or updating these, thanks!

[2022-07-05 12:28] JohannesLipp opened #577 "Verify that files in our repository comply with validation constraings"
Examples:

- [ ] [conn_self_description.ttl](/examples/rdf-validation-using-shacl/cli/conn_self_description.ttl) contains 3x `ids:fileName` around line 48, while [ArtifactShape](https://github.com/International-Data-Spaces-Association/InformationModel/blob/develop/testing/content/ArtifactShape.ttl#L41) defines `maxCount 1`.
- [ ] [PARTICIPANT_2.ttl](examples/PARTICIPANT_2.ttl) contains `foaf:homep

[2022-07-07 13:12] JohannesLipp opened #579 "Document used licenses from scripts"
Especially the directories [docs/config](https://github.com/International-Data-Spaces-Association/InformationModel/tree/develop/docs/config/) and [utils](https://github.com/International-Data-Spaces-Association/InformationModel/tree/develop/utils/) and examples.

Please comment here and document via mail to Anil Turkmayali <Anil.turkmayali@internationaldataspaces.org>

Deadline = 29.07.

[2022-07-12 18:51] alexandrudanciu opened #580 "Requirement for a custom constraints for refining actions of a usage policy"
Hi,

Within Catena-X we have the requirement to support the specification of a (probably non-enforceable) custom usage condition (specific to the ecosystem and independent of ODRL) as a free text string (e.g., english text paragraph). This generic constraint is intended to be used whenever the left operands (i.e., enums specified by the IDSA) are not suitable to express the terms imposed by the da

[2022-07-13 09:12] PHochmann commented on #579
docs/config/widoco.py:
* requests: Apache Software License (Apache 2.0)

docs/insert_eval_results.py:
* BeautifulSoup: MIT license

utils/test_rewrite_rules.sh:
* curl: FOSS, custom license https://curl.se/docs/copyright.html

examples/queries-using-sparql/:
* Jena: Apache Software License (Apache 2.0)

examples/rdf-validation-using-shacl/:
* Jena: Apache Software License (Apache 2.0)
* slf4j: MIT

[2022-07-13 13:16] #579 closed

[2022-07-14 08:25] #569 closed

[2022-07-14 08:25] #577 closed

[2022-07-14 12:28] lcomet commented on #562
@JohannesLipp
After verification and testing of some scenarios, the summary of my findings is the following:
1. `ids:accrualPeriodicity` is defined in _DigitalContent.ttl_ as a `owl:DatatypeProperty` and a `owl:subPropertyOf dct:accrualPeriodicity` **(up to version 4.1.0 of our ontology)**
2. The definition in point 1. is creating the following effect: `ids:accrualPeriodicity` is treated as an _Ob

[2022-07-14 13:33] #562 closed

[2022-07-14 13:40] JohannesLipp commented on #571
Note to ourselves (incl. @lcomet ): In this issue, we do not yet decide, which things are still relevant. Instead, we keep everything and #526 (and esp. #527 ) continue from there.

[2022-07-19 07:55] JohannesLipp commented on #332
@lcomet there are cases where we updated the `rdfs:range` from IDS-content to something from `xsd`, but we did not update from `ObjectProperty` to `DatatypeProperty`. Example:
![image](https://user-images.githubusercontent.com/15930331/179697351-bdd5c2d8-7059-423a-841b-c50f6972ef70.png)

Please use a regex like `.*owl:ObjectProperty(.*\n){0,8}.* xsd:` to search in all files for relevant places and

[2022-07-28 13:21] clange commented on #580
Hi Alexandru,
thanks for raising this issue. Actually, rather than an issue (i.e., bug report or feature request), this is a discussion item. It would therefore also have been suitable for the [discussion forum](https://github.com/International-Data-Spaces-Association/InformationModel/discussions).

No one stops you from defining additional operands specific to your ecosystem, or even specific to

[2022-08-01 09:40] JohannesLipp commented on #571
Thank you for your great work, @lcomet !

[2022-08-01 09:40] #571 closed

[2022-08-01 09:40] JohannesLipp commented on #527
Please note that the blocker #571 is solved now.

[2022-08-01 09:40] JohannesLipp commented on #526
@PHochmann Please note that the blocker #571 is solved now.

[2022-08-10 16:00] PHochmann commented on #550
Update: Currently waiting for GitHub release 4.2.0 to invoke Documentation generator

[2022-08-11 13:39] #576 closed

[2022-08-11 15:26] PHochmann opened #586 "Fix inconsistencies and bugs of v4.2.0 on main"
To prepare the release of 4.2.0 and to generate the accompanying Java-Code, some changes to main need to be done:

* [ ] AppNotificationMessage: SHACL mentions ids:affectedAppResource, a property that does not exist. Use ids:affectedResource instead? Bug was already present in 4.0.0 and is fixed in develop.
* [ ] Wrong target class in InfrastructureComponentShape (should be InfrastructureComponent

[2022-08-12 06:43] alexandrudanciu commented on #580
Thanks for the response.

The issue is related to the Java library generated from the Information Model. As far as I understood, the Information Model Java Library would expect/accept only one of the predefined Java enums as LeftOperand (c.f. https://github.com/International-Data-Spaces-Association/InformationModel/blob/develop/codes/LeftOperand.ttl and de.fraunhofer.iais.eis.LeftOperand.java).

S

[2022-08-17 15:02] PHochmann opened #588 "InfrastructureComponentShape defined twice"
The InfrastructureComponentShape is defined once in `testing\infrastructure\ComponentShape.ttl` and once slightly different in `testing\infrastructure\InfrastructureComponentShape.ttl`. The latter (InfrastructureComponentShape.ttl) seems to me to be the correct version, the other (ComponentShape.ttl) we should perhaps delete. It is not critical now, only in the long run it may lead to confusion an

[2022-10-19 08:47] JessicaRombs opened #590 "Labels missing in CONTRIBUTING.md"
There is no explaination or mention of the use of Labels in the [contributing file](https://github.com/International-Data-Spaces-Association/InformationModel/blob/develop/CONTRIBUTING.md), they should be included.

[2022-11-03 15:19] lcomet opened #592 "Investigate about dcat:Dataservice and the implications for the Infomodel"
Until now, the Infomodel covers the concept of `dcat:Dataset`. However, one should consider also the implications of the use of `dcat:DataService` which it is class added in **DCAT 2**.

[2022-11-03 15:22] lcomet opened #593 "Align Infomodel with DCAT 3"
Analyse the Infomodel references to DCAT and ensure the alignment of those with the newest version of DCAT (DCAT 3)

[2022-11-03 15:31] lcomet opened #594 "Verify comments in SHACL files referencing external classes and properties"
Consider for example the file "DescribedSemanticallyShape.ttl" in which the comment indicates "A ids:DescribedSemantically is an abstract class. Please use one of the subclasses for the generation of instances.". In this case, if the corresponding model (DescribedSemantically.ttl) is not needed anymore, after reengineering, then the corresponding SHACL shape is also obsolete. However, if the SHACL

[2022-11-07 09:55] lcomet opened #595 "Create UML diagrams to present overview and relation between classes"
It will be useful to have UML type diagrams to represent the classes of the model and their relationships, as well as the attributes of each class.
As a reference, look at the DCAT example here: https://www.w3.org/TR/vocab-dcat-3/#dcat-scope
This is necessary to have a general idea of the model, beyond the visualisation of the ontology via WebOWL.

[2022-11-09 14:20] lcomet opened #596 "Create a page/space to document decisions"
It will be helpful to have a record of the decisions made in the modelling process. Consider the example [here](https://github.com/eclipse-dataspaceconnector/DataSpaceConnector/blob/main/docs/developer/decision-records).