[2017-10-18 08:13] cmader opened #2 "Extract and improve "helper" ontologies"
Extract "helper" ontologies for API generation (covering additional validation and documentation properties and classes) into separate files. Improve property definitions (e.g., valid:relationType "@OneToMany" or valid:constraint "@NotNull") in terms of structure and documentation.

[2017-10-18 08:18] cmader opened #3 "Find or create modularization ontology"
Identify an existing ontology (or create a new one) that allows to introduce additional structure to owl ontologies. For example, it should be possible to assign classes to modules so that a more high-level view of an ontology can be communicated.

[2017-10-19 07:14] seebi opened #5 "enable rdfunit based validation by using travis-ci.org"

[2017-11-03 14:46] cmader commented on #3
Added some thoughts on that topic to https://industrialdataspace.jiveon.com/docs/DOC-1554

[2018-01-28 16:54] jpullmann opened #17 "Replace URL-encoded forward slash in mediatype instances by a readable character"
Due to automated processing each single media type instance (InformationModel/modules/mediaType/IANAMediaType.ttl) contains a URL-encoded slash (%2F), example: ids_mt:application%2Fzlib. This should be replaced by a convenient, readable character, e.g. "_" resulting in "ids_mt:application_zlib".

[2018-02-08 13:56] cmader commented on #17
fixed in pull request #18

[2018-02-08 13:56] #17 closed

[2018-05-02 08:50] np00 opened #22 "Clarifiy which GitHub organization should be used in the future"

[2018-05-09 11:08] clange opened #23 "dataTransfer/receiver and others declared both as DatatypeProperty and ObjectProperty"
There is a bug in the ontology at http://ids.semantic-interoperability.org/ (I have no idea what source in this repository this corresponds to): Protégé complains dataTransfer/receiver and others are declared both as DatatypeProperty and ObjectProperty, which is not allowed even with punning.

[2018-05-09 14:06] clange opened #24 "Should dataAsset/origin be subPropertyOf prov:wasDerivedFrom?"
I think dataAsset/origin should be modelled as a subPropertyOf prov:wasDerivedFrom, reusing a state-of-the-art ontology

[2018-05-14 15:22] VladimirAlexiev opened #25 "ids_da:version is incompatible with dct:hasVersion"
https://github.com/IndustrialDataSpace/InformationModel/blob/develop/modules/dataAsset/DataAsset.ttl#L49
[code]

Many people make the mistake that `dct:hasVersion` is some sort of version number. It is not:
[code]
In fact it's inverse of `dct:isVersionOf` (even though not declared in dct).

So, remove that `rdfs:subPropertyOf`.

[2018-05-14 15:33] VladimirAlexiev opened #26 "ids_da:licenseReference isnot really compatible with dct:license"
What is the rationale of separating these two:
- ids_da:licenseDocument "License of the DataAsset. Refers to common standard licenses used in the IDS."
- ids_da:licenseReference "References a license document that is publicly available on the Web."

I think this separation of "common standard licenses" vs "license document that is publicly available" is non-orthogonal and not always clear. Eg if a

[2018-05-14 15:48] VladimirAlexiev opened #27 "language, temporal, spatial"
You define language, temporal and spatial as sub-props of DCT, but I can't see how are the respective classes richer than DCT. Why not use DCT directly?

Eg here's a discrepancy:
[code]
On the other hand,
[code]
By RDFS reasoning from DCT and IDS_DA, every object of `ids_da:coversLanguage` will get type `dct:LinguisticSystem`. But there's no connection between `ids_lang:Language` and `dct:Linguist

[2018-06-14 12:14] annakasprzik opened #29 "Rename "ucon" with a more telling name"
Just a remark for the "Umstrukturierung" of the modules: "ucon" is the only module with a name that gives no clue as to its contents.

[2018-06-14 13:53] jpullmann commented on #29
Thanks Anna, UCON is a shortcut for "Usage CONtrol", I will rename it.

[2018-06-14 13:53] #29 closed

[2018-09-25 11:57] seebi opened #30 "add more vocabulary meta data"
see https://github.com/vocol/mobivoc/blob/develop/schema/Core.ttl#L27

ids:xxx a owl:Class
   dct:created "2017-05-11"^^xsd:date ;
   dct:modified "2018-01-12"^^xsd:date ;
   vs:term_status "testing" ;
   rdfs:isDefinedBy ids: ;
.

[2018-09-27 12:31] seebi opened #31 "release v1.0.0"
- [x] build artifacts
- [x] validate build artifact in Corporate Memory
- [x] count triples
- [x] announce ids prefix at prefix.cc
- [x] upload artifact to github
- [x] fix namespace resolution at [permaid](https://github.com/perma-id/w3id.org/tree/master/idsa) @cmader
- [x] announce ids vocab at LOV @jpullmann

[2018-10-01 07:34] cmader commented on #31
So the proper redirect will be this one:

https://w3id.org/idsa ->
https://github.com/IndustrialDataSpace/InformationModel/releases/download/v1.0.0/IDS-InformationModel_v1.0.0.ttl

correct?

[2018-10-01 08:47] seebi commented on #31
The main vocabulary URL should result in this TTL link (https://w3id.org/idsa/core/).
Please also make sure that all concepts are redirected to this URL as well (such as https://w3id.org/idsa/core/ContentType )

[2018-10-01 09:01] seebi commented on #31
PS: once you added the forwarding - I would like to validate it with my scripts

[2018-10-01 09:21] cmader opened #32 "Fix namespace for protocol codes"
The namespace of the protocol codes currently is
idsc_prot: <https://w3id.org/idsa/protocol/> .

but should be
idsc_prot: <https://w3id.org/idsa/code/protocol/> .

[2018-10-01 12:09] cmader commented on #31
created the pull request to w3id with the new rewrite rule. seems to take some while until the redirect is effective.

[2018-10-08 14:55] jpullmann opened #33 "Support MediaType annotation in Java library"
`ids:MediaType` is a super-class of media types, either defined by IANA (`ids:IANAMediaType`) or any custom authority (not further typed). Since code list instances are mapped to Java enums, based on their class two disjoint enums were consequently created, omitting benefits of having a single Media Type enum (assertability, unique values, no duplicates). Please check the design of the Media type

[2018-10-08 17:17] cmader opened #34 "Missing interface extends in Java library"
Java Lib generation: It seems that if an IDS class A is a subclass of some superclasses B and C where B is in the IDS namespace and C is not, then the corresponding java interface that is generated for A is does not extend B.

[2018-10-09 09:35] cmader opened #35 "Cannot attach a ParticipantCertificationLevel to a ParticipantCertification"
Adding a ParticipantCertificationLevel to a ParticipantCertification using the generated Java lib does not work because ParticipantCertificationLevel does not implement the CertificationLevel interface

[2018-10-09 13:17] cmader commented on #35
fixed in the java lib generation code, no changes here were needed

[2018-10-09 13:17] #35 closed

[2018-10-09 14:18] cmader commented on #34
no changes needed in the ontology, only affected java lib generation tool

[2018-10-09 14:18] #34 closed

[2018-10-12 11:12] cmader opened #38 "Extend RejectionReason codes"
Extend value space for RejectionReason. Review related work (e.g., HTTP error status codes) and check if they can be reused.

[2018-10-18 11:41] cmader opened #39 "Security Token support for Message class"
According to the envisioned IDS secure communication scenario, there are 2 different security tokens involved:
(1) an identity token that is retrieved from the identity provider in the connector onboard phase and presented in each subsequent infrastructure component interaction,
(2) an authorization token that can optionally be issued by a (data providing) connector to another (data consuming) con

[2018-10-19 14:16] #32 closed

[2018-11-06 09:20] sebbader opened #45 "Fine-grained definition on reliabilites for usage enforcement"
The instances of ids:Action need a distinction in provider- and consumer-side. For instance:

idsc_action:anonymizeByProvider a ids:Action .
idsc_action:anonymizeByProvider dcterms:isPartOf idsc_action:anonymize .

idsc_action:anonymizeByConsumer a ids:Action .
idsc_action:anonymizeByConsumer dcterms:isPartOf idsc_action:anonymize .

idsc_action:anonymize dcterms:isPartOf odrl:anonymize .

My prob

[2018-11-06 10:57] jpullmann opened #46 "Literal values conventions"
Make the assumptions on and handling of literals explicit. Document where "simple literals" are fine or further annotation by datatype and language tag is required (e.g. because of transformation into Java representations).

[2018-11-06 10:59] jlangkau commented on #46
!!!

[2018-12-19 13:35] sebbader opened #49 "Add Cert Ontology as an external Reference"
The CERT ontology https://www.w3.org/ns/auth/cert# (draft only?) defines some concepts to link certificates and keys. SOLID (decentral social network by Tim Berners-Lee) also uses it here and there.

[2018-12-19 14:05] jpullmann commented on #49
After a quick review this seems to be a focused, highly reusable model that addresses the IDS requirements w.r.t identity an trust.  +1 for integrating into the Connector and Participant descriptions.

[2019-03-04 22:22] jpullmann opened #55 "Update the Connector security levels according to RAM 3.0"
Implement changes in describing "security level" of Connectors in recent RAM 3.0 (i.e. "Base", "Trusted" etc. connector)

[2019-03-07 22:27] jpullmann opened #56 "Establish a continuous integration process"
Currently the Information Model is only insufficiently tested, there is no automated provisioning process. Decide upon a CI [methodology](https://spec.edmcouncil.org/fibo/doc/20170930_FIBO_BTDM.pdf) and [technology](http://robot.obolibrary.org/). Implement naming, location and processing conventions (e.g. `./test/<Entity>.shacl` test files, turn custom validation rules (`idsm:validation`) into SHA

[2019-03-07 23:05] jpullmann opened #57 "Decide upon a formal modelling and differentiation of content instances (artefacts)"
According to a "traditional" interpretation instances of a resource representation (artefcts) "share the same intellectual content in different physical formats" [[1](https://www.w3.org/TR/vocab-adms/#pc_AssetDistribution)]. In contrast, there are frequent examples of resources materialized as lose _collection_ of files or _series_ of files ordered according to particular content dimension (day, a

[2019-03-08 09:52] cmader commented on #31
Can be considered done

[2019-03-08 09:52] #31 closed

[2019-03-08 09:58] cmader opened #58 "Broker query capabilities specification"
A Broker needs to publish the query languages it "understands" when receiving BrokerQueryMessages. Furthermore, brokers need a way to make the client know how to formulate his queries because each broker is free to its own data model for storing connector registrations internally. Options are to
*  publish the internal schema
* prescribe a schema
* define a special broker query language

What solu

[2019-03-08 13:21] jpullmann commented on #58
agreed, +describe the assumptions / conventions of the "default" implementation, e.g. by linking from  broker's  [Catalog](https://github.com/IndustrialDataSpace/InformationModel/blob/develop/model/infrastructure/Catalog.ttl) to individual resources (`offer` or `request`) one may locate the resources even when metadata is partitioned into individual named graphs (transparent persistence feature)

[2019-03-28 09:51] cmader opened #60 "Rediscuss (Broker) Messages for managing registry entries"
At the moment, message types in the Information Model are intentionally expressed very generically. For instance, for handling connector lifecylces, we have ConnectorAvailableMessage, ConnectorUnavailableMessage, ConnectorTemporarilyUnavailableMessage, ConnectorConfigurationChangeMessage.
These messages are intended to express, what happened in the IDS ecosystem and not what a specific system (lik

[2019-03-28 11:00] jpullmann commented on #60
+1 for reviewing and extending the message taxonomy. The mandatory parts of a message (definition) should be provided inline with the emerging test framework, e.g. as SHACL constraints.

[2019-04-02 13:23] sebbader opened #61 "Provide UsagePolicyTemplateIdentifiers into the InfoModel"
The Usage Policy Language provides several templates. IDS participants need to be enabled to refer to these templates. Therefore, unique identifiers should be defined by Information Model. Probably as part of the /codes/ directory?

[2019-04-02 13:42] jpullmann commented on #61
Agree with recording such "policy blueprints", we'd elaborate the model. The templates themselves are not really plain "codes", rather shared artifacts. They might need some parameterization to become useful? Same holds for re-usable query or data templates. What about creating a new class e.g. Template / PolicyTemplate etc. like [SPIN Template](https://www.w3.org/Submission/2011/SUBM-spin-modelin

[2019-04-03 10:51] sebbader commented on #61
Sounds good. I will come up with some suggestions beginning of next week.

[2019-04-03 10:51] sebbader commented on #61
wrong button...

[2019-04-08 13:00] jpullmann opened #62 "Support for defining custom policy constraint predicates (i.e. leftOperand)"
Currently the predicates used in policy constraints (`leftOperand`) are defined informally by the ODRL CG, for example [odrl:language](https://www.w3.org/TR/odrl-vocab/#term-language). The predicate semantics, requirements on interpretation (e.g. which internal context model is needed to decide upon), compatible operators and eligible value range (i.e. types of values in `rightOperand`) should be

[2019-04-08 13:42] jpullmann opened #63 "Support for defining custom policy constraint values (i.e. rightOperand)"
Values (`rightOperand`)s are probably the most variant / custom parts of policy constraints. Given a closed-value and predefined range (boolean, ISO 4217 currency code etc.) the interpretation and validation constraints are sufficiently defined by the [leftOperand](#62 ). In contrast, open-valued ranges require ad-hoc definition of validity and interpretation. For example a context-sensitive rule

[2019-04-09 12:11] sebbader commented on #62
Necessary form of each IDS LeftOperand:
- MUST: Textual description
- SHOULD: a formal definition and/or relations to other LeftOperands (refinements or skos:broader  statements `:eventHasHappenedInPast skos:broader :eventExists` (Remark: not `skos:broaderTransitive`, see SKOS definition))
- MUST: references to valid Operators (maybe something like `<left operand> :hasOperators ( :operator1 :opera

[2019-04-09 12:26] sebbader commented on #62
A (new?) predicate is required to reference (remote?) endpoints in order to request the actually realized RightOperand/value.

I can think of several alternative approaches, all with their justified scenarios:
- It's up to the usage control system to find the endpoint. We trust the UC as it is a certified IDS component. No need for further clarifications.
- DAPS provides RightOperands, for instanc

[2019-04-09 12:39] sebbader commented on #63
I can think of:
    1. a closed list: `<left operand> :hasValueSet ( :value1 :value2 ... :valueN )` for enitites/qualitative values,
    2. a class assertion: `<left operand> :hasValueClass :Class1`,
    3. a datatype assertion: `<left operand> :hasValueDataType xsd:double` for literals,
    4. a textual describtion: "Only numbers with exactly two decimal digits are allowed" if no other representa

[2019-04-11 12:25] jpullmann commented on #58
For SPARQL endpoints consider the API description [SPARQL 1.1 Service Description](https://www.w3.org/TR/sparql11-service-description/)

[2019-04-11 12:31] jpullmann commented on #46
Relates to #56, explicit decision on whether a literal has to be typed..

[2019-04-11 13:38] #5 closed

[2019-04-30 12:14] sebbader commented on #61
I also need a property linking from the contract to the template it corresponds to. For instance:
`:TimeRestrictedContractOffer1  ids:refersTo  ids:TimeRestrictedContractOfferTempalte .`

[2019-05-17 09:39] cmader opened #66 "Version identifier for message payload"
In the message header, we need a way to specify an optional version identifier of the payload information. That version identifier should indicate the version of the *description* of the information in the payload.
The reationale is that we need some way to refer to information that was once sent to some other system on the ids (e.g., a broker) but which is now out of date and needs to be updated.

[2019-05-17 14:28] cmader commented on #58
for simplicity, I'd suggest a simple optional property ids:queryLanguage with domain ids:Broker and range ids:QueryLanguage. This way, the Broker could indicate the query languages it supports. The current values in ids:QueryLanguage should be extended, e.g., with a JSONPath entry. if the queryLanguage propery is missing in a Broker's self description, this means that he cannot handle messages of

[2019-05-17 14:37] cmader commented on #39
in the current 1.0.2 version we have **ids:securityToken** for the DAPS token and **ids:authorizationToken**. There is a general ids:Token class which is the range of these two properties. Even though "securitytoken" probably is not the best name, I'd recommend to stick to it for now to retain compatibility with existing implementations and close this issue.

[2019-05-17 14:39] jpullmann commented on #66
Hi Christian, adding payload version is a definitely a valid extension. I am not sure about its relation to the metadata and would suggest to distinguish the version of content (resource/artifact/payload) as opposed to version of its description, since both may evolve independently. Similarly DCAT distinguishes the [Catalog record](https://www.w3.org/TR/vocab-dcat-2/#Property:record_update_date) v

[2019-05-20 08:09] cmader commented on #39
alternative names for "securityToken" could be "dapsToken" (the obvious choice), "dynamicAttributesToken" or "idsToken".

[2019-06-23 13:19] np00 commented on #22
Currently, it is a bit confusing that the IDS uses two _GitHub organization_ accounts:

https://github.com/IndustrialDataSpace
https://github.com/InternationalDataSpaces

I created them myself, but I am in no position to force anyone to move. The best way would probably to move everything & keep ReadMe's to point to the other place. Merging _GitHub Organizations_ seems to be not possible.

it is a

[2019-06-23 13:23] np00 opened #74 "Add a reference to the repository in the human-friendly version"
URL: http://ids.semantic-interoperability.org/

[2019-06-23 13:24] np00 opened #75 "remove or update the references section text in the human-friendly version"
URL: http://ids.semantic-interoperability.org/#ref

There seems to be a placeholder text in place.

[2019-06-23 13:29] np00 commented on #74
Ok, I just found it in the Introduction :)

However, wouldn't it be nice to put it on top, right after "Download Serialization"?
It would help those visitors who like to quickly download the source and import it into their favourite ontology exploration tool.

[2019-06-23 13:53] np00 opened #76 "Provide a full dereferencable human-friendly documentation"
There seem to be a couple of issues:

(1)
The Information Model is not (yet?) deployed on: [https://schema.industrialdataspace.org/](https://schema.industrialdataspace.org/).

But there exist an (old?) one on: [http://ids.semantic-interoperability.org/](http://ids.semantic-interoperability.org/)

(2)
The IRI of the Information Model should be probably extended with the hashtag symbol **#**:
`https

[2019-06-24 08:27] jpullmann commented on #22
Hi Niklas,
neither of these accounts is officially mandated by [IDSA](http://internationaldataspaces.org/):
- https://github.com/IndustrialDataSpace
- https://github.com/industrial-data-space
- https://github.com/InternationalDataSpaces

Longer while ago we asked IDSA to set up an official account and consolidate the development activities. I'll forward your request accordingly. Please refer to [t

[2019-06-24 08:43] np00 commented on #22
https://github.com/IndustrialDataSpace and https://github.com/InternationalDataSpaces were created by me, to save those. https://github.com/industrial-data-space by AISEC, correct?

I assume as long as the developing Fraunhofer institutes agree on a single account, the IDSA will be happy to officially recommend it.

+1 from my side for: https://github.com/InternationalDataSpaces

Thanks for pointi

[2019-06-24 09:08] sebbader commented on #75
I see that one as a part of the more general issue of updateing the html docu and moving it to https://w3id.org/idsa/...

[2019-06-24 09:10] sebbader commented on #76
As the ids namespace has changed to https://w3id.org/idsa/, a compelete update of the docu is necessary. While several documents have been created (e.g. Information Model in RAM3), the ontology docu needs to be moved and updated accordingly.

[2019-07-04 12:48] jpullmann opened #77 "Create an IM documentation (e.g. as a GitHub page)"
Set-up a documentation generating pipeline, e.g. based on [Widoco](https://github.com/dgarijo/Widoco)

[2019-07-23 07:47] mkollenstart opened #80 "Duplication of Hosts for Endpoints in SelfDescription"
In connector self-descriptions with a lot of dynamic endpoints, e.g. when mapping a REST server to the Information Model, the endpointHost property is added to all endpoints.

This makes the self-description unnecessary verbose.

My suggestion would be to reference the endpointHost property of Endpoints by url, linking to the hosts defined at the connector level.

[2019-07-31 08:26] sebbader commented on #77
New version updated, see https://sebbader.github.io/InformationModel/

[2019-08-07 15:50] sebbader commented on #77
Done, see https://industrialdataspace.github.io/InformationModel/
For now, the gh-pages branch is used even though the website sources are in develop branch, too. Point is that develop is not a valid branch for github pages but only master or gh-pages. As soon as the next release merges the docs dir into master, the pages reference needs to point to <master>/docs .

[2019-08-07 15:50] #77 closed

[2019-08-08 16:50] sebbader commented on #76
@np00 please checkout the new docu: https://industrialdataspace.github.io/InformationModel/

[2019-08-08 17:54] sebbader commented on #60
This needs to be aligned with the Appstore messages. Quite most of them share more or less the same semantic as their broker message counterpart. For instance, registering a connector with its metadata is very similar to registring a new Data App with the Data App's description.

[2019-08-08 17:56] sebbader commented on #22
I guess we can close this ticket, right @np00 ? Not much we can do about it here.

[2019-08-08 18:03] sebbader opened #89 "Enhance description property for external vocabs"
ids:Described (super class of ids:Resource) has the property ids:description. As far as I understand it, that's the best entry point for any explanation on the actual content of a resource.
However, ids:description has [range PlainLiteral](https://github.com/IndustrialDataSpace/InformationModel/blob/76f416f12f33e5d4fce26843f375663eff6f53cc/model/shared/Described.ttl#L43). In case I want to supply

[2019-08-15 10:18] sebbader commented on #58
+1 to also align it with the AppStore requirments, similar to #60

[2019-08-21 11:21] mkollenstart commented on #89
I really like this proposed enhancement, as it is something we currently stumble upon.

I’m not quite sure if the ids:description property is the best field, as we like to introduce new properties that are not an description per se. Also that will make it more complex to write descriptions for all entities of the information model, making it possibly (depending on the Java representation) harder t

[2019-08-26 11:41] clange opened #93 "w3id URIs do not implement content negotiation properly (i.e., no LOD compliance)"
All terms of the information model should be available in all content types that we generate (RDF/XML, JSON-LD, human-readable HTML, etc.) by dereferencing the respective HTTP URIs. That's apparently possible with w3id; see https://github.com/perma-id/w3id.org/blob/master/abdn/policy/.htaccess for an example.

[2019-08-26 11:42] clange commented on #76
Now that we have #93 I think this will fix part of this problem once it has been fixed.

[2019-08-30 09:54] clange opened #95 "Provide examples for connector, message and resource"
* Connector
* Message
* Resource

[2019-09-02 13:22] sebbader opened #96 "Reduce namespaces for codes"
Instances in the codes section have a bunch of different namespaces, for instance for instances of ids:Action:
[idsc_action:ATTRIBUTE](https://github.com/IndustrialDataSpace/InformationModel/blob/d37f6bb3e847cfafd7a0a45f6096af2f7e97bda7/codes/Action.ttl#L14 ) or [ids:ANONYMIZE](https://github.com/IndustrialDataSpace/InformationModel/blob/d37f6bb3e847cfafd7a0a45f6096af2f7e97bda7/codes/Action.ttl#L5

[2019-09-18 13:29] sebbader opened #98 "InfoModell into Certification Criteria"
We need to add requirements for IM support (which versions, which features, mandatory and optional attributes, etc.) into the IDS Ready certification list.

[2019-09-26 10:35] spetrac-nicos-ag opened #99 "Arbitrary data in the IM"
At **/model/participant/references/foaf-20140412.ttl** I found a disturbing line that makes no sense to me:
`rdfs:Class a owl:Class .`
As far as I know (and from [https://www.w3.org/2002/07/owl#](https://www.w3.org/2002/07/owl#)), the owl:Class is a rdfs:Class and a subclass of rdfs:Class, but not the other way round. Also makes no sense if you think about it. That also implies, that foaf:Agent ha

[2019-10-01 14:58] HaydarAk opened #102 "Add ParticipantNotificationMessage for consistency in Messages"
Participant related NotificiationMessages (in the Messages.ttl taxonomy) do not have a proper superclass like the **ConnectorNotificationMessage** and **ResourceNotificationMessage**.
Add class for consistency.

- [ ] Add ParticipantNotificationMessage as superclass to all Participant_____Messages
- [ ] Make ParticipantNotificationMessage subclass of NotificationMessage

[2019-10-08 10:24] Madmatti commented on #99
Well spotted! Please note that these references are more for completeness sake than anything else.
I have recreated the document by using an open-source tool for converting the original JSON-LD format to turtle, see https://github.com/IndustrialDataSpace/InformationModel/pull/105

[2019-10-08 12:14] Madmatti commented on #102
I am rather confused. The current state of the code shows:

[code]

So "NotificationMessage" is superclass of the "ParticipantNotificationMessage", which is in turn superclass of all "Participant______Messages".

I don't see any changes to this code section since you created this issue. Am I missing something?

[2019-10-08 12:21] HaydarAk commented on #102
Oh sorry, you're right.
Maybe I have looked at a (local) old version of the information model, instead of the version in the repository...

[2019-10-08 12:21] #102 closed

[2019-10-10 11:59] sebbader opened #108 "SHACL URIs in comments should point to correct Turtle File location"

[2019-10-10 12:33] clange opened #109 "Achieve compatibility with DCAT 2"
The W3C Data Exchange Working Group (https://www.w3.org/2017/dxwg/) is working on DCAT 2. DCAT 2 made it to the Candidate Recommendation stage on 3 Oct 2019 (https://www.w3.org/TR/vocab-dcat-2/). Considering the

- [Motivation for change](https://www.w3.org/TR/vocab-dcat-2/#motivation)
- [Change history](https://www.w3.org/TR/vocab-dcat-2/#changes)

we should make sure that our information model i

[2019-10-10 12:36] clange opened #112 "Migrate fully from DCMI Terms to DCAT where possible"
Some our terms are defined as refinements of DCMI Terms, others of DCAT. However, much of DCAT is also defined by refining DCMI Terms. Thus, wherever and whenever information model terms refer to DCMI Terms but there is actually a compatible or more specific term in DCAT, the information model should rely on DCAT instead of DCMI Terms.

[2019-10-10 15:05] sebbader commented on #66
prepared and soon to be merged

[2019-10-10 15:07] sebbader commented on #108
#90

[2019-10-11 07:27] Madmatti commented on #108
Attempted fix in #114 -- but I am a bit skeptical, as it looks like all shape files should be in the same directory for this to work. Right now, there is a subdirectory structure

[2019-10-11 10:12] sebbader commented on #38
#e2e7158d12f738cf1f301b7ff856c2addc9b1624

[2019-10-11 10:14] sebbader commented on #96
done

[2019-10-11 10:17] sebbader commented on #89
We need an example for our intended pattern for 2.0.0. @HaydarAk can you add one? For instance with an DBpedia entitiy.

[2019-10-11 10:19] sebbader commented on #55
#116

[2019-10-11 10:19] sebbader commented on #55
needs more actions according to the upcoming certification criteria, so still open

[2019-10-14 09:35] Madmatti commented on #89
It appears that we can do this via ids:theme, see: https://github.com/IndustrialDataSpace/InformationModel/blob/fb494ba2513f6799262751abe2d44b57507090b3/model/content/DigitalContent.ttl#L106
Issue seems to be resolved.

[2019-10-14 09:37] #89 closed

[2019-10-14 09:53] Madmatti commented on #108
Cf. #124

[2019-10-14 10:40] #108 closed

[2019-10-18 14:43] sebbader opened #130 "Relation between Connector and InfrastructureComponents"
Currently:
Connector --|> InfrastructureComponent --|> ManagedEntity
and:
Broker --|> Connector
ClearingHouse  --|> InfrastructureComponent
DAPS   --|> InfrastructureComponent
IdentityProvider   --|> InfrastructureComponent
PARIS  --|> InfrastructureComponent
VocabularyHub/VocabularyProvider deprecated

Suggestion:
InfrastructureComponent --|> Connector --|> ManagedEntity
Broker --|> Infrastructur

[2019-10-18 14:45] sebbader commented on #130
That implies that a VocabularyProvider is *not* necessarily a Connector but ClearingHouse, DAPS and IdentityProvider *must* be one.

[2019-10-21 11:39] clange opened #131 "Make relation of IDS' customization of ODRL (left operands, operators, …) to the original ODRL more explicit"
So far, our specializations of ODRL (e.g. https://github.com/IndustrialDataSpace/InformationModel/blob/fb494ba2513f6799262751abe2d44b57507090b3/codes/LeftOperand.ttl#L46) are linked very loosely to the original terms of ODRL, by the pretty much meaningless `rdfs:seeAlso`. Saying `owl:sameAs` would probably be too strong (meaning that all statements that hold true of the IDS term also hold true of

[2019-10-28 17:04] sebbader opened #133 "SecurityProfiles and extendedGuarantee attributes"
SecurityProfiles are intended as a shortcut and alignment regarding the certification profiles. However, the result is a logical inconsistency if e.g. [idsc:BASE_CONNECTOR_SECURITY_PROFILE ids:securityGuarantee idsc:AUDIT_LOCAL_LOGGING](https://github.com/IndustrialDataSpace/InformationModel/blob/060bea2ce97c721719fe6029e414770c074d5dfc/codes/SecurityGuarantee.ttl#L207) but a connector specifies a

[2019-10-29 10:00] HaydarAk opened #134 "Redesign of the ids:Language class / properties using more accurate ontologies."
### Problem:
The current implementation of ids:Language, especially the language instances, lack references to existing, standardized language vocabularies and language code lists. dcterms is inaccurate.

### Suggestion:
Redesign ids:Language using the [Lingvoj vocabulary](http://linkedvocabs.org/lingvoj/). Lingvoj further specifies dcterms:language and dcterms:LinguisticSystem and also contains i

[2019-10-29 10:58] Madmatti commented on #133
Option 2: Reformulate the individual guarantees to be strictly incremental, so that if a higher value is chosen, the lower value still holds true.
E.G. instead of ids:LocalDataConfidentialityGuarantee with three options (1) NONE, (2) SECURE_ERASURE (3) FULL_ENCRYPTION, we split this into two
ids:LocalDataErasureGuarantee (1) NONE, (2) SECURE_ERASURE
ids:LocalDataEncryptionGuarantee (1) NONE, (2) F

[2019-10-31 10:33] #99 closed

[2019-10-31 10:48] spetrac-nicos-ag opened #135 "Some minor errors worth mentioning"
Just to mention two minor errors I have encountered in the info model:

1. Just a typo at `ids:Site rdfs:subclassOf org:Site`, should be `rdfs:subClassOf` with a capital C.
2. `idsm:abstract` is a DatatypeProperty and its domain is `owl:Class`. And then there is the `ids:variant` ObjectProperty which also uses `idsm:abstract`. In my understanding that might be invalid, because ObjectProperty is no

[2019-11-04 10:16] sebbader commented on #135
Hi Simon,

thanks for your remarks! Just did some adjustments. I'd say that both points were leftovers from previous changes. Can you let me know if that fixes it?

Best,
Sebastian

[2019-11-04 10:34] sebbader commented on #134
I am not sure how 'durable' the vocabulary is. There is no organization behind it and I could be that at some point in the future the server and the vocab are simply gone. However, I really like the references to ISO 639. Can't we just link to that standard, and 'pretend' its RDF/Linked Data?

[2019-11-04 15:03] HaydarAk commented on #134
That's basically what they do with:
`owl:sameAs <http://dbpedia.org/resource/ISO_639:deu> ;`

except that they also define additional properties and related resources.

### Possible solution
What would be the "best practice" modelling of this ?
Adding the references to the of ids:Language instances (example below) ?
[code]

We could also switch to the coding scheme of the ISO standard, for the cod

[2019-11-08 11:55] spetrac-nicos-ag commented on #135
Yes, the spelling for `rdfs:subClassOf` is now fixed and the `idsm:abstract` property is now removed from `ids:variant`, which might also make more sense.
If I find anything else by accident, I will report back.

Thx, Simon

[2019-11-08 11:55] #135 closed

[2019-11-12 14:31] clange commented on #74
Actually – maybe we need a new issue for this – this whole document should either be taken down or updated, as it is quite outdated. However, parts of it seem to have been created manually, so this might be hard. Who owns the domain? Steffen Lohmann? @sebbader could you maybe find out?

[2019-11-12 14:34] sebbader commented on #74
Hi Christoph, yes, I think its his domain. However, the more accurate documentation is here: https://industrialdataspace.github.io/InformationModel/docs/index.html
Redirects at the namespace location (https://w3id.org/idsa/core) point also to this side.

[2019-11-17 14:25] sebbader opened #142 "Shapes NS does not resolve"
Currently, the shapes [namespace ](https://github.com/IndustrialDataSpace/InformationModel/blob/72b658b01881ad4ba3a567fd68019eabeb7fbd8b/testing/content/ResourceShape.ttl#L10) does not resolve properly.

Changing it from https://github.com/IndustrialDataSpace/InformationModel/testing/ to https://github.com/IndustrialDataSpace/InformationModel/tree/master/testing or creating proper redirects (@pref

[2019-11-20 16:44] clange opened #144 "Property for how to map a Resource or Representation to RDF"
We recommend representing the content/payload of Resources (or their Representations) in RDF, but we don't want to force people to do so. However, for interoperability/semantics it might be desirable to specify that a certain resource _could_ be mapped to an RDF if needed. This property, with domain probably (Resource union Representation), could have as its range the URI of, e.g., an RML mapping

[2019-11-21 12:23] maboeckmann opened #146 "Access URL is a URI"
Very minor thing I just noticed:
https://github.com/IndustrialDataSpace/InformationModel/blob/develop/model/communication/Host.ttl#L39

The property AccessURL has range xsd:anyURI. Should we rename the property to AccessURI or change the range to xsd:anyURL?

[2019-11-21 13:57] HaydarAk commented on #146
As far as I know, there is no xsd:anyUR**L**.  We are using xsd:anyURI because it is the
closest to an URL.

 I'd suggest to leave it like this. The name / label fits but the  datatype allows more than just URLs.
The inconsistency comes from the missing _xsd:_ property for UR**L**s.  But, we are expecting any kind of http / mqtt / ... URL.

[2019-11-22 14:07] maboeckmann commented on #146
Ah you are right. They don't have an any url...

[2019-11-22 14:07] #146 closed

[2019-11-22 15:40] HaydarAk opened #147 "Measure the coverage of SHACL shapes for validation of the Information Model"
It would be good to have statistics (preferably generated automatically) on how much percent of the information model is covered by SHACL shapes and therefore validatable.

Could be done with a simple script.
We usually have a SHACL shape for each class in the Information Model.

[2019-11-25 11:55] maboeckmann opened #149 "Most subclasses of Message end with "Message", but not all"
We are rather inconsistent with regards to naming our message classes. For example, the following Request messages end with "Message":

- ArtifactRequestMessage
- ContractRequestMessage
- CommandMessage
- InvokeOperationMessage
- QueryMessage

But then, we also have:
- AccessTokenRequest
- SelfDescriptionRequest

I would suggest renaming them to
- AccessTokenRequestMessage
- SelfDescriptionRequest

[2019-11-26 13:14] clange opened #153 "Complex string value for rightOperand doesn't look right to me"
The object of the following triple looks strange to me. I think it includes some stuff that's actually _left_ operands:
https://github.com/IndustrialDataSpace/InformationModel/blob/a3ece467832101a0eecf5f938b3c4ebf6a2ccdd9/examples/TEMPERATURE_RESOURCE.json#L91

[2019-11-26 14:12] clange commented on #93
Here's how to test whether RDF/XML works properly (that's the basic requirement for LOD conformance):
`wget -O - --header 'Accept: application/rdf+xml' http://w3id.org/idsa/core`

[2019-11-26 14:52] sebbader commented on #93
Hi Christoph,

I usually use curl. But yes, I already have the command line request prepared. Also, I have an .htaccess proposal locally prepared... I am just not yet confident enough that it will cope all cases.

[2019-11-26 22:35] clange commented on #93
Hmm, thinking about it, I think we actually need to change more, and it may be necessary to create further issues from this one. I see that widoco generates the ontology as an all-in-one file in various serializations (JSON-LD, RDF/XML, N-Triples and Turtle) – perfect. While it's not nice, when using slash URIs, that you dump almost 1 MB of, e.g., Turtle on a client (that's no difference from usin

[2019-11-26 22:39] clange commented on #93
BTW @sebbader not sure what you mean by "coping with all cases". "All cases" as I see them are the following: requesting several content types from several URIs (of terms in different modules of the ontology). With http://linkeddata.uriburner.com:8000/vapour this can be automated beyond what curl and wget can do, plus that you get useful error messages.

[2019-11-27 07:39] sebbader commented on #93
Hello Christoph,

totally agreeing that a fine-grained response is definitely the way to go. The only argument against is the required effort. That would require a complete rework of the whole repository, nothing we can do in the next weeks. Might be a relevant task for the next release...
For now, I focus on getting a proper result for any LD-compliant client. The received file is way to big for

[2019-11-28 15:06] sebbader opened #155 "Usage Policies: Insert Time, Space, Organizations and Payment"
The usage contracts need a basic vocabulary in order to talk about:

1. Time --> insert complete [owl-time](https://www.w3.org/TR/owl-time/)
2. Space = Geometric & spatial statements --> [GeoSPARQL](https://www.opengeospatial.org/standards/geosparql)?
3. Roles- and attribute-based access: --> [org ontology](https://www.w3.org/TR/vocab-org/)
4. basic business models (pay after x usages, freemium...

[2019-11-28 15:15] jlangkau commented on #155
Hm.
1. very fine!
2. Yes, my same question: GeoSPARQL
3. x-access relates to org-ontology?!? How? Don't understand this...
4. no emotions.

[2019-12-03 07:18] HaydarAk commented on #155
I agree on all of that. I'll take a look on that.

Havent looked into the org ontology in detail, but I think, @sebbader  suggests a more fine-grained modelling of ids:Participant / ids:Agent / ids:Person.
Adding classes / properties for proper role modelling.

#### Usecase
I (data provider, company A) agree on a contract with company B and let them use my data but only for people with specific ro

[2019-12-11 20:25] HaydarAk opened #160 "Widoco documentation: Add / reference OOPS! evaluation results"
Currently, running the widoco documentation process (see docs/ subfolder) triggers the OOPS! (OntOlogy Pitfall Scanner!) evaluation for the Information Model. The results are stored as HTML in the /docs/OOPSevaluation/ directory.

We should, at least, link to the evaluation results in our Information Model documentation:
https://industrialdataspace.github.io/InformationModel/docs/index.html

Bette

[2019-12-15 10:51] clange opened #161 "ids:startedAt and ids:endedAt are not correctly reused from PROV-O"
We currently have `ids:startedAt rdfs:subPropertyOf prov:wasStartedBy` and `ids:endedAt rdfs:subPropertyOf prov:wasEndedBy`. These should instead be subproperties of `prov:startedAtTime` and `prov:endedAtTime`.

[2019-12-17 08:07] #161 closed

[2019-12-19 10:08] mkollenstart opened #163 "Connector SelfDescription: Specify available Agents"
The Message structure allows specifying the senderAgent and recipientAgent. Which in my understanding allows for a participant to operate a connector that serves multiple participants.

For good discoverability and to verify whether or not a connector should use specific Agents in its messages, the connector SelfDescription should be able to include a list of Agents it handles (both sending and re

[2019-12-19 14:06] HaydarAk commented on #160
Added reference to OOPS results to page header.
See #165

[2020-01-07 10:36] sebbader commented on #163
Very relevant topic. For now, I regarded the Connector acting "on behalf of" the distinct participant. That's not working for Connectors as a Service, right.
Currently, I see the ids:maintainer relation from a Connector to a Participant class. Does not cover your scenario of course. I think  we have two options:
a) use the existing ids:sovereign/ids:publisher relation on Resource-level, and infer

[2020-01-07 10:55] sebbader commented on #163
In addition, the Participant Information Service also needs a list of known Participants. Currently, it's InfrastructureComponent but not a Connector.
We should directly assign it to the Connector Class (which automatically also makes it an InfrastructureComponent) and add it a "participantList" relation. This one might also solve your issue, even though the interpretation woudl be slightly differ

[2020-01-07 11:00] maboeckmann commented on #163
That list might be incomplete, if some participants who might be affiliated with a connector do not push any resources.

[2020-01-07 11:22] mkollenstart commented on #163
This option is for our use-case very interesting, as it directly scopes the agent list to specific endpoints. Also because the sovereign does not necessarily has to be an Participant, which might decrease potential administrative burdens on very small companies with one or 2 employees.

[2020-01-07 13:37] sebbader commented on #130
After some discussions, the reasons for the initial modeling still holds, therefore no change is scheduled for the upcoming releases.

[2020-01-07 15:06] HaydarAk commented on #163
After discussing this with @sebbader we came to the conclusion that:

is the better approach.  Although there is some redundancy in the list of Agents for a Connector and the publishers (_ids:publisher_) of a Connector in this approach, it leads to a more accurate and complete list of agents. We suggest to use one list for all available agents and not a "senderAgent" and "recipientAgent" list. The

[2020-01-08 09:29] clange commented on #155
I agree that the org ontology (https://www.w3.org/TR/vocab-org/) should be suitable for modelling structures of organizations.

[2020-01-08 15:08] clange opened #171 "Inconsistent cardinalities in metamodel vs. SHACL"
At the IDSA Plugfest we just talked about examples for validating infomodel instances and/or how to generate valid instances from Java.

I chose ResourceShape as an example. It says "contractOffer minCount 1" (https://github.com/IndustrialDataSpace/InformationModel/blob/4ceeb45e705d904867f715957a1b32ecb88e4d1d/testing/content/ResourceShape.ttl#L69)

The metamodel validation metadata in Resource do

[2020-01-08 16:08] HaydarAk commented on #171
This is definitely an inconsistency and a mistake. The possible fix for this depends on how we define a Resource in the IDS.

**Is a Contract Offer mandatory for a ids:Resource ?**
- if no: we should remove the `sh:minCount 1 ;` from teh ids:ResourceShape
- if yes: we should add the  idsm:validation "NotNull" constraint to the ids:Resource

Both are plausible, but I'd say  it should **not** be man

[2020-01-09 08:56] clange opened #172 "Some codes have unreadable all-caps names (introduce underscores)"
Especially for licenses, we have many unreadable identifiers such as this one:

https://github.com/IndustrialDataSpace/InformationModel/blob/8b0f4e7e9a9f999feec9e2ff65aedf243deaad7a/codes/License.ttl#L128

Try e.g.

`grep '[A-Z]\{20\}' codes/*.ttl`

to find all of them.

I would recommend to use (as is common practice in programming languages such as Java) underscores to separate words. AFAICT the

[2020-01-09 09:00] clange opened #173 "Add codes for software licenses"
With a low priority we might consider extending https://github.com/IndustrialDataSpace/InformationModel/blob/master/codes/License.ttl by certain common _software_ licenses, to be used for software resources in the app store. So far mainly data licenses are covered.

[2020-01-10 12:34] maboeckmann opened #175 "ParticipantInactiveMessage missing"
To notify other connectors or the broker that a connector will be unavailable, it can send two types of messages:

ConnectorUnavailableMessage: Event notifying the recipient(s) that a connector will be unavailable and never be available again.
ConnectorInactiveMessage: Message notifying the recipient(s), that a connector will be inactive and most likely be available again in the future.

For a Par

[2020-01-15 09:26] HaydarAk opened #179 "Publish existing Connector self-description (annonymized) for SHACL validation example"
Issue related to #180 and #181)

The FhG internal GitLab contains a bash script to validate a Connector's self-description against the corresponding SHACL shapes. The GitLab also contains an example of a Connector's self-description
which should be pushed to this repository together with the script as an example, after annonymizing the contents of the self-description.

- annonymize self-descripti

[2020-01-15 09:36] HaydarAk opened #180 "Generate one shapes graph, which owl:imports all shapes"
(Issue related to #179 and #181)

For SHACL validation of a Connector self-description (see #179), several SHACL shapes are needed, e.g. the shape of the Connector, the Shape of ids:Resources / ids:Host and so on.

A main SHACL shapes graph, similar to the Ontology.ttl in the main directory, should be created which contains all references to existing SHACL shapes using owl:imports.

[2020-01-15 09:53] sebbader commented on #171
"Is a Contract Offer mandatory for a ids:Resource ?

    if no: we should remove the sh:minCount 1 ; from teh ids:ResourceShape"

+1 from my part. There must be a possibility to publish resources without licenses/contracts.

[2020-01-15 10:50] HaydarAk opened #181 "Test data for SHACL validation need rdfs:subClassOf axioms"
(Issue related to #179 and #180 )

To validate data graphs with subclasses (such as ids:BaseConnector) with SHACL, one needs to (at least) insert the rdfs:subClassOf axioms. This is needed so that SHACL knows:
`ids:BaseConnector subClass of ids:Connector` and validates the instance of ids:BaseConnector` against the SHACL shape of ids:Connector.

- One could use some kind of scripting / processing

[2020-01-15 11:07] HaydarAk commented on #171
fixed: see commit 5f3732f9668abf661ab9ef5b982a4e6a470a4825

[2020-01-16 09:20] mkollenstart opened #182 "Usage of URN instead of URL for identifiers"
(Issue related to #163)

This issue is mainly for a discussion on how we should use the Information Model, as the usage of URN is already supported because it is a subset of URIs.

For the identifiers of especially ids:Participants and ids:Agents an URL identifier is not always the most concise way of identification. As the URL might not be actually reachable.

Is the usage of URNs a correct and r

[2020-01-16 14:09] clange opened #183 "Extensions for the configuration model"
Properties requested by @HeinrichPet in our joint discussion. (This should be ready for the 2020-Q1 plugfest – next discussion around mid-February)
* DataApp: IP address, port, type of interface (e.g., REST, MQTT, IDSCP – address this with a code list) – @HaydarAk is it sufficient that the "port" is included in the URL in endpointHost, or do we need an additional property?
  * support different ty

[2020-01-16 15:06] clange opened #184 "Add the RDF implementation of SHACL as a reference to this repository"
We have copies of several other standards we are building on in various "reference" directories in this repository. Please also add the RDF implementation of SHACL in an appropriate place.

[2020-01-17 07:45] HaydarAk commented on #163
see #164

[2020-01-17 09:13] HaydarAk commented on #182
In the IDS ecosystem, we need some kind of UR**I**s for agents/participant as an identifier for each unique participant / agent. We want reference them using the identifier as, e.g., sender/recipients in messages, or request information about them in the ParIS.

I'd say, yes. . For participants / agents, an UR**N** makes much more sense.
Per definition
- a URN is intended for "naming" resources (l

[2020-01-20 09:55] maboeckmann opened #186 "SHACL IM Missmatch: Participant Email"
For the Participant class, there is a missmatch between the SHACL shapes and the idsm:validation properties.
In the Information Model, we state that there can be multiple corporate email addresses:
https://github.com/IndustrialDataSpace/InformationModel/blob/develop/model/participant/Participant.ttl#L33

In SHACL, we state that there must be at least one corporate email address:
https://github.com

[2020-01-20 10:29] HaydarAk commented on #186
I think so too.  The Information Model is correct here.

Fixed in 744ac612c559df4730c2420e0c5681da0af342c0 .

[2020-01-20 10:29] #186 closed

[2020-01-20 14:54] HaydarAk commented on #160
New Widoco release [1.4.13](https://github.com/dgarijo/Widoco/releases/tag/v1.4.13) solved this issue by adding a feature to reference to OOPS results in the main page of the documentation.
I'll add the button with the next update of the documentation.

Thanks to @dgarijo for providing a built-in solution for this issue in the Widoco release.

[2020-01-28 09:37] clange opened #190 "Support non-IDS properties for domain-specific structure/semantics"
Once the Java code generator supports namespaces outside of IDS, we can implement the use of VoID, SHACL and Data Cube properly. We need the following properties:

* SHACL: only `sh:shapesGraph` – but it makes sense to continue having `ids:shapesGraph` as a subproperty, because of the more specific domain ids:DescribedSemantically. However @HaydarAk declaring `ids:shapesGraph` as a datatype proper

[2020-02-03 14:18] dileep-rkm opened #191 "Update examples"
some examples such as https://github.com/IndustrialDataSpace/InformationModel/blob/examples/examples/DATA1.ttl needs to be updated and also remaining examples in the examples folder.
@HaydarAk

Concrete issues include:
- outdated namespaces such as `idsc_content:`

[2020-02-03 20:34] HaydarAk commented on #191
you're right. Thanks for the hint.

I'll update them soon :)

[2020-02-06 15:36] sebbader opened #192 "IDS Managed Entities have Activities"
https://github.com/IndustrialDataSpace/InformationModel/blob/166d3938dd9fe977a51e4b29cb500ea17d4b411c/model/traceability/ManagedEntity.ttl#L27

We describe entities with activities, which does not fit to the state-based approach of RDF. For instance, a participant can *not* have an attribute 'RemovalActivity'. Would that mean that it *is currently removed*?

Better: participant <has state> :remove

[2020-02-12 07:32] maboeckmann opened #194 ""DescriptionRequestMessage""
Currently, there is a "SelfDescriptionRequest" (which should actually be called "SelfDescriptionRequestMessage", see #149 ) for retrieving the self description of a connector. The connector can provide its full catalog in the response or provide only an empty catalog (i.e. provide the catalog URI).

Via an ArtifactRequestMessage, one can query...
(1) the full catalog of a connector
(2) a resource

[2020-02-25 14:58] HaydarAk commented on #179
#197 contains the annonymized self-description.

[2020-02-25 15:07] HaydarAk commented on #181
The SHACL validation documentation (see #197) describes this procedure.
It also provides a simple java and apache jena-based implementation of a SHACL validation which imprts the whole IDS Information Model.

For a performance perspective, it is acceptable to read the whole model. Developing a programmatic solution to extract relevant axioms is not needed.

[2020-02-25 15:08] #163 closed

[2020-02-25 15:09] #160 closed

[2020-02-27 15:52] #171 closed

[2020-02-27 15:58] HaydarAk commented on #66
Added in a5be2c342464aa8677895bc823180140073dab1c

[2020-02-27 15:58] #66 closed

[2020-02-28 08:30] maboeckmann opened #202 "Class "Site" irrelevant?"
In this information model, there is a class called Site used for modelling websites. It has exactly one property: ids:siteAddress (string).
However, the homepage and the corporate homepage of a participant are Datatype Properties, pointing directly to xsd:anyURI and not using the Site class at all. The "primary site" property of a participant is an Object Property, pointing to a Site object.

As t

[2020-02-28 14:11] HaydarAk commented on #202
I think the naming is a bit confusing.  I assume `ids:Site` should be used for a Participants address, e.g., office address of a company. See the corresponding documentation for [org:Site](https://www.w3.org/TR/vocab-org/#org:Site), which is a superclass of `ids:Site`.

An enhancement could be a more fine-grained approach to model an address. Therefore rdfs:range of ìds:siteAddress` could for exam

[2020-02-28 14:34] maboeckmann commented on #202
Ahh, thanks for clarification. My bad :)

[2020-02-28 14:34] #202 closed

[2020-03-02 10:09] #149 closed

[2020-03-03 10:02] #184 closed

[2020-03-03 12:14] #179 closed

[2020-03-03 12:14] #181 closed

[2020-03-04 09:47] #134 closed

[2020-03-04 15:39] HaydarAk commented on #194
added in #204

[2020-03-10 12:39] clange opened #220 "Specify conformance with info model"
* define release schedule
* define durations in which components have to support some released version of the info model
* define migration paths from one version to another one
* define core classes that have to be supported
* specify that, when I receive a message that contains infomodel instances with non-IDS metadata fields (e.g., SHACL shapes describing datasets), I may ignore the latter
* pr

[2020-03-10 13:04] clange opened #221 "Specify what attributes are required for what message classes"
Input from Plugfest: are all properties in the upper section of http://htmlpreview.github.io/?https://github.com/IndustrialDataSpace/InformationModel/blob/feature/message_taxonomy_description/model/communication/Message_Description.htm supported by all message types listed in the lower part? If not, then make explicit in the lower table what attributes are required for what message classes.

[2020-03-18 13:56] JohannesLipp opened #224 "Extend supported MediaTypes"
In [MediaType.ttl](https://github.com/IndustrialDataSpace/InformationModel/blob/develop/codes/MediaType.ttl) we currently list media types such as `TEXT_PLAIN`, `TEXT_XML`, `APPLICATION_MSWORD` and so on.

Please extend the supported media types by Excel etc., according to a standard or guideline, thanks!

[2020-03-24 09:49] HaydarAk opened #227 "Change SHACL Shape property ranges to IRIs (without class restrictions)"
**ToDo:  Remove all class restrictions from poperty shapes with `sh:nodeKind sh:IRI`.**

---

**Description**

We came to the conclusion that some of our SHACL property shapes are too restrictive. More specifically, this problem arises with shapes that expect only IRIs/URIs as range of the property.

**Example of such a property shape**:
[code]
The `sh:class ids:Connector` statement is only true,

[2020-03-25 08:50] #227 closed

[2020-03-26 10:01] HaydarAk opened #229 "Transfer repository to IDSA organization"
1. DONE Find out what information could be lost in a repository transfer
2. DONE Get access / write permissions in the [IDSA organization](https://github.com/International-Data-Spaces-Association/)
3. Move repository
4. Edit links pointing to this repository
5. Tell the world about it
6. Rebuild the old README which explains the move.

**Comment**: Not sure in what state the old repository will be

[2020-03-26 10:04] HaydarAk opened #230 "Persist messages documentation on w3id.org"
As described in the title, the [message taxonomy description](http://htmlpreview.github.io/?https://github.com/IndustrialDataSpace/InformationModel/blob/feature/message_taxonomy_description/model/communication/Message_Description.htm) should be persisted with a w3id.org url.

[2020-03-26 12:21] sebbader commented on #155
done by #215

[2020-03-26 12:21] #155 closed

[2020-03-26 12:22] sebbader opened #232 "DatPayload requires Attributes"
- SecurityProfile
- extendedGuarantee
...

[2020-03-26 12:23] sebbader commented on #232
See also Communication Guide specification to DAT and DAT Request

[2020-03-26 12:24] sebbader commented on #232
see `feature/datPayloadAttributes` branch.

[2020-03-26 12:25] sebbader commented on #232
I need to test these changes more, and need to verify that the updates work with the upstream tool chain.

[2020-03-26 14:05] sebbader opened #233 "Constraint required Attributes in SHACL and idsm"
shapes:ConstraintShape declares cardinality restrictions for its attributes, but the class itself has no respective idsm:NotNull annotation.

Furthermore, ids:rightOperandReference needs to become an alternative for ids:rightOperand in the shapes:ConstraintShape.

[2020-04-03 16:06] clange commented on #229
Hmm, can't edit this issue any more, now that it has been moved to the new organization. Anyway, we are at Step 4. All active developers should apply `git remote set-url origin 'https://github.com/International-Data-Spaces-Association/InformationModel'` to their clone.

[2020-04-09 09:16] dileep-rkm opened #238 "Updated Date for each resource"
It is necessary to have the updated/modified date for every resource.
A possible use-case can be to sort the resources at the broker based on the updated/modified date.

It is important to note that the updated/modified date should contain the value when the specific dataset/resource is updated/modified and is not set to the value when it is being registered/updated at the broker

[2020-04-14 09:48] HaydarAk commented on #232
Fixed in #239

[2020-04-14 09:48] #232 closed

[2020-04-14 09:59] HaydarAk commented on #230
Done.

https://w3id.org/idsa/ids-messages

[2020-04-14 09:59] #230 closed

[2020-04-14 13:35] HaydarAk commented on #180
As suggested in section 3.1 of the [SHACL W3C documentation](https://www.w3.org/TR/shacl/#shapes-graph), a shacl processor should resolve all owl:import statements and import the shapes.

Although, after some tests we came to the conclusion that the commonly used SHACL processors do not import these SHACL shapes automatically, there is a workaround.  As mentioned in our [SHACL documentation](https

[2020-04-14 13:35] #180 closed

[2020-04-14 14:53] #233 closed

[2020-04-16 09:35] HaydarAk commented on #224
Did some research.

### What we currently have
_ids:MediaType_ class as a subclass of _dcterms MediaType_ and _ids:IANAMediaType_ as well as _ids:CustomMediaType_ as subclasses of _ids:MediaType_. The latter have instances. IANA media type instances or custom types which are not part of IANA.

The list of instances is incomplete / short, as Johannes hinted here

### Findings

DCAT2 also recommends

[2020-04-16 10:59] HaydarAk commented on #221
Done.

Edited the description texts of https://w3id.org/idsa/ids-messages and added that:
- all messages in the second table support all properties of the core ids:Message.
- added a column in the second table for list of properties of the core ids:Message, which were optional for the core class but mandatory for the specific message. E.g., correlationMessage Property for all ResponseMessages.

[2020-04-16 10:59] #221 closed

[2020-04-17 08:20] HaydarAk commented on #153
Contracts have been updated in v3.0.0. RightOperands do not LeftOperand Values anymore.

[2020-04-17 08:20] #153 closed

[2020-05-04 13:26] clange commented on #131
@sebbader rather than for @HaydarAk could this probably be a task for _you_? Within the scope of this issue I also see the explicit modelling of the IDS infomodel as an [ODRL profile](https://www.w3.org/TR/odrl-model/#profile-mechanism), possibly also reusing https://www.w3.org/TR/dx-prof/.

[2020-05-04 16:05] sebbader commented on #80
This one needs to go up the prio list. I just did a similar thing as you, @mkollenstart , and the Endpoint modelling is really a pain.

[2020-05-04 16:06] sebbader commented on #80
I assigned it the `4.0.0` label as we need to do some breaking changes here.

[2020-05-04 16:06] clange commented on #229
We are mostly done with this. @HaydarAk I'm just wondering about point (6) above "rebuild the old README which explains the move". I no longer understand what this means…

[2020-05-04 16:09] clange opened #253 "Get rid of last (non-breaking) references to the old repository"
While we can consider #229 largely done, there are still some non-breaking traces of the old repository, e.g.
[code]
in the SHACL shapes. This and other URLs should also be pointed to the new repository.

[2020-05-04 16:12] clange opened #254 "Persistent URL for IDS RAM"
Not really an issue about the infomodel, but something that's related and under our control. This came up in a discussion about https://github.com/International-Data-Spaces-Association/IDS-G with @jlangkau. It would be helpful to have redirects to the IDS-RAM like this:
* https://w3id.org/idsa/ram → latest version
* https://w3id.org/idsa/ram/3 (and/or 3.0) → version with that number

@sebbader I d

[2020-05-05 16:15] sebbader commented on #254
What do you think about this one? https://github.com/sebbader/w3id.org/blob/2d9ee58a6b10187db119b920cff2cc9d4491d9c1/idsa/.htaccess#L65

[2020-05-05 16:16] sebbader commented on #254
@clange you also mentioned something else about "shorter URLs". What do you mean with that?

[2020-05-07 10:51] maboeckmann opened #256 "Transport Certs SHA256 in Self Description"
Currently, the transport certificate SHA256 hash can be attached to the self-description of connectors, as well as to the DAT payload, see [here](https://github.com/International-Data-Spaces-Association/InformationModel/blob/develop/model/infrastructure/Connector.ttl#L103).
Is there any point in having the certificate hash somewhere outside of the DAT? This information could not be trusted anyways

[2020-05-07 10:52] maboeckmann commented on #256
How fitting that this issue is numbered 256 ! ;)

[2020-05-08 08:34] jpieperbeck opened #257 "Allow multiple targetArtifacts for Contracts"
Currently, only one targetArtifact can be assigned to a Contract (Offer, Agreement, ...).
Proposal: Allow multiple targetArtifacts (as list, collection, o.e.). This should be handled as if the associated contract is generated for each individual artifact.

This would allow for much shorter contracts if multiple artifacts are treated with the same set of policies while keeping the artifacts themsel

[2020-05-08 12:28] sebbader commented on #257
I would like to promote the ODRL "xxx-Collection" construct. That would appear something like:

[code]

[2020-05-08 12:31] sebbader commented on #257
Problem: The members of the asset collection are not (yet/necessarily) in the JSON-LD Contract itself. That implies that the exchangeable JSON-LD is not self-contained, which might be an issue for its governance. For instance, I can change the collection after we agreed on a contract...

[2020-05-08 12:41] jpieperbeck commented on #257
Is there an issue with treating it as a generic list? This to me would feel like the easiest and most intuitive solution, especially since this is the way that multiple constrains/permissions/dutys for the same artifact are handled.

[2020-05-08 12:51] sebbader commented on #257
I think there are two answers:
A) I am pretty sure your approach is correct, I just want to see @HaydarAk's opinion.
B) I always wanted to use the Collections, and your need seems to be a good opportunity for that :-)

[2020-05-11 17:21] clange commented on #254
Thank you @sebbader for the IDS-G redirect suggested above. For IDS-G that's fine for a start. However in addition I had in mind that the redirect could also use regular expressions with grouping parentheses to get rid of the `.md` filename extension that some of the IDS-G documents have.

And _this_ issue here was actually about something else: a short URL for the IDS-RAM.

[2020-05-12 12:03] JohannesLipp commented on #109
Additions: We need to verify that...
- all usages are indeed compatible with DCAT
- both domains and ranges of all our classes are consistent w/ DCAT
- (more roughly, because of the current status quo) reasoning and axioms are correct
- if we use the same semantics, then we should add "equivalent" statements for clarification
- double-check correct usage of import and copy; be consistent with expl

[2020-05-18 16:02] sebbader opened #259 "Participant Relation to Contracts"
Contracts relate usage policies to Participants. At runtime however, the only trustworthy identity claim is bound to the Connector's identity (through the DAT). How can we allow a Connector to serve more than one Participant, announce this in a trustworthy manner, and let a Data Provider know about it?
Adding this information to the DAT would require the DAPS to be aware of all locally served Part

[2020-05-18 16:03] sebbader commented on #259
One solution could be to extend the Authorization Token with encoded information on the actual Participant.

[2020-05-19 06:49] jlangkau commented on #259
Not good: „Adding this information to the DAT would require the DAPS to be aware of all locally served Participants/users of a Connector, a possibly sensitive information.“

Better: „extend the Authorization“

[2020-05-25 08:22] sebbader opened #260 "Allow Contracts and RequestMessages for Composed Datasets"
In a current IDS use case, many (>1000 data objects (`ids:Resources`/`ids:Representation`)) need to be described with Contracts *and* accessed through Messages.
Suggestions:
- Make an example with Collections and ODRL constructs like that

[2020-05-26 06:21] HaydarAk commented on #257
From an Information Model perspective, this is not correct I think. See last section of my answer for a detailed explanation.

B) I always wanted to use the Collections, and your request seems to be a good opportunity for that :-)

Yes. As described below, the approach is correct and requries no changes in the Information Model.
Using asset collections would allow us:
- to wrap multiple artifacts

[2020-06-02 08:45] HaydarAk commented on #238
Good point.
We added the `ids:created` and `ids:modified` properties with range `xsd:datetimestamp` for `ids:DigitalContent` (superclass of `ids:Resource`) and `ids:Representation`

Commit: 8b29b4b75609e253081201aebcd6a945167f769d

[2020-06-02 08:45] #238 closed

[2020-06-02 12:28] JohannesLipp commented on #224
Thank you for the investigation, especially on IANA media types. I fully agree that we should not maintain a list of all IANA media types, following frequent updates.

The following example you provided is a convenient way to directly use IANA media types in an IDS context:
`{
"@context": "https://w3id.org/idsa/contexts/2.1.0/context.jsonld",
"@type": "Representation",
"mediaType": {

[2020-06-02 14:25] clange commented on #191
Concrete issues include:
- outdated namespaces such as `idsc_content:`

[2020-06-03 11:41] HaydarAk opened #266 "Add references to corresponding IDS-G sections to the Information Model"
After introducing a persistent w3id URL for the IDS glossary IDS-G (see #254):

For core components, such as the ids:Participant, ids:Connector and so on, add references to the corresponding IDS-G section o

E.g.
[code]

[2020-06-03 11:45] HaydarAk opened #267 "Align information from IDS-G and Information Model"
Check / compare the information provided in the draft branch of the [IDS-G repository](https://github.com/International-Data-Spaces-Association/IDS-G/tree/draft/) with the contents of the Information Model.

E.g. check if one source is missing information that the other source already contains such as properties of core classes, DAPS token representation and so on.

[2020-06-03 11:53] HaydarAk opened #268 "Message table documentation @ IDS-G"
The documentation of the message taxonomy (https://w3id.org/idsa/ids-messages) should be transfered to a document (e.g. markdown doc) in the IDS-G repository if possible.

Currently, the documentation is based on an Excel spreadsheet:
- which is maintained and updated manually
- exported to HTML
- pushed to a [specific branch](https://github.com/International-Data-Spaces-Association/InformationMod

[2020-06-03 12:02] HaydarAk opened #269 "Widoco references do not resolve properly"
Directly referencing specific rdf entities in the widoco documentation of the Information Mdel, such as:
https://international-data-spaces-association.github.io/InformationModel/docs/index.html#/hasAgent
does not work properly.

In Firefox and Microsoft Edge, the direct URL reference only works properly, if the user calls the URL a second time _after_ calling the link once and loading the page. In

[2020-06-05 07:57] JohannesLipp commented on #109
My first investigation is on where we currently use the dcat prefix. This is in 19 files:

- Host

- Artifact
- DigitalContent
- Representation
- Resource
- VocabularyData
- Standard

- adms-20130801
- csvw-20170523
- dcat-20140116

- Catalog
- Connector

- HostShape
- ArtifactShape
- DigitalContentShape
- RepresentationShape
- ResourceShape
- CatalogShape
- ConnectorShape

[2020-06-05 09:54] JohannesLipp commented on #109
Detailed investigations and explanations:

- `dct:theme`:

[2020-06-05 15:48] sebbader opened #271 "Values of "DatPayload/scope" need to be defined"
For instance, several examples mention the "scope":"ids_connector_attributes" but it's not part of the IM.

[2020-06-09 10:23] JohannesLipp commented on #109
Coming to the major [changes from DCAT-1.1 to DCAT-2](https://www.w3.org/TR/vocab-dcat/#changes-since-20140116), which are of interest for us:

- Space: Using `dct:spatial` to point to a `dct:Location`, which has three new properties `locn:geometry, dcat:bbox, dcat:centroid` that can also be used concurrently. Our `ids:spatialCoverage` already extends `dct:spatial`, which does not yet extend `dct:

[2020-06-09 11:04] JohannesLipp opened #273 "Verify whether `ids:DurationEntity` is required anymore"
The class `ids:DurationEntity` is defined in `TemporatlEntity.ttl`, but is never used, except for two comments.

Please verify this and possibly remove that detached class.
Note that in `ids:hasDuration`, we use `xsd:duration` directly.

[2020-06-12 08:41] sebbader commented on #190
I think we have all the building blocks now. The [examples](https://github.com/International-Data-Spaces-Association/InformationModel/tree/develop/examples/queries-using-sparql/SparqlQueries/src/main/resources) are there and the IM itself has no restrictions on foreign namespaces of course.
I have only one concern about the subproject at [queries-using-sparql](https://github.com/International-Data

[2020-06-12 14:18] JohannesLipp commented on #224
@HaydarAk reopening this for a further question. Is it a good practice to use IANA media types, which are not in the list of `ids:IANAMediaType`s like so?
[code]

[2020-06-12 14:22] JohannesLipp commented on #190
Agree with that. Regarding the side repo: We currently have three exemplary implementations in the [our repo's example directory](https://github.com/International-Data-Spaces-Association/InformationModel/tree/develop/examples). This decision would include to move all examples to a side repo, or one in a dedicated repo each.
Of course, it would clean up the repo, but a drawback is that people would

[2020-06-15 07:48] HaydarAk opened #275 "Repository for (code) examples"
Derived from the issue #190

---

[...]
Agree with that. Regarding the side repo: We currently have three exemplary implementations in the our repo's example directory. This decision would include to move all examples to a side repo, or one in a dedicated repo each.
Of course, it would clean up the repo, but a drawback is that people would need to search trough other repos for examples.

I would s

[2020-06-15 07:48] HaydarAk commented on #190
New issue regarding the examples related discussion.

#275

[2020-06-15 08:32] HaydarAk commented on #224
From a syntactic point of view, it should work.

One thing I noticed with this is the difference between IANA types and what we write in RDF/TTL or JSON-LD. We can discuss this in a larger group.
Using your example above, the problem occurs when we take a look at
[code]
the rdfs:label is equal to what [IANA lists for excel documents](https://www.iana.org/assignments/media-types/application/vnd.ms-

[2020-06-15 09:43] gbrost commented on #271
Lets call it idsc:IDS_CONNECTOR_ATTRIBUTES and make upper case the default, ok?

[2020-06-19 07:46] sebbader commented on #266
Hi! The W3IDs have just been accepted. [https://w3id.org/idsa/ids-g/](https://w3id.org/idsa/ids-g/) works now.

[2020-06-19 07:54] sebbader commented on #254
Hello @clange, you are right that I mixed a few things up. Now, as the IDS-G redirects are in place, I just checked related issues and came back to this one here.
It's of course possible to add an IDS RAM link, for sure. However, I'd prefer a reference to the IDS-G RAM, and relink the PDF from there:
* The resource locations at the [IDSA Download Hub](https://www.internationaldataspaces.org/ressou

[2020-06-19 07:57] HaydarAk commented on #273
I think the idea behnd `ids:DurationEntity` is that we can use it to say somthing like:
"$Event has a duration of P1DT2H" (1 day, 2h).

There may be situations, where we can not define the starting point and therefore can not define it as an `ids:Interval`.  The DurationEntity requires that `ids:hasDuration` is used. As highlighted in the comments, ids:DurationEntity should be "transformed" to an

[2020-06-19 08:08] sebbader commented on #229
can we close this now? I am pretty happy with the applied actions :-)

[2020-06-19 08:10] sebbader commented on #182
@mkollenstart : Do you think your problem is properly adressed already? If yes, can the close this ticket? If no, could you tell us a bit more how we can help you?

[2020-06-19 09:07] JohannesLipp opened #277 "Alignment with DCAT-AP"
Assure full compatibility for the DCAT application profile (DCAT-AP) of the European Union in version 2.0.0 (https://joinup.ec.europa.eu/solution/dcat-application-profile-data-portals-europe/release/200).

[2020-06-19 09:08] JohannesLipp commented on #109
The work for DCAT-2 is done. Compatibility with DCAT-AP is done in issue #277

[2020-06-19 09:12] JohannesLipp commented on #277
Overview of DCAT-AP constraints and their implications to the IDS Infomodel

- dcat:DataService
  - not used
- skos:Concept
  - used in `Concept` and `Described`
  - `skos:prefLabel 1..*`
- `skos:ConceptScheme`
  - used in `Concept`
  - `dct:title 1..*`
- `rdf:Resource`
- `dcat:Catalog`
  - used in `Catalog`
  - `dct:description 1..*`
  - `dct:title 1..*`
  - `dct:publisher 1..1`
- dcat:CatalogRec

[2020-06-19 10:47] JohannesLipp commented on #229
Thank you!
The last puzzle piece IMHO is the updated references. I linked that pull request, which should be sufficient to close this issue.

[2020-06-19 10:54] JohannesLipp commented on #273
We could still use `ids:hasDuration` to say "... has duration of P1DT2H" and do not need another instance of `ids:DurationEntity` for that. And we should also be able to transform that duration to an `ids:Interval` at some later point in time, if required.

I still don't see the benefit of the extra class `ids:DurationEntity` here.

[2020-06-19 11:43] JohannesLipp commented on #224
Option a) seems fair to me. This would also improve my example above, because the Excel IANA media type is no longer defined in each custom namespace.

What steps are to be executed to solve this?

[2020-06-19 12:04] mkollenstart commented on #182
In principle, yes. The answer of @HaydarAk follows my reasoning, so I'm happy that we are aligned on that.
I do, however, think that in the documentation and examples we might have to make this a bit more clear.

For instance, in [TRUSTED_CONNECTOR.TTL](https://github.com/International-Data-Spaces-Association/InformationModel/blob/cd244cefce5394b3570d7c540d3813dfa53b5467/examples/TRUSTED_CONNECTOR

[2020-06-22 09:25] sebbader commented on #182
Hi @mkollenstart, thanks for pointing us to the example. I will then leave this ticket open as a reminder for our upcoming rework of the docu/manuals etc.

[2020-06-22 09:29] sebbader commented on #273
I think you, @JohannesLipp, have a point here. We could do the same for TemporalInstance (or only Instance?), which is not really a class but a Literal to some degree.
* The Literal approach would make our life easier, though not anymore in line with the TIME ontology.
* Furthermore, extensibility is not given for Literal objects (e.g. adding another property to the time instance) and we cannot li

[2020-06-22 09:30] sebbader commented on #273
So, I see a design decision here. There are good arguments for both and it's on us to decide what fits better.

[2020-06-22 10:05] HaydarAk commented on #273
The ids:Instance class is used in two ways:
- To talk about a concrete date
- As part of an ids:Interval.  An ids:Interval is basically a composition of 1-2 `ids:Instance` elements.

I agree with both of you. It is a design decision.

[2020-06-23 12:14] #229 closed

[2020-06-23 12:14] #253 closed

[2020-06-24 16:23] JohannesLipp commented on #277
For all `ids` terms, we need to introduce `idsm:notNull` annotations. Also, we need to integrate the above-mentioned restrictions into SHACL shapes.

[2020-06-25 15:37] sebbader opened #281 "Metadata in Shapes"
A lot of our Shapes have ontology metadata, for instance at: https://github.com/International-Data-Spaces-Association/InformationModel/blob/33426b25cf6074c6513af48b34550600930dff8e/testing/contract/ActionShape.ttl#L11

Do we really need those? I just came up with an approach to collect all Shapes through owl:imports in one TTL file, similar to the Ontology.ttl appraoch we already have. However, Pr

[2020-06-25 16:37] sebbader opened #282 "Conflict between `idsm:referenceByUri true` Properties and sh:class cheks in SHACL"
A property with `idsm:referenceByUri true` must not have a class check in the respective SHACL shape, for instance:
[ids:theme](https://github.com/International-Data-Spaces-Association/InformationModel/blob/33426b25cf6074c6513af48b34550600930dff8e/model/content/DigitalContent.ttl#L109) and [DigitalContentShape](https://github.com/International-Data-Spaces-Association/InformationModel/blob/33426b25

[2020-06-25 16:38] sebbader commented on #282
Update suggestion will come soon.

[2020-06-26 10:27] JohannesLipp commented on #224
Our agreed solution is to follow [these DCAT-2 examples](https://www.w3.org/TR/vocab-dcat-2/#packaged-and-compressed-distribution) and use `dcat:mediaType <http://www.iana.org/assignments/media-types/text/csv> ;` via `idscmediaType` respectively.

[2020-06-26 10:28] #224 closed

[2020-06-26 12:30] jlangkau opened #284 "ParIS is subClass of?"
ParIS is currently subClass of ids:Connector. Is it not a subClass of Broker (aka. MetaDataBroker, MDB)?

[2020-06-29 08:09] mkollenstart opened #285 "Message metadata"
`Message`s currently do not support the addition of metadata belonging to the message at this moment.

For instance, when we do want to create a `InvokeOperationMessage` with a specific payload (e.g. the contents of a file) and metadata (e.g. specific parameters so that the receiver can handle the file) a custom serialization of both the payload and metadata is created that wraps both in the form

[2020-06-29 09:49] sebbader commented on #61
This ticket has been solved in a first version, although a further iteration is required. This will be done in an additional ticket.

[2020-06-29 09:49] #61 closed

[2020-06-29 11:50] sebbader commented on #74
Update: I have requested to change http://ids.semantic-interoperability.org/ to redirect to https://w3id.org/idsa/core . Solving this will solve this ticket in my view.

[2020-06-29 11:50] sebbader commented on #284
Hi @jlangkau !
Thank you for your proposal. Even though the Broker and ParIS are certainly very similar in their scope - and using the same code base in our implementation - a subClass relation is a bit too much I think.
That would mean that *every* ParIS is *always* a complete Metadata Broker, with all it's features and requirements. I don't see this, to be honest.

What's you opinion here?

rega

[2020-06-29 11:55] jlangkau commented on #284
Hey @sebbader!

Everything is fine! I get it some time ago, that ParIS get all features from MDB - and some on top... So I'm fine, if ParIS is a "normal" connector...

j.

[2020-06-29 12:26] sebbader commented on #285
Hello @mkollenstart !

I think you have a really relevant use case here. I would see it even more general, for instance for streaming data:
I want to send the metadata beforehand, and then exchange the payload content in the following interactions. That is certainly not possible (or thought through?) at the moment. Maybe we can come up with some ideas during the plugfest this week?

Best,
Sebastia

[2020-06-29 12:27] sebbader commented on #284
ok, then let me close this ticket. Still, please continue asking questions like this also as issues here! This gives us a better impression on bugs/missing features and let's us track the processes way easier.

[2020-06-29 12:27] #284 closed

[2020-06-29 12:35] sebbader commented on #271
PullRequest is on the way. When you need more, please just continue to open tickets like this and we will insert them. (maybe faster next time).

[2020-06-29 12:40] sebbader commented on #273
I'll add @clange to this issue, as this requires the CO's opinion.

[2020-06-29 12:45] sebbader commented on #256
I am pretty sure you have waited a long time to open this one!

[2020-06-29 13:16] mkollenstart commented on #285
Thanks, Sebastian, for the reply.

Indeed, the more general case of streaming data is also a very interesting case. But that would be primarily for the communication through IDSCP, where sending the metadata in front of the actual data would be a very good idea.

However, for the HTTP multipart communication this approach will probably not work be the best idea, as a single request would be more l

[2020-06-29 14:11] #282 closed

[2020-06-29 14:19] sebbader opened #287 "Catalog Construct for ParIS"
The ParIS needs a collection for known Participants similar to the Broker.

[2020-06-29 15:15] mkollenstart opened #288 "Agent description for Resources"
In the latest version of the Information Model (3.1.0), the `ids:sovereign` field in `ids:Resource` is now a referenceByUri field.
This is from my point of view logical, since the agents should be defined somewhere else. However, there is no place right now to actually define them, and I don't think the ParIS would be a suitable location for that.

Currently, we're using the full description of th

[2020-06-29 15:25] HaydarAk commented on #22
Done.
See #229 and #253

[2020-06-29 15:25] #22 closed

[2020-06-29 15:35] HaydarAk commented on #23
Properties are not even part of the IM anymore :)
Therefore, this can be closed.

[2020-06-29 15:35] #23 closed

[2020-06-29 15:40] HaydarAk commented on #25
interesting idea. Never thought about having version numbers for infrastructure components like Connector and Broker.
Currently, components are solely identified by its IM compatibility.
@sebbader  any opinion regarding this?

[2020-06-29 15:42] HaydarAk commented on #38
@sebbader
Need more codes?

[2020-06-30 08:51] JohannesLipp opened #289 "Make ids:representationStandard less restrictive to allow custom usage"
We require to specify a data model for an `ids:Resource` (actually a `ids:Representation`), for example DATEX II (https://www.datex2.eu/datex2).

The current modeling in the IDS Infomodel is too restrictive, as it does not allow custom URIs besides `ids:Standard` instances.

[2020-06-30 09:59] mkollenstart commented on #288
This issue is now probably obsolete, since the new updates allow external ontologies to be added. Which will be something we would use here.

[2020-06-30 09:59] #288 closed

[2020-07-02 07:37] HaydarAk commented on #74
Redirect looks good. 👍

[2020-07-02 07:37] #74 closed

[2020-07-02 07:41] HaydarAk commented on #76
New docu (https://w3id.org/idsa/core) these problems

[2020-07-02 07:41] #76 closed

[2020-07-02 07:43] HaydarAk commented on #75
We did a major overhaul of the documentation (https://w3id.org/idsa/core).

This should have fixed this issue.

[2020-07-02 07:43] #75 closed

[2020-07-02 07:45] HaydarAk commented on #98
@sebbader  Still ongoing?

[2020-07-02 07:47] HaydarAk commented on #142
Fixed that in recent updates.

I still like the idea of the https://w3id.org/idsa/test prefix for shapes.

[2020-07-02 07:52] HaydarAk commented on #133
@sebbader Could you give us a update regarding this issue?
We did some changes on the security-related modeling.

Issue still present?

[2020-07-02 08:00] HaydarAk commented on #144
If I understand you correctly, you would like to add, e.g., a (datatype) property like

[code]

to say "this resource / representation is mapped to a rdf found behind this IRI"

Right?

[2020-07-02 08:04] HaydarAk commented on #95
See also #191

[2020-07-02 08:09] HaydarAk commented on #269
Works now :)
Fixed it by changing the id/href of entries from `#/someID` to `#someID`
https://international-data-spaces-association.github.io/InformationModel/docs/index.html#hasAgent

[2020-07-02 08:09] #269 closed

[2020-07-02 12:53] #271 closed

[2020-07-03 13:55] steffenbiehs opened #290 "More Broker information"
The InformationModel should persist more information about the Broker, e.g. at which Broker the IDS-Connector is registered. And of course should this value be empty if the IDS-Connector isn't registered at any Broker.

[2020-07-06 09:59] clange commented on #24
I agree with "outdated". The property on the IDS side must have been renamed meanwhile.

[2020-07-06 10:00] #24 closed

[2020-07-06 13:44] sebbader opened #291 "Refinment of Obligations"
Obligations can be intended to be evaluated before (Pre-Usage Obligations), at (Ongoing-Usage Obligations), or after (Post-Usage Obligations) the usage event. The IDS Obligation class must represent this fact by either:
* becoming abstract with three new subclasses (preferred)
* a new attribute explaining the intended execution time

[2020-07-07 17:24] sebbader commented on #273
And, I would like to relate this ticket with https://github.com/International-Data-Spaces-Association/InformationModel/commit/d492bc16e93ca1614a3ea4f7efa594747cf277a7.
My suggestion:
We need to specify how Time is expected in the IDS, either XSD Datatypes (simple) or TemporalInstances (complex types). We should not define time instances, days of week, months etc. by ourselves.

[2020-07-07 18:03] sebbader commented on #266
Can we close the ticket then?

[2020-07-07 18:06] sebbader opened #292 "Move Content of *_toGlossary Files"
There are several old *.ttl_toGlossary files left. We should move the content into the IDS-G (see also #266 ) and delete those files.

Example: https://github.com/International-Data-Spaces-Association/InformationModel/blob/develop/model/governance/DataSovereignty.ttl_toGlossary

[2020-07-07 18:21] sebbader opened #293 "Remove non-used Classes and Properties"
Several classes, properties, taxonomies and instances in the current version have never been used, and no realistic use case is currently presented. I suggest to list such entities, and delete them from the model. This shall reduce the overall complexity of the model and help the users to find what is really relevant.

I have prepared suggestions in the branch feature/simplifications already.

[2020-07-07 18:22] sebbader commented on #293
https://github.com/International-Data-Spaces-Association/InformationModel/tree/feature/simplifications

[2020-07-07 18:23] sebbader commented on #293
Furthermore, I want to remove Operations from the model. It is not in the core focus of the IDS, and only provides minimal added value while at the same time presenting a huge set of classes and relations.

[2020-07-07 18:26] sebbader commented on #293
And I want to get your opinion on our Licenses. This enumeration is, and always will be, incomplete. I strongly suggest using a third party vocabulary instead of trying our own model.

[2020-07-08 05:54] jlangkau commented on #293
A very good move!

[2020-07-08 05:56] jlangkau commented on #293
This is a very good idea - but: are you shure, that know one (out in the field) is using some of those you want to eleminate?

[2020-07-08 06:00] jlangkau commented on #292
If you will support me with those glossery-entries, I will put them to IDS-G-glossary...

[2020-07-08 06:02] jlangkau opened #294 "And, I would like to relate this ticket with https://github.com/International-Data-Spaces-Association/InformationModel/commit/d492bc16e93ca1614a3ea4f7efa594747cf277a7."
And, I would like to relate this ticket with https://github.com/International-Data-Spaces-Association/InformationModel/commit/d492bc16e93ca1614a3ea4f7efa594747cf277a7.
My suggestion:
We need to specify how Time is expected in the IDS, either XSD Datatypes (simple) or TemporalInstances (complex types). We should not define time instances, days of week, months etc. by ourselves.

_Originally posted

[2020-07-08 06:05] jlangkau commented on #294
I totally agree with @sebbader! And I recommend to use time-ontology-idea of handling related problems. So, use Instant and Interval.

[2020-07-08 08:05] HaydarAk commented on #266
Still ongoing.

[2020-07-08 08:14] HaydarAk commented on #293
I agree with Sebastian. 👍  But removing Operations inevitably leads to a re-design of (interactive) endpoints, since interactive endpoints are mainly based of the operations as far as I knmow.

Good question

---

I'd like to add the `Activities` to the list of things that we should remove.

[2020-07-08 08:20] jlangkau commented on #266
@HaydarAk : as I mentioned in another post: let me know, what has to be moved to IDS-G-glosssary and I will move it!

[2020-07-09 07:53] gbrost opened #295 "Security profile naming and content"
Hi, in InformationModel/codes/SecurityGuarantee.ttl:
We should adapt the security profile names:
It is not really the trusted connector securit profile.
It is more like
idsc:BASE_SECURITY_PROFILE
idsc:TRUST_SECURITY_PROFILE
idsc:TRUST_PLUS_SECURITY_PROFILE

We also shouid take about removal of the secury guarantees. We would keep that in synch with the evolving certification criteria.

[2020-07-10 07:17] clange commented on #293
I fully agree – could someone try to find one? I'm not so sure that there _is_ such a thing. However, being incomplete should be OK, because the IDS infomodel already has a way of referring to "non-standard" licenses.

[2020-07-11 14:38] jlangkau commented on #273
My thoughts on it: we need TemporalEntity, so done by Interval and Instant and we need inXSDDateTimeStamp, days months. And all (binary) operators, here: 12. Done. We don't need the whole time-ontology, to complicated. Maybe we adopt more if we need moer...

[2020-07-13 09:58] sebbader opened #296 "Switch from ids:License Enum to Wikidata License Instances"
IDS should and cannot maintain a complete License Vocabulary. We need to validate whether the Wikidata entities are suited for our purposes.

Issues:
* Wikidata uses own properties, not the commonly known rdf/rdfs ones
* Wikidata identifiers are codes instead of human-friendly and readable ones
* Using sameAs relations will import a lot of additional, probably not necessary Wikidata annotations.

[2020-07-13 09:59] sebbader commented on #296
Related to #293

[2020-07-13 10:17] clange commented on #296
[This query to Wikidata](https://query.wikidata.org/#SELECT%20%2a%20WHERE%20%7B%20%7B%20%3Fs%20p%3AP31%2Fps%3AP31%2Fp%3AP31%2Fps%3AP31%20wd%3AQ79719%20%7D%20UNION%20%7B%20%3Fs%20p%3AP31%2Fps%3AP31%2Fp%3AP31%2Fps%3AP31%20wd%3AQ79719%20%7D%20.%20%3Fs%20rdfs%3Alabel%20%3Fl%20.%20FILTER%20%28langMatches%28lang%28%3Fl%29%2C%22en%22%29%29%20%7D) is promising. While, however, at a first glance it seems t

[2020-07-14 14:02] HaydarAk commented on #293
`model/contract/PricingModel.ttl`
`model/contract/Payment.ttl`

In my understanding, these classes are outdated and are now part of the usage policy.
Remove them, @sebbader ? 🗑️

[2020-07-14 15:36] HaydarAk commented on #290
I'm not sure, if this information should be part of a Connectors self-description.
The Broker is the index for Connectors and Resources in the IDS. That is whole idea behind the Broker.

Usually a Connector (or user) in the IDS communicates either to:
- the Broker, to ask for Connectors / Resources.
- a Connector directly (which it already knows) to start some kind of data / metadata exchange proc

[2020-07-14 15:38] HaydarAk commented on #173
See #296

[2020-07-14 16:15] jlangkau commented on #290
Hello Haydar!
Your thoughts are valid. But: one idea, why it (maybe) makes sense. MDB is an optional component of given eco-system. I think that a given MDB could be some kind of honeypot for connectors with a special flavour (service/data provided) and wants to show to be in good companion and competition to those?!?

[2020-07-15 09:19] sebbader commented on #295
Hi @gbrost !
+1 for the renaming of the SecurityProfile instances.

Regarding the SecurityGuarantees: I think we have two options:
a) Introduce the "smaller" profiles as SecurityGuarantee instances, e.g. idsc:BROKER_USAGE_CONTROL_PROFILE
b) Add one for each single feature in the Certifcation Criteria List, for instance idsc:Human_user_identification_and_authentication, idsc:Unique_identification_a

[2020-07-15 09:23] sebbader commented on #293
90% sure that you are right, @HaydarAk. I think those were left overs from some business-related discussions, which we have never finished in any appropriate manner... But yes, the input from the IDSA Legal WG puts these ideas into the contracts.

[2020-07-15 09:25] sebbader commented on #291
Just thinking loud: What are `Ongoing-Usage Obligations`? No clue how to tell an enforcement engine to do two things at the same time. I'd rather skip them, and stay with pre- and post-obligations.

[2020-07-15 09:28] jlangkau commented on #295
@gbrost: two weeks ago I try to do this, too. Align CertCrit with IM. Not so easy... here is one result: we have to bring in 'CB.certificateNumber'.

[2020-07-15 09:29] sebbader commented on #294
Hi @jlangkau! Something weird has happened here. Can you find the original topic of this issue? The current title and description confuse me. And please, if possible, add a direct link to the file and line number (see Githubs permalink feature) to directly link the discussion with the correct point in the IM.

[2020-07-15 09:34] sebbader commented on #290
Hello Jörg!
I'd say this use case is not directly necessary to enable the operation in a general IDS ecosystem. I, therefore, would like to assign it a rather low priority and focus on the crucial features first.
Best,
Sebastian

[2020-07-15 09:37] jlangkau commented on #295
Some years ago, one of the things I liked most on DAPS was, that it provides given attributes in a dynamic manner, as it's says. That was one of the reasons, why I don't like (up to now) that those attributes were hosted in profiles or whatever containers. Burned in for decades? Up to next IM-version? Maybe it is not a bad idea to „classify“ components this way, to show a direction, but: if a Conn

[2020-07-15 09:40] sebbader commented on #257
RDF-wise you are certainly correct, @HaydarAk, however, our tools currently expect only one object. `idsm:OneToMany` is not set...

However, my main obligation is the introduced complexity when promoting Collections. Please take a look at the ContentTemplate I am currently working on: https://github.com/International-Data-Spaces-Association/InformationModel/blob/3064b26bfbf9e894ef39a0241a525204bf3

[2020-07-15 09:42] sebbader commented on #62
The updates on the Usage Policy Language and the additional descritpions in the IM itself have solved this issue in the meantime.

[2020-07-15 09:42] #62 closed

[2020-07-15 09:45] sebbader commented on #63
In my view, the reference to a PIP endpoint solves this issue. A ids:rightOperandReference can point to an external system providing the kind of information.

Still open: Do we need to allow sets/lists/collections at the object position of ids:rightOperand?

[2020-07-15 09:47] sebbader commented on #49
I agree with @HaydarAk, this issue is not relevant anymore.

[2020-07-15 09:47] #49 closed

[2020-07-15 09:48] sebbader commented on #45
The Usage Policy Templates solve this issue.

[2020-07-15 09:48] #45 closed

[2020-07-15 09:49] sebbader commented on #39
The `ids:securityToken` is a stable and accepted property, therefore this issue has been solved with 1.0.2 already.

[2020-07-15 09:49] #39 closed

[2020-07-15 09:50] sebbader commented on #30
I think this is now also supported by the provided tools. RDF and the IM itself are of course also fine with external annotations.

[2020-07-15 09:51] jlangkau commented on #294
@sebbader : yes, weird! Sorry I can't solve/answer... but: I think it points to the fact, that I like to see more time-ontology stuff in the house (here: those operators)...

[2020-07-15 09:52] sebbader commented on #46
I'd say we have significantly improved the quality assurance and validation processes in the meantime, also regarding typed literals (see SHACL shapes). Therefore, I close the issue.

[2020-07-15 09:52] #46 closed

[2020-07-15 09:53] sebbader commented on #27
The reason for not directly using the original entities was that our generated tools and libraries required the IDS namespace. This has been solved by now, so we will not need to apply this kind of namespace hijacking anymore.

[2020-07-15 09:53] #27 closed

[2020-07-15 09:59] jlangkau commented on #62
@sebbader : one qustion only - what was ment by that?

[2020-07-15 10:01] sebbader commented on #26
@HaydarAk: `ids_da:licenseReference` is pretty old by now. Do we still have this issue?

[2020-07-15 10:09] sebbader commented on #25
I'd like to keep the view: The latest version of the IM contains the "truth" (to the best of our knowledge...). Means, old stuff is by definition outdated and risky. Therefore, I share your opinion, @HaydarAk, and would strongly discourage us to put versions to the entities declared in the IM itself.

However, what we need is a mechanism saying:
This Resource is the fourth one of its kind.

Any id

[2020-07-15 11:08] HaydarAk commented on #26
The property does not exist anymore. The actual issue was more related to the usage of dcterms:license I think.

The current modeling for licenses looks like this

https://github.com/International-Data-Spaces-Association/InformationModel/blob/fc64e0eb0f1617e4dceee724d91f6bb7912d6fd9/model/content/Resource.ttl#L79-L85
https://github.com/International-Data-Spaces-Association/InformationModel/blob/fc

[2020-07-15 12:16] HaydarAk commented on #296
Some additional information:
Licenses at wikidata (should) have a property called [full work available at URL](https://www.wikidata.org/wiki/Property:P953) which point to the license source.
There further indicates that wikidata is a suitable source for us. :)

[2020-07-15 12:27] HaydarAk opened #300 "Rework Endpoints"
As already indicated in some classes of the IM, our endpoints between Resources, Connectors (and Apps) should be reworked.
We should use this issue to gather our "pain points" with the endpints and discuss ideas how to change them.

[2020-07-15 12:51] #183 closed

[2020-07-15 12:58] JohannesLipp commented on #25
@VladimirAlexiev is right: The `dct:hasVersion` property is intended to be used to link a general described resource to one of its versions. See https://www.dublincore.org/specifications/dublin-core/dcmi-terms/#http://purl.org/dc/terms/hasVersion and http://udfr.org/docs/onto/dct_hasVersion.html

We use `ids:version` to link a `ids:ManagedEntity` to its version identifier, instead of a version/imp

[2020-07-15 14:27] seebi commented on #30
This means we have these meta data in place?

I do not see it, e.g. here
https://github.com/International-Data-Spaces-Association/InformationModel/blob/develop/metamodel/View.ttl

[2020-07-15 14:27] seebi commented on #30
maybe we discuss this on the next monthly?

[2020-07-15 20:34] HaydarAk commented on #291
Regarding your modeling ideas for obligations:
I also prefer the first idea over the second.

My initial understading was: "While doing the agreed action X, you have to ensure >".
In another domain, lets say chemistry, I'd say ongoing ogligations are something like _While working with chemical X, you have ensure Y, e.g. that everyone wears gloves_

Currently, I cant imagine a realistic ongoing obl

[2020-07-16 08:07] jlangkau commented on #63
I don't like to get in discussions here, but: I like jaros use case

...and maybe I'll solve this problem here <https://github.com/nicosResearchAndDevelopment/nrd-motic/blob/master/decide/operator/README.md#complex-context> (please follow it, I'm still working on it...).

What I don't like is, to shift those problems to PIPs. And (more problematic) I don't think, PIP is the right wording regarding

[2020-07-16 09:39] jlangkau commented on #291
@sebbader : is

(ongoing, until work is done) an event? Oh, there it is again, my good ol' friend „accident“ I spend a lot of time with... „accident“: when is this status NOT ongoing any longer, so something is NOT in this context, so we aren't allowed to read geolocation of given car?

[2020-07-16 12:48] HaydarAk opened #302 "Submit Information Model to LOV"
Submit Information Model to [Linked Open Vocabularies](https://lov.linkeddata.es/dataset/lov/) :)

[2020-07-19 10:20] jlangkau opened #304 "one property only?"
https://github.com/International-Data-Spaces-Association/InformationModel/blob/67c6efc6b67708689a86c35a102d1726489c5e9f/model/context/Event.ttl#L15

There will be one property only on an event? Here one or two suggestions from my side:

- provenance
- creator

and maybe an event can be a little more complex, like „barbershop“ < https://github.com/nicosResearchAndDevelopment/nrd-motic/blob/master/d

[2020-07-22 11:08] clange commented on #25
Re. `dct:hasVersion` I just had a look into [what DCAT recommends](https://www.w3.org/TR/vocab-dcat-2/#dataset-versions), and in fact it doesn't recommend much. Re. version numbers/identifiers I don't know. For data resources we might (ab)use `owl:versionInfo` (some of you may recall the related discussion we had in our internal Fraunhofer Digital project). For software I'm sure there also exist o

[2020-07-22 11:14] clange commented on #109
@JohannesLipp currently reviewing your investigations. Re `ids:VocabularyData` I would suggest (could you please do it if it's not yet done?) that we open a separate issue for getting _rid_ of that class? It was a workaround for adding some of the domain-specific structure/semantics features at a time when CodeGen was not yet able to handle terms from non-IDS namespaces.

[2020-07-22 11:22] clange commented on #109
After reviewing, the following questions remain to be asked to DCAT experts.
* Is it OK to have `ids:theme rdfs:subPropertyOf dcat:theme; rdfs:domain [ rdfs:subClassOf dcat:Dataset ]`? I think it is, because we are talking about a more specific property, and that property is not mandatory.

[2020-07-22 11:30] clange commented on #109
Re. `dcat:mediaType` I think we shall take the right decision in the context of our ongoing discussion on how to replace our media type code lists by something more lightweight that can take any standard or non-standard string of the form `"type/subtype"`. @JohannesLipp could you please link to that issue from here, or in any case make sure we _have_ an issue for that discussion? (The discussion w

[2020-07-22 11:40] clange commented on #109
@JohannesLipp in https://github.com/International-Data-Spaces-Association/InformationModel/pull/270 (How do you easily/directly link to a pull request?) I did not see anything about the first bullet point in [the comment about dct:spatial](https://github.com/International-Data-Spaces-Association/InformationModel/issues/109#issuecomment-641194592). Did you also cover that?

[2020-07-22 11:43] clange commented on #112
@JohannesLipp could you please give this a quick check from your perspective of #109 ? Maybe we have done this already.

[2020-07-22 11:45] clange commented on #109
This comment is a placeholder for some more DCAT2 features I'd like to request to be supported by the IDS infomodel. At the very least we should go through [the full list of changes from DCAT 1 to 2](https://www.w3.org/TR/vocab-dcat-2/#changes) once more. I think at least `dcat:DataService` is related to `ids:Endpoint` in a way that we have not yet considered here (see https://www.w3.org/TR/vocab-

[2020-07-22 14:40] JohannesLipp opened #307 "Remove ids:VocabularyData helper class"
Please remove the class `ids:VocabularyData`.
It was a workaround for adding some of the domain-specific structure/semantics features at a time when CodeGen was not yet able to handle terms from non-IDS namespaces.

_Originally posted by @clange in https://github.com/International-Data-Spaces-Association/InformationModel/issues/109#issuecomment-662395022_

[2020-07-22 14:41] JohannesLipp commented on #307
Note that this artificial construct is also described in #190 in the context of VoID

[2020-07-22 14:49] JohannesLipp commented on #109
I would say yes. Currently, the domain is `ids:DigitalContent`, which is a subclass of `dcat:Dataset`. Your suggestion using a blank node would therefore replace the range `ids:DigitalContent` with the more generalize one "anything extending `dcat:Dataset`

[2020-07-22 14:59] JohannesLipp commented on #109
IMHO there is no action needed from our side. `dcat:mediaType` has range `dct:MediaType`, and `ids:mediaType` and `ids:MediaType` extend these, respectively. We discussed this in #224 and the compact result (following [DCAT2](https://www.w3.org/TR/vocab-dcat-2/#packaged-and-compressed-distribution) is the following:

`:Foo ids:mediaType <http://www.iana.org/assignments/media-types/text/csv> ;`

[2020-07-23 13:57] HaydarAk commented on #292
See: https://github.com/International-Data-Spaces-Association/IDS-G/tree/draft

[2020-07-23 14:06] JohannesLipp commented on #109
You just did that direct link to a pull request in that comment 😃
Thank you for the info, I have not covered that indeed. I solved it via the most recent commit, which we agreed on in today's Infomodel call.

[2020-07-24 11:13] #287 closed

[2020-07-24 15:52] sebbader commented on #256
Has been solved with the referenced PR.

[2020-07-24 15:52] #256 closed

[2020-07-24 15:55] sebbader commented on #80
Solved with #310 .

[2020-07-24 15:55] #80 closed

[2020-07-27 07:15] DennisKubitza commented on #98
For the Broker the Requirements all mentions of InformationModell:

B 026 | An IDS Meta Data Broker must provide a Self-Description document at <scheme>://<authority>[:port][/path/to/broker]/ according to the IDS Information Model version it announced.

B 029 | An IDS Meta Data Broker must provide capabilities to persistently store meta
data conforming to the IDS Information Model. The conforming

[2020-07-31 11:08] #192 closed

[2020-07-31 11:08] #293 closed

[2020-07-31 11:08] #296 closed

[2020-07-31 11:08] #300 closed

[2020-07-31 11:08] #307 closed

[2020-08-01 04:54] clange opened #317 "Move source of message table to Teams"
For easier maintenance of the editable source of the [message table](https://w3id.org/idsa/ids-messages), it would make sense to move it to Microsoft Teams (somewhere in the IDSA's agiplan organization). And then see how much of it we can get into IDS-G in coordination with @jlangkau.

[2020-08-01 05:01] clange opened #318 "Systematically link concepts to IDS-G"
As IDS-G is intended to be the single point of truth for human-comprehensible definitions of IDS terminology, all terms in the infomodel should be linked to their corresponding IDS-G pages by an appropriate property, e.g., `rdfs:isDefinedBy`. At least once the IDS-G page is in a good shape and has found its way to the master branch.

One such example of a well-written IDS-G page is https://github.

[2020-08-01 05:05] clange commented on #266
Updated with information from duplicate issue #318.
@jlangkau can we discuss further steps, or actually get some of them done, at the upcoming [plugfest](https://www.internationaldataspaces.org/get-involved/#plugfest)?

[2020-08-01 05:05] clange commented on #318
Duplicate of #266

[2020-08-01 05:05] #318 closed

[2020-08-01 05:11] clange opened #319 "Concept: really abstract? Wrong use in examples"
I see two mistakes here:

https://github.com/International-Data-Spaces-Association/InformationModel/blob/98fa806ca468335753e6a95e7446c97d2bbceebf/examples/Concept.ttl#L19-L24

Why is this, as well as the following one, a `skos:Concept`, whereas the other concepts are `ids:Concept`s?

https://github.com/International-Data-Spaces-Association/InformationModel/blob/98fa806ca468335753e6a95e7446c97d2bbc

[2020-08-04 11:01] HaydarAk commented on #317
Is the IDSA Jive not better suited for this?

[2020-08-06 15:38] #172 closed

[2020-08-07 08:55] HaydarAk commented on #191
We have brand new examples in our `examples/` subdirectory.

Was done in #323

[2020-08-07 08:55] #191 closed

[2020-08-07 10:18] HaydarAk commented on #95
Done in #323

[2020-08-07 10:18] #95 closed

[2020-08-07 14:32] sebbader commented on #319
I have deleted the Concept file in the examples as it did not make any sense to me at all. I have never used it at all, and maybe we should have also removed the class completely...

[2020-08-07 14:36] sebbader commented on #295
Hello @gbrost , @jlangkau ,

I think this topic deserves a deeper discussion as it touches the core promise of the IDS. Now, as always, I am running out of time for the next release of the IM. My suggestion:

1. I rename the profiles. Easy fix, done already.
2. I leave the SecurityGuarantees untouched for now. I will raise this point at the plugfest, and see what we decide there.

I will keep this

[2020-08-07 14:38] sebbader commented on #294
Then I have renamed the issue. Let us continue the discussion here, especially as we are currently working also on the IDS-G explanations.

[2020-08-07 14:39] sebbader commented on #275
I think this has been solved by the PR #298 . I close the issue.

[2020-08-07 14:39] #275 closed

[2020-08-08 13:45] jlangkau opened #328 "IDS-PIP"
Regarding the fact a Policy Information Point is heavily used by given contract-templates ( Usage Control Object) we need to define (or make a recommandation) fpr a PIP-architecture that drives IDS-eco-system.

Document in JIVE is already up and running (https://industrialdataspace.jiveon.com/docs/DOC-3191), but I suggest to „discuss“, shape and brin it up in IDSG-pre on it's way to be a up-and-ru

[2020-08-08 14:16] jlangkau opened #329 "rightOperand and two ways to call a remote reference"
What is the difference (mechanic, NOT content) between

ids:rightOperandReference ?notificationEndpointUrl ; # Send notification information to this URL

and

ids:rightOperand "true"^^xsd:boolean ;        # for a certain usage ?duration
ids:pipEndpoint ?askIfEventPipUri ;           # The PIP call for this event, for instance https//pip.com/path/isFIFA_World_Cup_tournaments or https//pip.com/ids?ev

[2020-08-09 08:29] jlangkau opened #330 "idsc:ENDPOINT doubled declaration"
...in leftOperand.ttl

[2020-08-09 22:07] #131 closed

[2020-08-10 07:51] jlangkau opened #332 "usageDuration"
Taken from usageControlObject.ttl

 ids:usageDuration a owl:ObjectProperty;
         rdfs:label "usage duration"@en;
         rdfs:domain ids:UsageControlObject;
         rdfs:range xsd:duration ;
         rdfs:comment "Last modification date/time."@en ;
 .

when we have a look at

https://www.w3.org/TR/xmlschema-2/#duration

I think the usage in given OpbjectProperty isn't correct?!?

[2020-08-10 08:06] HaydarAk commented on #330
Changed that as part of the linked pull request.
thanks!

[2020-08-10 08:43] sebbader commented on #332
Hallo @jlangkau,

can you provide more details why you think the property is incorrect? I see that the comment annotation is not helpful, that might have been a copy-paste error.

[2020-08-10 08:52] sebbader commented on #304
We need to come up with a schema for events anyway. As long as this is not created (and agreed on!) I want to keep it as simple as possible. I thought about cloud events: https://github.com/cloudevents/

[2020-08-10 08:54] sebbader commented on #332
Please see #333 for the update on the comment.

[2020-08-10 09:31] jlangkau commented on #332
Sorry for fuzzyness! So:

is a duration, defined by https://www.w3.org/TR/xmlschema-2/#duration.

The comment

talks about a "last modification" and gives us a hint what the given type might be ("date/time"). And this doesn't fit - from my point of view. A duration itself describes an interval in ti's length and it will be find it's place in a given Time Reference System (TRS) havin at least a ins

[2020-08-10 09:35] jlangkau commented on #304
I'm totaly fine with it...

https://github.com/cloudevents/spec/blob/master/json-format.md

And maybe a discussion comes to an end: it can have more then time value only:

{
    "specversion" : "1.x-wip",
    "type" : "com.example.someevent",
    "source" : "/mycontext",
    "id" : "C234-1234-1234",
    "time" : "2018-04-05T17:31:00Z",
    "comexampleextension1" : "value",
    "comexampleothervalu

[2020-08-10 14:49] #330 closed

[2020-08-10 14:56] jlangkau commented on #332
Closed, OK, but but still not understood by @jlangkau

[2020-08-10 15:13] HaydarAk commented on #332
Hi @jlangkau

My bad, for linking the issue directly to the Pull Request.
Merging the PR closed this ticket.

I reopend this issue open for @sebbader  and you, so that you can further discuss this.

This is the current description of the property.
https://github.com/International-Data-Spaces-Association/InformationModel/blob/30ad797d47808c1335dc591d4be9befcd314f335/model/content/UsageControlObject

[2020-08-10 16:56] sebbader commented on #328
Suggestion: Let's hijack a channel in the plugfest, get some interested guys and girls together, and directly note the results in the IDS-G-pre or https://industrialdataspace.jiveon.com/docs/DOC-3191. I will then model the results and put it for discussion in this thread.

[2020-08-11 05:52] clange opened #335 "Unify ontology generation shell scripts"
create-shacl-ttl.sh has been derived from create-ontology-ttl.sh by copying and modifying. To ensure future maintainability, it would rather make sense to factor the common functionality into one script and only leave the separate functionality in separate modules. Or to even just have one script, which is invoked with the argument "shacl" or "ontology".

[2020-08-11 12:14] mkollenstart opened #338 "Connector protocol binding specification"
Given the discussion during the Plugfest, the idea is to be able to explicitly define the way a connector should interact with another connector.

This probably can be added as property of `ids:ConnectorEndpoint` with an enum of the current protocol bindings (IDSCP, HTTP Multipart, REST/LDP, MQTT)

[2020-08-11 13:08] clange opened #339 "Minor fixes after 4.0.0 release"
These are minor things I noticed after we had to merge #331 for the plugfest, i.e., after https://github.com/International-Data-Spaces-Association/InformationModel/commit/d65c5fcca1e964121823468a2e8b022f65ba9edd (continuing what was done in #333).
They should either be fixed immediately or turned into separate issues.
* inconsistent capitalization of variables in policy template, e.g., `examples/c

[2020-08-11 13:35] clange commented on #339
* In `examples/domain-specific-semantics-using-SHACL/TEMP_RESOURCE.ttl` why did we change the datatype of the `ids:byteSize` of an `ids:Artifact` from `xsd:nonNegativeInteger` to `xsd:integer`?

[2020-08-11 13:45] HaydarAk opened #340 "Endpoint conforms to given specification"
As suggested by @mkollenstart during the plugfest, Endpoints cannot hold any information about the (backend / internal) standards it conforms to.  Such information may be necessary to describe, how IDS messages are interpreted / treated inside the connector / in the backend.

We see two main approaches for this:

A) add `ids:contentStandard` to Connector endpoints which point to stnadrds, the endp

[2020-08-11 13:45] clange commented on #339
* `test_rewrite_rules.sh` looks as if it was a new addition in 4.0.0, but it uses the old domain industrialdataspace.github.io and refers to an old version number.

[2020-08-11 13:46] clange commented on #339
* `testing/communication/EndpointShape.ttl`: misspelling `ids:acccessURL`

[2020-08-11 13:51] clange commented on #339
* `testing/contract/ConstraintShape.ttl` references the class `ids:Unit`, which was deleted as unused.

[2020-08-11 13:55] clange commented on #339
* We require media types to be explicitly declared as an instance of a class such as `ids:IANAMediaType` even if we just point to external URIs. To my understanding we also validate accordingly, e.g., in `testing/content/RepresentationShape.ttl`. Why are not doing the same for licenses, e.g., in `testing/content/DigitalContentShape.ttl`?

[2020-08-12 07:06] maboeckmann commented on #339
The reason was that by specifying this as "integer" and then in the SHACL Shape requiring it to be "minInclusive 0", we avoid doing the additional explicit typecasting in the JSON-LD. Previously,

"ids:byteSize" : 0

would have caused a SHACL validation error, as this is not a non-negative integer.

[2020-08-12 15:10] clange opened #342 "Fix capitalization in filename"
https://github.com/International-Data-Spaces-Association/InformationModel/tree/master/testing/infrastructure/ParISSHape.ttl should be renamed to `ParISShape.ttl`

[2020-08-13 13:43] JohannesLipp opened #344 "Implement lifting shapes for 4.0.0"
https://github.com/International-Data-Spaces-Association/InformationModel/releases/tag/v4.0.0 has a placeholder for this.

Please implement the SHACL / SPARQL CONSTRUCT upgrade shapes to automatically or semi-automatically upgrade 3.1.0 to 4.0.0

[2020-08-17 09:04] maboeckmann opened #345 "Combination of ids:standardLicense and ids:customLicense possible"
We have not added any validation tags to the ids:standardLicense or ids:customLicense properties to allow them to occur multiple times. Hence, with our conventions, each of them can only be used at most once.
However, one could use both the ids:standardLicense AND ids:customLicense property for one single resource. This does not seem to be reasonable. Should we add a constraint to our [Digital Con

[2020-08-17 13:27] sebbader opened #347 "PreObligation survived"
There is at least one example where the old "xxxObligation" property has survived the release 4.0.0.

[2020-08-20 13:31] HaydarAk commented on #277
FYI:
https://joinup.ec.europa.eu/solution/dcat-application-profile-data-portals-europe/distribution/dcat-ap-12-shacl

[2020-08-20 13:36] JohannesLipp commented on #112
Info: We do define the prefix `<http://purl.org/dc/dcmitype/>` in 10 files, but never acually use it. Therefore, I will remove these prefixes as the conceptual updates were already resolved by #109

[2020-08-20 13:42] HaydarAk opened #351 "Check shapes for 4.0"
it looks like, there are still some shacl shapes left from V3.x.x, whose corresponding classes are not part of the IM 4.0 anymore.

ToDo: Remove.

[2020-08-26 11:54] jlangkau opened #354 "wrong core version?"
https://github.com/International-Data-Spaces-Association/InformationModel/tree/master

here: https://international-data-spaces-association.github.io/InformationModel/docs/index.html

shows version "3.1.0"

[2020-08-26 12:44] sebbader commented on #354
really? :-)

[2020-08-26 12:46] sebbader commented on #354
Just joking, very valid comment, thanks! It just took me a bit of time to merge the updated version. And yes, I am aware that some pictures are outdated...
Please continue posting bugs like that! In this case I was already aware of it, but there are certainly many other things, which we need direct notifications.

[2020-08-27 11:22] spetrac-nicos-ag opened #356 "Minor syntax error caused parsing problem"
https://github.com/International-Data-Spaces-Association/InformationModel/blob/3f4848fa0a214c0849b93fac059314fc80f15cad/taxonomies/Message.ttl#L72

I had an issue with the referenced line above, because there is a space missing between the string and the language tag:

E.g. it resulted in [rdf-translator](http://rdf-translator.appspot.com/) throwing a syntax error.

[2020-08-27 14:09] clange opened #357 "Parameterized requests to data resources"
In applications of the IDS (concretely: https://www.mobility-data-space.de/) the requirement is coming up to re-introduce a parameterization of datasets [as we had it in previous infomodel versions](https://github.com/International-Data-Spaces-Association/InformationModel/blob/9a8347352fcbc250da0f32d4b33b6d91cb1fb2d4/examples/DATA3.ttl) but, back then, without any alignment with standards and with

[2020-08-27 15:14] spetrac-nicos-ag opened #358 "Duplicate repositories and reasons for confusion"
There is [another repository for the IDS-InformationModel](https://github.com/industrial-data-space/InformationModel) with a previous version of the current information model. If you are aware of that fact, it is not be a problem, but it happended to me and it might happen pretty much also to others, who search for the info model on google, that you clone the wrong repository and wonder, why the l

[2020-08-27 19:41] jlangkau commented on #357
For shure, A totaly different way to solve a problem to execute a function... but our solutions will follow this idea:

https://fno.io/spec/

Here someone can see, how we bring to service (but this example is a little bit buggy, and a starting point only):

https://github.com/nicosResearchAndDevelopment/nrd-GAIAboX/blob/master/gbx.P/BO/time/P.BO.time.before.md

...and: „yes, not IDS flavoured so f

[2020-08-28 01:53] rob-metalinkage commented on #357
The OGC is already building a set of canonical API profiles for spatial features based on OpenAPI - the OGC API.  This is in active development, so testing it against your need and providing feedback if it falls short would be preferable to re-inventing this wheel. see https://ogcapi.ogc.org/

[2020-08-28 19:12] jlangkau opened #359 "idsc:LT = idsc:LT ?"
https://github.com/International-Data-Spaces-Association/InformationModel/blob/d3a9a1a80b7c0f7614cad2a00e85e2378b56e43d/codes/BinaryOperators.ttl#L70

seems to be a minor thingy, so in describing only...

but:

https://github.com/International-Data-Spaces-Association/InformationModel/blob/d3a9a1a80b7c0f7614cad2a00e85e2378b56e43d/codes/Language.ttl#L582

[2020-09-06 09:34] VladimirAlexiev commented on #25
@clange dct:version says enough to see that it is not a version number.

The commonly used ontology for describing software projects is DOAP

[2020-09-08 10:58] ghobona commented on #357
@clange

Based on the use case described above, I would encourage you and @International-Data-Spaces-Association to look into implementing a solution based on the [OGC API - Features](http://docs.opengeospatial.org/is/17-069r3/17-069r3.html) standard.

Developer-friendly OpenAPI definitions are [available](https://ogcapi.ogc.org/features/) as well as a [tutorial](https://opengeospatial.github.io/e

[2020-09-12 17:36] clange opened #362 "Contributor not listed in HTML documentation"
In the source of the ontology, @jlangkau and others are listed as contributors, but not in the [generated HTML](https://w3id.org/idsa/core).

https://github.com/International-Data-Spaces-Association/InformationModel/blob/54146ee8097fe12a45b4ec4bffe501765d96284d/Ontology.ttl#L35

Could you please check this? Thank you!

[2020-09-14 04:45] clange opened #363 "Old all-in-one ontology materialized in docs/serialization"
https://github.com/International-Data-Spaces-Association/InformationModel/blob/d3a9a1a80b7c0f7614cad2a00e85e2378b56e43d/docs/serializations/ontology.ttl#L10-L27

In the latest master branch, we have an outdated version of the ontology.

[2020-09-14 13:59] JohannesLipp commented on #302
The submission failed due to an internal server error with the LOV website, a Java ClassCastException to be precise.

I contacted the responsible people via email and will update this issue once we get a reply.

[2020-09-14 14:10] JohannesLipp commented on #292
We currently have 10 *_toGlossary files:

- [Policy](model\contract\Policy.ttl_toGlossary)
- [Certification](model\governance\Certification.ttl_toGlossary)
- [DataSovereignty](model\governance\DataSovereignty.ttl_toGlossary)
- [Governance](model\governance\Governance.ttl_toGlossary)
- [VocabularyHub](model\infrastructure\VocabularyHub.ttl_toGlossary)
- [Role](model\participant\Role.ttl_toGlossary)

[2020-09-14 14:27] JohannesLipp commented on #289
This was already solved, as we changed the range from `ids:Standard` to `xsd:anyURI` in the [large v4.0.0 refactoring commit](https://github.com/International-Data-Spaces-Association/InformationModel/commit/86fed915b0dfd90d3eacca692fbbcd961629710e)

[2020-09-14 14:27] #289 closed

[2020-09-14 14:30] #112 closed

[2020-09-15 08:47] JohannesLipp commented on #302
Update: We do not meet the requirements given by LOV, see the report below.

In short: Adding N3 serialization might be sufficient to join LOV. @sebbader @HaydarAk Who can add this to our Widoco pipeline, and re-run it?

![image](https://user-images.githubusercontent.com/15930331/93187894-99e34f00-f740-11ea-80d3-4ac68565d030.png)
[Link I used to create that report](http://linkeddata.uriburner.com:

[2020-09-17 13:30] JohannesLipp commented on #302
![image](https://user-images.githubusercontent.com/15930331/93476920-a01d2b00-f8fa-11ea-8ed7-bdc138f4bd16.png)

[2020-09-17 13:37] JohannesLipp commented on #292
Task: Create merge request to [the IDS-G glossary](https://github.com/International-Data-Spaces-Association/IDS-G/tree/master/glossary) with the content from the toGlossary files

[2020-09-18 16:48] sebbader commented on #302
Hi @JohannesLipp, the N3 support is now also in the redirects file: https://github.com/sebbader/w3id.org/pull/2
@HaydarAk and @JohannesLipp please review my changes, let me know if and where I screwed up stuff, and then I am confident to create the PR to w3id.

[2020-09-18 16:52] sebbader commented on #302
Please also review and merge #366 when finished with this topic.

[2020-09-21 06:54] JohannesLipp commented on #302
It is not trivial to review the changes properly. I did a code inspection, and the updates look good to me. A proper check can IMHO only be done by merging that branch an re-run the external check against our update live version.

[2020-09-23 11:38] JohannesLipp commented on #302
Update: @sebbader updated our redirects, and submitted a PR to the w3id repo

[2020-09-23 15:46] sebbader commented on #302
PR is merged. @JohannesLipp please run again the LOV checks.

[2020-09-24 08:01] JohannesLipp commented on #302
Thank you. The Vapour report improved, especially for N3 serialization:
![image](https://user-images.githubusercontent.com/15930331/94117644-c5ef8600-fe4c-11ea-8621-41d8f0f88fd2.png)

Since the LOV submission still fails, I asked the LOV team for feedback. I will get you tuned here.

[2020-09-30 07:41] clange commented on #93
I just confirmed that apparently we've fixed this (tested for `application/rdf+xml`, `text/turtle`, `text/html`) but just forgot to close the issue.

[2020-09-30 07:41] #93 closed

[2020-09-30 07:52] clange opened #368 "Intuitive names for (sub)routes"
I should have known how we defined `ids:subRoute` and `ids:EndToEndRoute` but meanwhile forgot and was once more confused:
* is the direction of `ids:subRoute` "has subroute" or "is subroute of"? – It's "has subroute"
* is an `ids:EndToEndRoute` the whole route from, say, a back-office data source through a system adapter app to a smart data app to the data space? (Cf. the common usage of the term

[2020-09-30 13:28] clange opened #369 "Clean up / sync validation shapes: once, and continuously"
For v4.0.0 we removed `ids:OperationBinding`. However, there is still `shapes:OperationBindingShape`. In particular, we should get rid of the shapes for the classes we removed. In general, we need something like a CI task that checks that for each class there is a `sh:NodeShape`, and that there are no `sh:NodeShape`s for which there is no infomodel class. The perfect solution would be a SPARQL que

[2020-09-30 13:41] clange opened #370 "Configuration model and app routes should be able to link to broker"
As discussed with @HeinrichPet, it would make sense that an `ids:ConfigurationModel` points to one or multiple brokers, and that the `ids:AppRoute`s in this configuration model can point to a subset of this set of brokers. Idea:
* in the configuration model of an `ids:Connector`, one can configure a set of `ids:Broker`s to which the connector might talk
* each app route should be able to have its

[2020-09-30 14:12] clange commented on #370
@HeinrichPet a question about something we will probably not need now (I won't implement it) but might need later (and should then move to a separate issue): will it make sense to distinguish between the roles that different brokers have for the Connector that's being configured here? We talked about brokers to which this Connector announces Resources (e.g., after they have been updated internally

[2020-10-01 13:28] JohannesLipp opened #372 "Evaluate github.io content-type behavior"
As described in #302 , the response content-type for https://international-data-spaces-association.github.io/InformationModel/docs/serializations/ontology.json is `application/json`, although `application/ld+json` is requested. Please verify how that content-type is generated, and if it is possible to alternate that. For example, via a mini experiment with custom file extensions like `foo.json`, `

[2020-10-01 13:28] JohannesLipp commented on #372
![image](https://user-images.githubusercontent.com/15930331/94815411-c95db100-03fa-11eb-8009-3ae42cbed517.png)

[2020-10-01 13:29] JohannesLipp commented on #372
Same issue for https://international-data-spaces-association.github.io/InformationModel/docs/serializations/ontology.ttl (`text/n3` vs `text/turtle`)

[2020-10-01 13:58] JohannesLipp commented on #372
Investigation by @clange : Github.io creates content-types based on file extension. We therefore need the file extensions `*.rdf`, `*.n3`, and `*.jsonld` - and redirects to these.

[2020-10-15 16:19] spetrac-nicos-ag opened #374 "owl:imports"
To understand better the importing of multiple ttl-files, like the [Ontology](https://github.com/International-Data-Spaces-Association/InformationModel/blob/develop/Ontology.ttl) suggests, I found that the current way of using **owl:imports** might not be allright and in practise introduces some errors for rdf-stores:

1. The [owl ontology](https://www.w3.org/2002/07/owl) states that **owl:imports

[2020-10-15 17:01] clange commented on #374
Thanks for pointing this out; however, we might actually not have a problem at all. The reason for our relative-file imports such as

https://github.com/International-Data-Spaces-Association/InformationModel/blob/1e6029c0a575381017c75280b69143822fa49e4a/Ontology.ttl#L109-L110

is our internal maintenance process. We would like to keep the ontology modular by splitting it into many files. However,

[2020-10-19 12:26] sebbader opened #375 "Add further Messages for more IDS native Operations"
We just realized that the current Messages need to be extended to reflect more operation semantics. For instance:
* PUT or create/update semantics: not only for metadata but also for productive data
* More http interactions encoded (@mkollenstart ?)

Let's use this issue to collect use cases and needs, and then prepare the update for the next IM version.

[2020-10-19 12:42] mkollenstart commented on #375
Ideally, the whole set of HTTP methods should be supported, to provide no limitations.
In any case the following methods should be at least supported:
 * **GET**
 * **POST**
 * **PUT**
 * **DELETE**
 * **PATCH**

Other methods (HEAD, CONNECT, OPTIONS, TRACE) could be relevant, but I don't have a concrete scenario where I would use these.

The other information that is relevant are the HTTP headers

[2020-10-19 12:48] sebbader commented on #375
Hi Maaren,

I agree that the HTTP verbs are the best reference for this, even though incomplete (subscribe is missing, for instance).

However, at the moment I read the messages as a combination of the operation semantics AND the target type:
ResourceAvailableMessage := PUT + Resource as Target

That gives me a hard time as it will require *a lot* of different messages... Do you think we can find

[2020-10-19 14:16] jlangkau commented on #375
HEAD, OPTIONS are being used in LDP – so I like those 😉

[2020-10-19 20:33] DaTebe opened #376 "Allow Multiple Licenses"
As far as I know, only one license can be added as String (URI pattern). It is quite common to have multiple licenses in real life.

1. **Open Source Software:** For example, some projects are using Apache 2.0 and MIT and the end user can choose what fits best to him.

2. **Private vs Enterprise Usage:** If you plan to use something (eg. just data or code) private it can be free of charge. As an e

[2020-10-20 08:16] sebbader commented on #375
I am not sure about a concrete use case for HEAD and OPTIONS for either ids:Resource, ids:Connector, ids:Participant or ids:Contract...

[2020-10-20 08:21] sebbader commented on #375
| Class| Read | Create  | Update | Delete | Read Metadata | Subscribe | Execute | Notify |
| --- | --- | --- | --- | --- | --- | --- | --- | --- |
| Resource | DescriptionRequestMsg | ResourceAvailableMsg |   |    |    |    |  todo  |    |
| Connector |   |   |   |    |    |    |    |    |
| Participant |   |   |   |    |    |    |    |    |
| Contract |   |   |   |    |    |    |    |    |

Can w

[2020-10-20 08:22] sebbader commented on #375
With "we" I mean "all of us", not "myself, just to clarify things :-)

[2020-10-26 18:01] jlangkau opened #378 "Industrial Data Space"
Why do we find „Industrial Data Space“ a lot of times?

[2020-10-26 21:14] clange commented on #378
Indeed a full-text search over the repository confirms a number of occurrences of `Industrial`, and these are not always the (acceptable) phrases like "the International Data Spaces (formerly known as Industrial Data Space)".

[2020-11-05 14:37] JohannesLipp commented on #302
Update/decision: @HaydarAk updates the redirects accordingly, and will notify you @sebbader to merge it to w3id.

[2020-11-06 22:43] clange opened #381 "Create and follow check list for future releases"
For any future release, the following steps should be followed. First of all, these steps should be documented in a central place, and then we should copy them as a check list to an issue or to the pull request for merging the changes for the new revision into the master branch. Please edit this issue's description to make it complete.

1. provide complete validation shapes for the new ontology te

[2020-11-06 22:44] clange opened #382 "Update message table to 4.0"
The message table at https://w3id.org/idsa/ids-messages is still not up to date w.r.t. version 4.0.0. Publishing an up-to-date message table should be on the checklist to be created for any future major release from now on; cf. #381.

[2020-11-09 17:17] HeinrichPet opened #383 "Configmodel - Broker/AppStore/Clearing House/App Resource"
Hi there,

we currently working on an enhanced version of the Configuration Manager (hopefully open source soon).
Therefore we identified some points which we need in the configuration model.

First of all we need lists in InformationModel/model/infrastructure/ConfigurationModel.ttl for:
- Broker (in the next section someone can choose brokers to send resources information to)
- Clearing House (wh

[2020-11-10 10:40] HaydarAk commented on #383
Hi @HeinrichPet !
It should be possible to implement the first two change requests without problems.

---

### Regarding the third request:

Until now, the relation between all app-related classes is as follows:
- **ids:AppResource**  -> **ids:representation** -> **AppRepresentation**
App Resources may be represented by one or more concrete Represenations. For Data Resources, two represenations ma

[2020-11-10 12:56] HeinrichPet commented on #383
Hi @HaydarAk,

thanks for the quick response and for the very detailed answer!
Let us go with **Variant 2**, because we also need to know at what Route Position the app needs to be included.

Best regards,
Heinrich

[2020-11-12 07:27] JohannesLipp commented on #302
Update:
Thanks to @HaydarAk , the Vapour report is rated 3/3 in all categories now:
![image](https://user-images.githubusercontent.com/15930331/98908483-c9080980-24c0-11eb-9d25-146539a9bff6.png)

Unfortunately, the LOV submission still fails due to some ClassCastException. I again contacted the LOV team just now, asking for further guidance on the following error:

[code]

[2020-11-12 07:40] JohannesLipp opened #384 "Missing metadata fields for LOV submission"
The PDF recommendation at the [LOV suggestion page](https://lov.linkeddata.es/dataset/lov/suggest) lists multiple properties that we currently do not serve. Might be a blocker for #302 .

- `dc:issued` Date of the first vocabulary publication
- `dc:rights` Property rights of the vocabulary
- `cc:licence` Licence of the vocabulary

[2020-11-12 14:40] JohannesLipp opened #385 "Setup an FAQ "How to use the Infomodel""
The developers (users) of the IDS Infomodel ask for more documentation on real-world / practice applications. Instead of writing more comprehensive documents on Jive etc., a handy FAQ would be much more helpful.

Please setup an FAQ document, where users (e.g., from the PlugFest) contribute the questions, and the IDS Infomodel team provides practical answers to these.

[2020-11-23 14:00] HeinrichPet opened #387 "Configmanager Routen boolean"
Hi @HaydarAk,

inside a appRoute we need a boolean to indicate that a route is broken, meaning that there is no route from Start A to End Z (because some subroutes a not connected).

Best regards,
Heinrich

[2020-11-24 08:28] changqin26 commented on #385
I have created an FAQ for Infomodel.md file under my branch: changqin. Can you check if it is the one you expect?

[2020-11-24 10:06] HaydarAk commented on #387
Hi @HeinrichPet
I see the problem, but I am not sure that this kind of information belongs to the Information Model. Let me explain why I think it does not belong there:

In my opinion, it is a task of the "application logic" to ensure that a route is _complete_, before it is persisted.   _Complete_ = Start A and End Z are connnected via some subroutes.

I think we should have a clear distinction

[2020-11-24 10:15] JohannesLipp commented on #385
Thanks @changqin26 ! Could you please create a pull request (PR) for that, link it to this issue, and set me as "reviewer" for that PR? We are currently setting up a more "controlled" workflow, and thus ourselves should follow it strictly :P Thanks!

[2020-11-24 10:41] changqin26 commented on #385
Sorry I wrongly added this FAQ commit to my last pull request. please check the newest pull request #390.

[2020-11-24 10:59] #385 closed

[2020-11-26 15:03] changqin26 commented on #147
We usually have a SHACL shape for each class in the Information Model.---Do we already have a SHACL shape for each class in IM? No missing part?

[2020-11-27 09:44] HaydarAk commented on #147
Our motivation for this issue was to check whether there might be some missing shapes.
It has happened before that major changes were made to the information model without adjusting / adding the corresponding SHACL classes.  We could do the checking on class level -> check for existing IDS classes in our ontology if there is a corresponding shacl shape in the testing directory.
A rather simple app

[2020-11-27 10:09] changqin26 commented on #147
Thanks for your reply! that is exactly what I want to know. I would like to take over the part of job. I know Matthias has worked on this before, I will firstly check with him and begin to work on the missing shapes.

[2020-11-30 07:42] HaydarAk commented on #147
Great! Thank you :)

[2020-11-30 09:51] #383 closed

[2020-11-30 09:51] #368 closed

[2020-11-30 09:51] #370 closed

[2020-11-30 13:23] sebbader opened #392 "Attribute pointing to human-friendly Website"
It has been shown that all/most Connectors have a human-focused website. That resolves in the need to announce the path to this website in a manner that all IDS Connectors can discover it.

I propose that we introduce an optional (zero or one) predicate from ids:Connector to xsd:AnyUri.

[2020-11-30 14:47] gboege commented on #392
I think that with all the correct and good focus on the IDS data model and machine readability, human readability/usability falls a bit by the wayside. Before it was mostly human readable, and now it is becoming mostly machine readable. Doesn't the truth lie in coexistence?

The more important IDSA/GAIA-X becomes, the more people are involved who are not familiar with it.

Personally, I think it w

[2020-12-01 16:48] HeinrichPet commented on #387
Hi @HaydarAk

you are right. Then the issues can be closed.

[2020-12-01 16:48] #387 closed

[2020-12-03 14:23] HaydarAk commented on #382
Update done.

See: https://w3id.org/idsa/ids-messages

[2020-12-03 14:30] JohannesLipp opened #394 "Investigate pros and cons of versioning in the ontology URI"
Research practices and related work, and decide whether we should include a version number (e.g., 2020-12-03) in the ontology URI. The base URI https://w3id.org/idsa/core would always be considered as latest and therefore redirect there. Other links allow direct access of later versions, too.

[2020-12-03 14:34] JohannesLipp commented on #381
Note that the first bullet might be solved/supported by !147

[2020-12-03 14:48] HaydarAk opened #395 "Improvement of the branching model with regard to the LTS version"
With regard to an (possibly) upcoming LTS version of the information model, the branching model and the methods for quality assurance are to be extended and persisted in the form of a README.

[2020-12-03 14:51] JohannesLipp commented on #381
4. Is triggered manually currently, and the output must be pushed to the `gh-pages` branch for automatic synchronization.

[2020-12-03 14:55] JohannesLipp opened #396 "Update Widoco process to handle version numbers"
Following #394 , we might need multiple Widoco documentations in the `gh-pages` branch. In needed, please update the Widoco pipeline to not push to that branch directly, but use sub-dirs for the respective version number. We can then link to these different versions from https://w3id.org/idsa/core

[2020-12-03 14:59] HaydarAk opened #397 "CI process to test examples of the repository against always when a change"
Establish a CI process to test examples of the repository against the current SHACL shapes on every pull request.
This ensures that the examples are always up-to-date with the changes in the Information Model.

[2020-12-04 14:37] ronjaquensel opened #398 "Key- & Truststore password in ConfigurationModel"
Hello @HaydarAk,

I'm currently working on creating camel routes from ConfigurationModel objects for the Configurationmanager. For this, I would need the passwords of the key- and truststore referenced there. Is it possible to add these fields to the ConfigurationModel?

[2020-12-08 08:34] HaydarAk commented on #398
Hi!

Adding a "password field" for both is easy. We can accomplish this by either
- adding new fields to the ConfigModel class

or

- expanding the truststore / keystore to full-fledged classes with their own (password) fields .

Do you prefer one approach over the other ?

---

**There is one thing, I would like to highlight:**
I hope you are aware that adding this information to the Configuratio

[2020-12-08 11:51] ronjaquensel commented on #398
Hi,

thank you for the hint. We are aware of the security risk and are currently looking for a better solution, but for the time being this approach will suffice.

Both of the suggested approaches would work for me.

[2020-12-10 14:11] #382 closed

[2020-12-10 14:12] JohannesLipp commented on #381
One addition to point 8: Inform Plugfest member about new features in time, so that they can be discussed before publishing.

[2020-12-16 09:55] HaydarAk commented on #398
Done , see 5d0790e

The snapshot build of the java libs from our IAIS colleagues should soon (in the next few hours) contain these changes.

[2020-12-16 09:55] #398 closed

[2020-12-16 13:14] JohannesLipp commented on #302
FYI just pushed that email once more, as there was no response yet.

[2020-12-16 14:04] JohannesLipp commented on #394
https://www.w3.org/TR/swbp-vocab-pub/#recipe4 looks promising. Applying this would mean the following for us:

**Before:**
- Just one (=most recent) [ontology.ttl file](https://international-data-spaces-association.github.io/InformationModel/docs/serializations/ontology.ttl)
- Just one (=most recent) documentation page at https://w3id.org/idsa/core
- Both being silently overwritten with new versio

[2020-12-16 14:06] JohannesLipp commented on #394
@sebbader @maboeckmann @HaydarAk @changqin26 Could you please comment on my suggested approach? Core questions are:

1. Are there any drawbacks with that approach?
2. Who can update our configuration to execute this?

[2020-12-16 14:23] JohannesLipp commented on #384
Not required anymore. We already provide cc:license, and cd:created (instaed of dc:issued). cc.rights seems to be optional.

[2020-12-16 14:25] JohannesLipp commented on #302
We are live on LOV now!
https://lov.linkeddata.es/dataset/lov/vocabs/ids

Please note that some fields will be automatically added after some automatic indexing tasks in the LOV backend.

[2020-12-16 14:25] #302 closed

[2020-12-16 16:38] JohannesLipp commented on #394
You can use `prefix bpo: https://w3id.org/bpo/1-1#` and subsequently `ex:myInstance a bpo:Class` in your file. This would serialize to `https://w3id.org/bpo/1-1#Class`, exactly. You can later upgrade that prefix to, e.g., `prefix bpo: https://w3id.org/bpo/1-2`, but leave the rest unchanged - this would then use the newer version `https://w3id.org/bpo/1-2#Class`.

If you want to automatically use t

[2020-12-17 07:24] changqin26 commented on #394
Understood, this versioning method is the same as that of the Asset Administration Shell.

[2020-12-17 14:16] JohannesLipp opened #404 "Send older versions to LOV as well"
"You have version 4.0. Is that correct? Do you have previous versions of this ontology? You can just send us / point us to the previous ones (the files in .n3)"

Please choose from "release tags" within GitHub.

[2020-12-17 14:19] JohannesLipp opened #405 "Fix issues with metamodel namespace"
"I see in the ontology triples like
`<https://w3id.org/idsa/metamodel/competencyQuestion> rdfs:domain rdfs:Resource .`
Where do you define the metamodel ontology with this URI https://w3id.org/idsa/metamodel/ ?"

Please fix this, thanks. Since [the triples from the metamodel](https://github.com/International-Data-Spaces-Association/InformationModel/tree/develop/metamodel) are already included in t

[2020-12-17 14:47] JohannesLipp commented on #394
Input from @clange : Follow https://www.debian.org/releases/ like so:
- stable = latest LTS (currently 4.0.0)
- testing = master branch
- unstable = develop branch

https://w3id.org/idsa/core should always point to the master branch, which is testing.

[2020-12-17 17:34] JohannesLipp commented on #384
Solved by #402

[2020-12-17 17:34] #384 closed

[2021-01-07 14:49] JohannesLipp commented on #404
Update: I submitted the older versions today as well. These are 1.0.0, 2.1.0, 3.0.0, and 3.1.0.

This task is hereby done. I will close this issue as soon as we get a confirmation from the LOV team.

[2021-01-14 14:20] JohannesLipp commented on #404
I received positive feedback from LOV: They are working on this.

[2021-01-14 14:25] JohannesLipp commented on #397
Note that we already defined scripts and pipelines for GitLab in GAIA-X.

[2021-01-14 14:47] clange opened #406 "Consider alignment with Data Provider Node ontology"
The [Data Provider Node ontology](http://purl.org/dpn) (see also [these slides](https://imdis.seadatanet.org/content/download/93725/file/S1P11_IMDIS2013_SILOS_Hodge.pdf)) seems to cover a subset of the IDS infomodel and is also aligned with DCAT. It's not a standard, but reasonably well done (e.g., meeting the LOV requirements), and we are not (yet) a standard either ;-) Thus, it might make sense

[2021-01-14 14:55] mohuber opened #407 "Update Repository"
During discussions concerning the specifications for a device PKI as an identity provider, we have been wondering whether there will need to be some kind of UpdateRepositories from the developers of connectors. The use of those would be to provide the updates for the firmware/software on the connectors. According to my understanding, those could either be independent of the remaining IDS infrastru

[2021-01-21 14:22] #404 closed

[2021-01-21 14:27] #394 closed

[2021-01-26 10:24] JohannesLipp opened #409 "Align IDS Policy Language with DPV"
Please align the IDS policy language (where possible) with subclasses of dpv:Processing.

(See https://dpvcg.github.io/dpv/#vocab-processing-categories – there is, e.g., https://dpvcg.github.io/dpv/#Anonymise and https://dpvcg.github.io/dpv/#PseudoAnonymise. But, OK, strictly spoken, these are not, like in IDS, states, but operations ("The processing performed on personal data"), which lead into a

[2021-01-26 10:24] JohannesLipp commented on #409
Comment by @clange : the idsc:ANONYMIZE that we see here should definitely be aligned with DPV. ODRL's notion of "action" (which IDS reuses) looks really the same as what DPV calls "process".

[2021-01-26 10:25] JohannesLipp commented on #409
Please also note https://github.com/dpvcg/dpv/issues/11

[2021-01-28 14:55] HaydarAk opened #410 "Ontology alignment"
A more comprehensive documentation of which ontologies and ontology elements are reused should be documented.
E.g. `ids:Catalog` is aligned to `dcat:Catalog`.
Either as a table like DCAT-AP

See also: Chapter 5 of dcat-ap https://www.dcat-ap.de/def/dcatde/1.1/spec/specification.pdf

[2021-01-29 14:26] JohannesLipp commented on #302
Update: The indexing succeeded and all IDS terms can now be found via LOV, e.g., https://lov.linkeddata.es/dataset/lov/terms?q=Broker

[2021-02-01 13:47] FabioDangelox opened #411 "Dataspace Connector: "connect timed out""
Currently i am trying to set up an example Dataspace. For this i am using two instances of the following Connector: https://github.com/FraunhoferISST/DataspaceConnector
Before i start the connectors i delete the proxy settings in the config.json on both of them.
After that i start one connector with the swagger ui on the port 8084 and the other one on port 8085.
In the next step i register a Resou

[2021-02-01 14:46] FabioDangelox opened #412 "Dataspace Connector latest version: "Internal Server Error""
I use the latest version of the master branch of this Connector:
https://github.com/FraunhoferISST/DataspaceConnector

Before i start a Dockercontainer with the swagger ui on the Port 8084, i delete the proxy settings.
After this i start a Connector(Port 8084).
If i try to GET ​/admin​/api​/connector (Connector Self-description), i always recieve the following error:

{
  "timestamp": "2021-02-01T

[2021-02-02 08:08] #147 closed

[2021-02-04 00:45] clange commented on #109
@JohannesLipp in investigating the reuse of the IDS infomodel for the Agricultural Information Model of https://h2020-demeter.eu/, where DCAT was given as the baseline, I identified the following missing points:
* I did actually see `DigitalContent temporalResolution Frequency` in IDS. It would be good to align this with DCAT's [temporalResolution](https://www.w3.org/TR/vocab-dcat-2/#Property:data

[2021-02-04 14:11] JohannesLipp commented on #109
Yes, it is:
[code]
cf. https://github.com/International-Data-Spaces-Association/InformationModel/blob/develop/model/content/DigitalContent.ttl#L160

`ids:spatialCoverage` extends `dct:spatial`. We however do not use this particular resolution in meters yet.

[2021-02-04 15:01] JohannesLipp opened #413 "Remove redundant class/property definitions whenever external concepts can be used directly"
We re-use many properties (mainly DatatypeProperties) by creating subclasses of these. Instead, we could remove them from the IDS InformationModel and use these external properties in our SHACL shapes instead.

[2021-02-08 07:04] HaydarAk commented on #412
Hi Fabio,

unfortunately, the contributors for the Information Model are not actively involved in the development of the dataspace connector. I'd recommend that you open an issue in the corresponding github repository (which you already linked :) )

[2021-02-08 07:05] HaydarAk commented on #411
Hi Fabio.
Please check my initial response in #412 regarding your issue.

Best regards
Haydar Akyürek

[2021-02-15 13:25] sebbader opened #414 "Inconsistent Ontology"
Hi! Just tried the Pellet reasoner on the IDS IM. Unfortunately, this line https://github.com/International-Data-Spaces-Association/InformationModel/blob/218f952b6fad542fc786bb3cab1461c68fd5de46/metamodel/Annotation.ttl#L44 (`idsm:example [...]  rdfs:range rdf:PlainLiteral;`) results in an inconsistent model. Is there a good reason to keep it?

[2021-02-16 07:46] JohannesLipp commented on #414
I personally do not require to keep this line. @HaydarAk what is your opinion on this?

[2021-02-16 09:36] HaydarAk commented on #414
The IM evolved a bit over the last years and is now less dependent on the vocabulary of the `idsm` namespace.
For the next major version bump, we can compress the `idsm` vocabulary and therefore remove some properties we dont need anymore. The `idsm:example` could be part of that list. I dont see any particular reason to use `idsm:example` over `skos:example` or so if we want to document some kind

[2021-02-17 12:44] sebbader commented on #414
👍 for the removal of the `idsm:` namespace. Replacing `idsm:example` with `skos:example` will not solve the error as long as the `rdfs:range rdf:PlainLiteral` statement stays. Can we delete that one nevertheless?

(By the way, I am still not sure why the rdf:PlainLiteral results in an inconsistent ontology. Most likely Pellet is not aware of some definitions. Isn't "<dateTimeStampLiteral>"^^xsd:da

[2021-02-17 12:47] sebbader commented on #414
See #415

[2021-02-17 15:02] sebbader opened #416 "Attributes of an ids:Participant"
The current Participant class has the following attributes:

https://w3id.org/idsa/core/version | http://www.w3.org/2001/XMLSchema#string | Version identifier of the Managed Entity
-- | -- | --
  | https://w3id.org/idsa/core/corporateEmailAddress | http://www.w3.org/2001/XMLSchema#string | Email address for contacting the participant on a general level.
  | https://w3id.org/idsa/core/corporateHome

[2021-02-17 15:02] sebbader commented on #416
See here for an (not necessarily updated) state of the Participant: https://dydra.com/sebastianrbader/ids/@query#participant-attributes

[2021-02-18 15:31] sebbader commented on #414
Solved with #415

[2021-02-18 15:31] #414 closed

[2021-02-18 18:29] changqin26 commented on #416
Why ids:industrialClassification, this property of ids:Participant is removed?

[2021-02-24 15:50] anilturkmayali-IDSA opened #420 "Monthly Call with IDSA Technology & Architecture Team"
Hi all,

I am contacting you on behalf of @ssteinbuss, CTO of IDSA.

As Technology and Architecture team of IDSA, we would like to organize a monthly call (60 mins) with the maintainers of IDSA repositories to discuss about the work and rules (license, code of conduct, issue labels, how to contribute file) for each repo.

As maintainers of this repo, can you please provide us your email address? S

[2021-03-02 09:36] JohannesLipp commented on #416
"We need to add a few more critical things": @sebbader could you please tell us what exactly you would like to add? Is there a list/table documented somewhere? If we just guess what to add, we will definitely not meet any requirements properly 😃

[2021-03-02 09:37] JohannesLipp commented on #416
Plus, we need a definition of expected datatypes (or object types, i.e., classes) PLUS cardinalities.

[2021-03-04 09:58] HaydarAk commented on #416
Did some brief research. Some ideas:

- Jurisdication
- Legal Form
- distinguishment between different company names: legal name / trade name / prefered name.
- company identifiers (via a generic `BusinessIdentifier` class (similar to `gax:BusinessIdentifier`)
- VAT (Value Added Tax)

I'll check the existing fields of the participant again. Maybe we could extend our model, e.g. for the company add

[2021-03-04 12:37] HaydarAk commented on #416
**Suggestion for new properties**:

| Property             | Value                           | Cardinality | Example                                                       | Existing standards | Comment                                  |
|----------------------|---------------------------------|-------------|---------------------------------------------------------------|--------------------|------

[2021-03-04 12:39] HaydarAk commented on #416
Changes:

| Class    | Property – old | Value Type - old | Property – new     | Value Type - new | Cardinality |
|----------|----------------|------------|--------------------|------------|-------------|
| ids:Site | ids:address    | xsd:string | vcard:countryName  | xsd:string | 0..1        |
|          |                |            | vcard:locality     | xsd:string | 0..1       |
|          |

[2021-03-09 15:04] stefkoslowski opened #421 "HTTP response for asynchronous Messages using Multipart"
In the Scenario Contract Negotiation as described in Step 2 of the IDS Handshake an asynchronous message is sent. Since HTTP is synchronous by definition this leaves us with the question as to what response should be send back in this specific case. Shall we just respond with a 200 status code or send another Infomodel message such as a NotifcationResponseMessage?

[2021-03-10 11:08] #411 closed

[2021-03-15 10:05] HaydarAk commented on #421
From an Information Model perspective, there are 2 response types in normal cases:
- Most `Request`  messages have a `Response` counterpart. They should be used, if possible.
- If a direct response is not possible: `ids:RequestInProcessMessage` can be used. It can be treated as a `HTTP 102`, more or less. This may be used if e.g. a consumer requests an artifact and, as a provider, one needs to gen

[2021-03-15 10:05] #420 closed

[2021-04-01 15:27] clange opened #426 "Cardinality of ids:sovereign?"
A question that came up in the Catalogue work package of GAIA-X Federation Services: what is the cardinality of `ids:sovereign`? We always speak of "the owner" or "the sovereign", but we never restricted the cardinality, even though we have the technical means to do so.
* Did we forget to do so?
* Or did we intend that a resource might have multiple sovereigns?

[2021-04-06 13:57] JohannesLipp opened #427 "Implement proper versioning"
...in both ontology and documentation (Widoco).

For an example, see https://git.rwth-aachen.de/i5/factdag/reshare-ontology

[2021-04-07 08:52] HaydarAk commented on #426
This is our current cardinality restriction.
**no min count, max count = 1**
https://github.com/International-Data-Spaces-Association/InformationModel/blob/2dc8d3be99971ac0ec6740714348f243ca18835a/testing/content/ResourceShape.ttl#L68-L75

[2021-04-12 07:24] #416 closed

[2021-04-13 09:38] #378 closed

[2021-04-14 12:48] sebbader opened #430 "Delete QueryScope"
The QueryScope (https://github.com/International-Data-Spaces-Association/InformationModel/blob/develop/codes/QueryScope.ttl) allows the request for inactive (aka deleted) Resources or Connectors. That's actually not intended, anything that has been deleted shall not be visible to clients anymore.

Given that we delete the 'inactive' flag, the QueryScope has only one instance anymore --> No informa

[2021-04-16 22:06] clange opened #431 "Should memberParticipant be subPropertyOf subOrganizationOf?"
https://www.w3.org/TR/vocab-org/#org:hasSubOrganization has domain and range Organization. Similarly, ids:memberParticipant has domain and range ids:Participant. Thus, should it be a subproperty of the former?

[2021-04-19 09:22] HaydarAk commented on #142
Fixed in a recent commit.
All `shapes:` now point to: `https://github.com/International-Data-Spaces-Association/InformationModel/tree/master/testing/`
We can also use:
- `https://w3id.org/idsa/shacl/` with the directory structure of the `testing` subdirectory as an URL path to directly reference a shacl shape.
E.g.:
`https://w3id.org/idsa/shacl/content/ResourceShape` resolves to
`https://raw.githu

[2021-04-19 09:22] #142 closed

[2021-04-19 16:43] clange opened #434 "Endpoints in examples do not reference artifacts"
The following code

https://github.com/International-Data-Spaces-Association/InformationModel/blob/2bbd7e1c707d85806df76a7d2d17fbdbd67be322/examples/DATA1.ttl#L39-L42

should make a reference to the artifact served, i.e., to

https://github.com/International-Data-Spaces-Association/InformationModel/blob/2bbd7e1c707d85806df76a7d2d17fbdbd67be322/examples/DATA1.ttl#L52-L57

via the `ids:endpointArtif

[2021-04-23 09:10] HaydarAk opened #438 "add key alias to keystore / truststore properties of configmanager"
keystore and truststore (class ids:ConfigurationManager) need alias fields for proper authentication.

[2021-04-23 10:03] HaydarAk opened #439 "Define ids:LogPayload (name may differ) for structured logging"
Payload of log messages should be specifed in form of a class, at least to some degree.
At least following proeprties should be added:
- timestamp
- loglevel
- string value with the given log message

[2021-04-23 11:56] #438 closed

[2021-04-27 08:26] sebbader opened #443 "Announce Endpoint Kind"
We have the use case to directly consume IDS Endpoints based on the Self-Description. While the IM already announces Endpoints (`hasEndpoint`), the endpoint itself does not state which IDS Binding or IDS Protocol specification it supports. Therefore, I propose to add the following property and enum:

[code]

[2021-04-27 12:55] milux opened #444 "LTS, Important: SecurityToken field mandatoryness"
Currently, the SecurityToken/DAT is defined as a mandatory field for all IDS message classes.
This perfectly makes sense for MIME/Multipart and IDS-LDP due to statelessness, but does **not** make sense for IDSCP2.
IDSCP2 handles the DAT (Dynamic Attribute Token) within the protocol itself, and the transfer of it in the serialized message headers creates unnecessary overhead and makes the protocol

[2021-04-27 12:56] milux commented on #444
Please assign @milux and @obraunsdorf to this issue, and add tags LTS and High Prio or something, since I cannot do that. Thank you!

[2021-05-07 10:30] clange opened #445 "Several occurrences of "encrypt" are misspelled as "ecrypt""

[2021-05-10 10:18] JohannesLipp opened #446 "Add ids:contactPoint property"
DCAT provides `dcat:contactPoint`, which we already need in the IDS. Adding a new property `ids:contactPoint` with domain `ids:Resource` and range `ids:Person` is required - please add it.

[2021-05-10 17:57] musi00 opened #447 "PROV-DM usage in IDS InformationModel"
Hello,

I have a couple of questions.
1) Does the information model use the W3C PROV-DM to track provenance?
2) If the answer to the first question is yes then for a connector that wants to communicate provenance information to the clearing house.  Does the Java representation of the information model suffice to communicate the provenance syntax or must we also use an external library to capture t

[2021-05-11 05:48] clange opened #448 "Code lists should be represented as skos:ConceptSchemes"
For better reusability and tool support (e.g., https://fcp.vse.cz/iga-hybrid/), our code lists should not only be implemented by having multiple individuals of the same class, but with a redundant SKOS structure. We hardly ever even make explicit use of SKOS – [Frequency](https://github.com/International-Data-Spaces-Association/InformationModel/blob/40f029a1ffc0846dfbe720e6268c07d5db68a898/codes/F

[2021-05-17 12:06] gbrost opened #449 "We need a DatRequestToken type definition in the info model"
The DAT is specified, but we should also create the type:
ids:DatRequestToken to be consistent.

Details can be found here:
https://github.com/International-Data-Spaces-Association/IDS-G-pre/tree/master/Components/IdentityProvider/DAPS

[2021-06-10 09:47] softabout opened #452 "Protocol for data exchange different from protocol for negotiation"
If I want to specify an exchange protocol to exchange data (artifacts) after contract negotiation between two connectors which is different from the protocol I used for negotiation, what would be the correct way to do so?

Example: ArtifactX is to be exchanged between two companies each hosting a dataspace connector. Both connectors negotiate a contract using HTTP/S.
The exchange of ArtifactX itse

[2021-06-10 20:55] clange opened #455 "Consider code lists for jurisdictions"
https://github.com/International-Data-Spaces-Association/InformationModel/blob/c71277a7d428ce545a8278d0bb377ba75bbfd422/model/participant/Participant.ttl#L116-L121

Rather than standardized strings such as ISO 3166-2 (e.g., DE-NW), it would – in RDF – make more sense to use codes. However, I am not aware of any standard dataset that has URIs for each such identifier, and it would be a lot of work

[2021-06-15 16:11] sebbader opened #457 "No ActionRefinment possible"
The current Shape for ids:Rule does not allow any refinement but strictly asks for a known instance of the ids:Action class:
https://github.com/International-Data-Spaces-Association/InformationModel/blob/22d8582acf85fcaafbfc1ff6ab27bd03e3ea8b40/testing/contract/RuleShape.ttl#L45

We need to add an alternative pattern to use the properties ids:actionRefinement etc.

[2021-06-17 09:42] lcomet opened #458 "Improve generation of date of release information"
Currently the dateOfRelease (https://github.com/International-Data-Spaces-Association/InformationModel/blob/7bf9305ca2fd7f04595783033fb0a2647cf2f370/docs/config/widoco.py#L31) used for the generation of documentation is updated just by using the current date. However, this behavior is not correct for previous ontology versions.
For all cases, the desired behavior should be to take the value specif

[2021-06-17 10:39] HaydarAk opened #459 "widoco contributor list: fix listing in provenance turtle and config file"
In the widoco configuration, we use direct HTML code as part of the contributor name to have a superscript number next to each contributor.  We also provide a list with all institutions / comapnies and use the superscript numbers to align a contributor with the corresponding institution
![image](https://user-images.githubusercontent.com/7315550/122380656-63a15d00-cf68-11eb-8d91-a907a18a1fbb.png)

[2021-06-21 17:24] JohannesLipp opened #461 "List and evaluate every usage of external classes or properties"
We need a list of every external class and property used in the IDS information model and an evaluation if the usage is redundant (i.e., not adding any benefit).

Expected result (1x for classes, 1x for properties):
| File | IDS class/property name | External class/property name | Evaluation* |
|---|---|---|---|
|  Rule.ttl | ids:Permission  | odrl:Permission  | r (no beneficial addition made) |
|

[2021-06-21 17:33] JohannesLipp commented on #461
@HaydarAk @clange @changqin26 FYI; as discussed for T60.

[2021-06-23 09:35] JohannesLipp commented on #427
Closing this issue as the versioning was successfully implemented on the gh-pages branch and is active on the live documentation page:

![image](https://user-images.githubusercontent.com/15930331/123073870-1bc28000-d417-11eb-8fb0-f1f4209b9603.png)

[2021-06-23 09:35] #427 closed

[2021-06-28 15:10] clange opened #464 "Class for "data space" and its configuration as a first-class citizen"
A requirement that came up in discussions around the Datenraum Mobilität:

It would be good to have a class `ids:DataSpace` or `ids:DataEcosystem` (name to be decided), which treats a data space / ecosystem and its configuration as a first-class citizen.

This configuration should be populated at some early time in the onboarding process, and would support further onboarding steps, e.g., a new par

[2021-06-28 15:41] DominikPinsel opened #465 "Question about connector identity"
Hello everyone,

I've a question regarding the DAPS and the Identity Provider interplay.

The Information Model says
- "the DAPS acts as digital proof for connectors and participants" (https://international-data-spaces-association.github.io/InformationModel/docs/index.html#DAPS)
- "the Identity Provider validates Participants" (https://international-data-spaces-association.github.io/InformationMod

[2021-06-29 08:57] #434 closed

[2021-06-30 09:26] softabout opened #466 "Role of attribute "contractAnnex" in Contract"
A Contract (ContractAgreement, ContractRequest, ContractOffer) defines an attribute "contractAnnex", which is specified as type "ids:Resource". How can this attribute be interpreted?
- is it the subject of the contract, the asset that will be shared?
- is it just any supporting type of resource (additional descriptions, specifications, ...)?

<sub> Helmut Pfister <helmut.pfister@daimler.com>, Daim

[2021-06-30 09:40] juliapampus commented on #452
@sebbader

[2021-06-30 09:40] juliapampus commented on #466
@HaydarAk @clange @JohannesLipp

[2021-06-30 09:40] juliapampus commented on #465
@gbrost @sebbader

[2021-06-30 09:55] gbrost commented on #465
Hi,
1. Yes, each connector has its own identity (X.509 certificate & private key).
2. The connector provides its setf description and there we have the link to the participant.

Best
Gerd

[2021-06-30 12:34] MoritzKeppler commented on #465
thx! But the self description isn't something a caller can trust, right? It's not signed/certified somehow.
Wouldn't it be better if the link to the participant is included in the DAT token? question is maybe related to #259
<sub> Moritz Keppler <moritz.keppler@daimler.com>, Daimler TSS GmbH, [legal info/Impressum](https://github.com/Daimler/daimler-foss/blob/master/LEGAL_IMPRINT.md)</sub>

[2021-06-30 12:37] gbrost commented on #465
Good point and possibly a desirable feature. But this is not part of the reality yet. The idea was to verify the identity also with the identity certificate for each device. There you have a link to the organisation. However, just a link via the subject and not a specific link to a participant URI at the ParIS. I will open an issue for ids-g.

[2021-06-30 14:52] DominikPinsel commented on #465
Thanks for the quick responses. Once again learned a lot. On my part this question is answered and the issue resolved  👍

<sub> Dominik Pinsel <dominik.pinsel@daimler.com>, Daimler TSS GmbH, [legal info/Impressum](https://github.com/Daimler/daimler-foss/blob/master/LEGAL_IMPRINT.md)</sub>

[2021-06-30 14:52] #465 closed

[2021-06-30 15:33] HaydarAk commented on #466
Correct, that the idea behind it. To give the possibility to attach additional data (resources) to the contract.

The asset which will be shared is defined as part of the rules. E .g.,
`ids:Contract -> ids:permission -> ids:Permission (subclass of ids:Rule) -> ids:target -> ids:Asset`
Resources as well as Representations and Artifacts are subclasses of ids:Asset.

[2021-07-01 13:46] MoritzKeppler opened #468 "self-description and resource catalogs"
InfoModel refers multiple times to "self-description of a connector" but I cannot find details.
The communication guide https://industrialdataspace.jiveon.com/docs/DOC-2524#jive_content_id_21_SelfDescription states

Guess this is the proper definition?

A Connector holds a list of ResourceCatalogs. A ResourceCatalog holds a list of offered and requested Resources.
Are both list (requested and offe

[2021-07-01 13:47] MoritzKeppler opened #469 "Broker vs. Connector"
A broker is a subclass of a connector.
Does that mean that a broker can provide own artifacts?
Or asking the other way round: A broker will just list own Resources in its self-description, not resources pushed to it by other connectors. Right?

<sub> Moritz Keppler <moritz.keppler@daimler.com>, Daimler TSS GmbH, [legal info/Impressum](https://github.com/Daimler/daimler-foss/blob/master/LEGAL_IMPRI

[2021-07-01 13:48] MoritzKeppler opened #470 "Updating data at Broker"
A broker holds a list of ConnectorCatalogs.
A ConnectorCatalog holds a list of Connectors (i.e. Connector self-descriptions).
A Connector holds a list of ResourceCatalogs.
A ResourceCatalog holds a list of offered Resources.

Sending a resource update message will update the corresponding resource entries in all offered Resource lists of all ResourceCatalogs of the connector sending the update.
If

[2021-07-01 13:50] MoritzKeppler opened #471 "Broker: Query data / limit access"
Querying a broker means querying anything in the whole ConnectorCatalog including all ResourceCatalogs etc.
Right?
How can a Connector provide information about its resources in a way that just some other connectors/participants are allowed to read? E.g. a contract offer special to one participant.

<sub> Moritz Keppler <moritz.keppler@daimler.com>, Daimler TSS GmbH, [legal info/Impressum](https:/

[2021-07-01 13:56] HaydarAk opened #472 "Rename branch "master" to "main""
Rename _master_ branch to _main_ be alignment to other IDSA repos

[2021-07-02 10:50] DominikPinsel commented on #466
Thanks for the answer! Maybe you can clarify this for me.

Are these examples of contract annex data?
- licenses
- natural language contract
- how-to-use-data instructions

Could this imply that a contract with an annex cannot be accepted automatically, because it could contain natural language contract details?

<sub> Dominik Pinsel <dominik.pinsel@daimler.com>, Daimler TSS GmbH, [legal info/Impr

[2021-07-05 13:57] lcomet commented on #461
I am currently adding the evaluation of properties and external classes in this document: https://docs.google.com/spreadsheets/d/17RjLl6wkL_V2_jbf_vBfJ_77NgmENnf_tIfWZsNhr_Y/edit?usp=sharing

[2021-07-08 14:39] HaydarAk opened #474 "Add axioms to reference equivalent classes between versions"
Due to the introduction of LTS and versioning there are different variants (versions) of the IDS information model classes.
These classes are identified by their IRI which hold the version information.

We should add axioms (e.g. owl:equivalentClass) to introduce class equality for classes which denote the same concept.

[2021-07-08 14:50] HaydarAk opened #475 "Governance process between versions"
The governance process between components with different versions should be discussed and specified. Example scenario:
- how should a component behave, if it supports version X but receives a message from a component with version Y.

(See also GraphQL approach on schemas)

[2021-07-08 15:56] trueg opened #476 "DataResource with non-rdf DataRepresentation"
I am trying to describe a connector which provides a typical RESTful endpoint that returns JSON blobs.
Sadly I could not find a way to specify the schema, maybe I am missing something, the examples seem partially out-of-date and partially wrong.
Thus, in the spirit of starting a possible discussion let me provide an idea of how such a thing could be achieved:

Imagine the following resource with a

[2021-07-13 13:35] HaydarAk commented on #476
Hi!

Sadly I could not find a way to specify the schema, maybe I am missing something, the examples seem partially out-of-date and partially wrong.

We have two properties to define schemas / standards the content conforms to. The current model provides `ids:contentStandard` (for `ids:DigitalContent` and therefore also for `ids:Resource` ) and `ids:representationStandard` for ids:Representation. B

[2021-07-13 15:24] trueg commented on #476
Thank you very much for answering, Haydar,

I think I missed those. Does that mean I could in theory use these to point to a specific class, let's say `ex:UserAccount`, a class representing a user account.

The idea was to link to a specific class like `ex:UserAccount` to define the data type an endpoint would return.

I can understand that. My idea was to provide a way that mapping of data using

[2021-07-14 11:27] tomkxy opened #477 "Extending ids:Frequency vocab"
In the MDP project at T-Systems we have the requirement for having additional frequency  definitions. We would we able to re-use the IDS Frequency class and the associated codes if the following codes would be added to frequency.ttl,. The following is just an abridged representation (only ID and comment):

idsc:DAILY_2
   a ids:Frequency;
    rdfs:comment "The event occurs every 12 hours."@en ;

i

[2021-07-16 15:36] tomkxy opened #478 "How to represent references to TextResources"
In the MDP project, we need to represent "links" to reference files. I know about the sample property which does not fit here. What is the most and easiest was to represent that in IDS?

[2021-07-19 05:57] HaydarAk commented on #478
Hi!

Can you  elaborate, what `we need to represent "links" to reference files`  means ? Something directly related to the resource ?

We have some relations ids:Resources modeled:
- `ids:variant` and `ids:sample`: As the names suggest, these properties can be used to refer to variants of resources and samples / snippets. Both properties point to `ids:Resource` .
- `ids:contentStandard` & `ids:rep

[2021-07-19 06:08] HaydarAk commented on #477
I'll take a look at that.

Thank you for the contribution.

[2021-07-19 07:31] tomkxy commented on #478
Hi Haydar,

yes it is directly related to the resources. Those are files which provide additional context for the resources and are required or helpful to understand resource content. ids:sample is known to me, but doesn't really fit. I would expect there sample content files. So far, I interpreted contentStandard and representationStandard rather for things like schema file. However, they could f

[2021-07-19 09:01] HaydarAk commented on #478
As you may know, a ids:Resource may contain multiple `ids:Representation`s.
A `contentStandard` covers the resource as a whole while `representationStandard` is more related to a concrete representation.  E.g., JSON/XML schema should be refered to via `representationStandard` because they are related to the given ids:Representation. Even if there is only one `ids:Representation`. This somestimes l

[2021-07-19 09:12] tomkxy commented on #478
Thanks. Based on that input, I would model the schema file using the representationStandard property and would use contentStandard to store any additional contextual file information. The field is of range anyURI. Would it work in combination with the Java classes if I would reference a TextResource through this property?

[2021-07-19 09:16] tomkxy opened #479 "Title or Description field on representation or artifact level"
Dcat supports a title and description property on distribution level. Since I need to represent (map) from DCAT to IDS I was looking for those props on representation or artifact level.

It seems that IDS does not foresee a title and description field on artifacts and representation? If that is right, I would suggest to consider this, since mapping from DCAT seems to be common requirement, at leas

[2021-07-19 10:23] HaydarAk commented on #478
Should be. xsd:anyURI maps to a corresponding URI representation in Java. As far as I know, the java standard URI class is used (java.net.URI). You can provide any kind of IRI which includes a ids:TextResource :)

[2021-07-19 10:26] HaydarAk commented on #479
Good point. Should be easy to achieve and definitely a benefit.

[2021-07-19 11:10] tomkxy commented on #479
Just saw that representation is a subclass of dcat:distribution. According to the DCAT spec title and description are formally already part of the ids:representation but according to my knowledge, they are not part of the generated Java classes.

[2021-07-21 04:39] clange commented on #479
I think the solution would be as easy as
[code]

[2021-07-21 04:49] clange commented on #478
BTW, so far it has not been specified what exactly `ids:contentStandard` or `ids:representationStandard` should link to: a specification document, a schema resource, etc. In future, it may become necessary to introduce more specific subproperties for these cases. In the Datenraum Mobilität we have discussed the technical integration of a Vocabulary Provider via `ids:contentStandard` / `ids:represe

[2021-07-21 05:18] clange commented on #476
@trueg thank you for contributing these highly interesting ideas. Indeed there are some things we may have to implement. For now, let me shed a bit further light on what we already have. The current state is that the IDS RAM only prescribes an RDF semantics on the metadata level (i.e., by requiring components to "speak" the infomodel language), whereas on the content/payload level it is merely str

[2021-07-21 06:29] clange commented on #471
I think that so far this has not been specified. Let's involve @sebbader, our expert for both the Broker and contracts. In any case, it is possible to operate multiple Brokers in a data space. Think of DNS servers in the Internet. Here is a related requirement from [the Metadata Broker specification](https://internationaldataspaces.org/wp-content/uploads/IDSA-White-Paper-Specification-IDS-Meta-Dat

[2021-07-21 06:32] clange commented on #470
I can help with one point:

I do not think so. Multiple connectors might serve resources that have the same content and the same values for most of their metadata properties, but at least the identifiers of the resources would typically differ. (Think of the RDF analogy `<uri1> owl:sameAs <uri2>`.)

For the further questions, let me involve the Broker component owner @sebbader and the infomodel me

[2021-07-21 06:36] clange commented on #469
Interesting question. Indeed a Broker is a Connector, also [by its specification](https://internationaldataspaces.org/wp-content/uploads/IDSA-White-Paper-Specification-IDS-Meta-Data-Broker.pdf):

@sebbader can you help with the full answer to the question? Would it, e.g., be possible that a Broker assumed the Connector role and advertised some Resources to another Broker? If so, what would these R

[2021-07-21 06:39] clange commented on #468
To my best understanding, a Connector self-description should validate against [the respective SHACL shape](https://github.com/International-Data-Spaces-Association/InformationModel/blob/master/testing/infrastructure/ConnectorShape.ttl). @HaydarAk is there anything else one should consider?

[2021-07-21 07:00] clange commented on #447
Sorry for not replying sooner. We do not yet do so in any explicit way, but should make it more explicit.

The [IDS RAM](https://internationaldataspaces.org/publications/ids-ram/) mentions provenance and explicitly recommends using PROV for it. Infomodel versions before 4.0 had certain terms derived from PROV-O (e.g., Activity). However, [we removed these a while ago](https://github.com/Internatio

[2021-07-21 07:06] clange commented on #466
@sebbader maybe you are the best expert for clarifying this?

[2021-07-21 12:18] HaydarAk commented on #468
A connector may exclude some (optional) information, e.g., some of the ResourceCatalogs. But in general, all information attached to the connector class are part of the self-description (ResourceCatalogs, ConnectorEndpoints ....).

@clange a connector should validate against all fitting shapes, not just the Connector shape itself. Otherwise, one could expose a self-description with some arbitrary

[2021-07-21 14:09] tomkxy commented on #478
For me ids:representationStandard would be kind of clearly related to for instance a schema file to which content is supposed to adhere to.
For contentStandard that is not that clear. It seems to be plausible to use it to integrate a vocab provider. But then, I again would have the question how to link to additional "files" which contains what ever is required to understand content.

[2021-07-21 14:25] tomkxy opened #481 "ids:Artifact and resourceEndpoints"
While looking into mapping from DCAT to IDS I stumbled across an aspect in IDS which feels cumbersome and to be honest I do not understand:
In DCAT we have Datasets and Distribution which relates to IDS as DataResources and DataRepresentations / Artifacts , so far so good.
In DCAT, the Distribution contains the information where to get the distribution from downloadURL etc.

Now trying to figure o

[2021-07-22 13:11] JohannesLipp commented on #461
Update: That list is ~ 35 % finished and will be finalized by next week.

[2021-07-23 12:59] HaydarAk commented on #479
Added the suggested changes to the `ids:Representation` class in #483.

The IDS Information Model splits the dcat:Distribution into the ids:Representation and ids:Artifact. Therefore, it is not necessary to add title / description information to an artifact.

[2021-07-23 13:01] HaydarAk commented on #477
Added the suggested changes to the code list of the `ids:Frequency` class in #483.
Thanks for the contribution :)

[2021-07-23 13:02] #477 closed

[2021-07-23 13:02] #479 closed

[2021-07-26 13:27] changqin26 commented on #457
Sorry, I just noticed this issue assigned to me.
We have ids:actionRefinement for ids:Action class. Then ids:Rule can further define refinement through this.

what are you referring to with "an alternative pattern"?

[2021-07-26 13:54] changqin26 commented on #443
Sorry, I just noticed this issue assigned to me.
here is the PR:
https://github.com/International-Data-Spaces-Association/InformationModel/pull/488

[2021-07-26 15:12] trueg commented on #476
As discussed in our meeting last week I created a full example of a resource with a schema mapping. Please bear with me as this is a long one.

Let me start by saying that I build on my original idea but simplified it considerably. There are only two new entities as part of the ids namespace involved (I put them into an ids extended ns for clarity).

On to the actual example which I have split up

[2021-07-27 15:55] tomkxy opened #489 "Extending ids:Frequency vocab"
Unfortunately, within the MDP project additional  codes for the frequency vocab are required (apart from the ones requested in an earlier issue).

Thus, in order to re-use the IDS Frequency class and the associated codes, if the following codes would be added to frequency.ttl,. The following is just an abridged representation (only ID and comment):

idsc:ONCE a ids:Frequency;
    rdfs:label "Only

[2021-07-28 11:18] HaydarAk commented on #489
Hi!

thanks for the contribution. It makes sense to add the `idsc:ONCE`.
But I do not like the `unknown` to be honest. The term is not a frequency, if viewed from a semantics perspective.

What is the difference between `idsc:UNKNOWN` and leaving the property empty / not using it ? I'd say there is no difference. Sure, from a developers perspective it is more pleasant to have a fixed value which s

[2021-07-28 11:40] HaydarAk commented on #472
Done :)

[2021-07-28 11:40] #472 closed

[2021-07-29 13:36] tomkxy commented on #489
Makes sense what you are saying

[2021-07-29 14:01] JohannesLipp opened #490 "Refactor identified refactoring options for the IDS information model"
General requirements from the Java lib:
- We need at least need class definitions for every class in the ontology - also for external classes.
- All SHACL properties should have `sh:name` and `sh:description`.
- @HaydarAk please clarify with @sebbader if we can upgrade the CodeGen to read (external) classes from SHACL files, so that @maboeckmann can implement this

[2021-07-29 14:01] JohannesLipp commented on #490
refers to #461

[2021-08-04 15:48] JohannesLipp commented on #489
@HaydarAk could you please add this property? Thank you in advance! This would solve this issue.

@tomkxy Instead of "Unknown" you could use the existing `idsc:IRREGULAR`?

[2021-08-05 10:04] tomkxy commented on #489
As I said, I am fine with not having Unknown and just not filling that property. Your line of argument makes sense to me.

[2021-08-12 09:56] HaydarAk commented on #421
I hope my explanation helped you. If not, feel free to reopen the issue for further questions and so on :)

[2021-08-12 09:56] #421 closed

[2021-08-12 09:57] HaydarAk commented on #413
See also #490

[2021-08-12 09:59] HaydarAk commented on #405
Done since we removed the metamodel in our last version.

[2021-08-12 09:59] #405 closed

[2021-08-12 10:40] HaydarAk commented on #356
Sometimes, even a space can cause errors. Issue is resolved by now.
Tested current release with the mentioned tool and it does not throw any errors.

thanks for the contribution!

[2021-08-12 10:41] #426 closed

[2021-08-12 12:03] JohannesLipp commented on #461
Also solves #413

[2021-08-12 12:06] tomkxy opened #493 "License on resource?"
Having to deal with DCAT mappings from harvested sources to IDS in the MDP project, we realized that in DCAT licenses are defined on distribution level which seems to be appropriate since each individual distribution can have its own license.

In IDS licenses are represented on resource level. This makes a mapping from DCAT rather difficult.

Since DCAT is not really exotic, there might suggestion

[2021-08-16 13:32] sebbader opened #494 "Checking Renamed Classes and Properties explicitely in Shapes"
The update of the `ids:offered` property to `ids:offeredResource` is ambiguous, as descriptions using the first "look pretty good" during debugging, while the latter needs to be in place.
Suggestion:
Whenever we remove or rename an RDF entity in a breaking change, let's add a new shape what explicitly checks for the old entity and comes up with a direct and understadable error message.

[2021-08-17 07:17] alexandrudanciu opened #495 "Requirement for callback URLs as part of every IDS request message to support asynchronous communication"
This is a follow-up on the issue https://github.com/International-Data-Spaces-Association/IDS-G-pre/issues/49
---

Dear IDSA community,

While assessing the possibility of implementing a fully asynchronous communication between two IDS connectors, the inability of specifying callback URLs was identified as a possible show stopper. Please find a detailed description below.

Situation:
For implement

[2021-08-17 15:31] JohannesLipp opened #497 "Fix Widoco ontology visualization"
The visualization at https://w3id.org/idsa/core is broken, please fix it. Thanks!

![image](https://user-images.githubusercontent.com/15930331/129755613-21089f4a-7e5c-47fe-9d82-ff2c2bcd2840.png)

[2021-09-07 08:39] bastianleirpo opened #500 "Picture "all_classes.png" broken in release 4.1.0"
In the current release (https://github.com/International-Data-Spaces-Association/InformationModel/releases/tag/v4.1.0) the file "all_classes.png" is broken:

![all_classes (4)](https://user-images.githubusercontent.com/22075788/132313316-3eecbbc0-900b-474e-85ae-647353550a6e.png)

[2021-09-09 13:45] JohannesLipp commented on #490
@maboeckmann PUSH

[2021-09-15 14:43] lcomet commented on #497
Solved by changes under commit dd03c0d

[2021-09-15 14:43] #497 closed

[2021-09-15 17:20] clange commented on #493
Makes sense. The question is how soon you need the solution. By the end of 2021, we are planning in an effort led by @JohannesLipp to clean up the core infomodel by introducing application profiles. In the same course, we'll improve the alignment with DCAT. (Thus, @JohannesLipp, could you please extract the general points out of this specific discussion into an issue that relates to the alignment

[2021-09-15 17:57] clange commented on #481
My initial understanding is the following. @HaydarAk could you please add your (probably deeper) understanding to this discussion?
Generally, one resource may be served through one or more endpoints, i.e., `ids:Resource – ids:resourceEndpoint → ids:ConnectorEndpoint`.
In certain special cases, an endpoint may be dedicated to serving one artifact (i.e., one instance) of one representation of the re

[2021-09-20 07:22] HaydarAk commented on #493
That was also my first thought as I read through your answer. Can take a look into that :)

[2021-09-20 08:10] HaydarAk commented on #481
All correct what you wrote, @clange. One addition: As far as I know, the `ids:resourceEndpoint` property is especially relevant for, e.g., the broker, because it is the one and only property which allows to link a resource to a corresponding connector (endpoint), if queried at a broker. It should definitely be feasible to implement that. But we have to consider "what" to describe "where" at "which

[2021-09-21 06:29] JohannesLipp commented on #490
@maboeckmann push

[2021-09-21 13:00] JohannesLipp commented on #497
Thank you very much for solving this!

[2021-09-22 07:42] JohannesLipp opened #502 "Fix OOPS link on Widoco page"
![image](https://user-images.githubusercontent.com/15930331/134302394-7b142bd6-0061-476d-8dc2-9739ffb87d98.png)

The OOPS link on the Widoco page links [here](https://international-data-spaces-association.github.io/InformationModel/docs/OOPSEvaluation/OOPSeval.html#) but the correct URL is [this](https://international-data-spaces-association.github.io/InformationModel/docs/OOPSevaluation/OOPSeval.

[2021-09-23 07:20] clange commented on #277
@JohannesLipp as #391 was merged, could you please clarify what still remains to be done in order to achieve full DCAT-AP compatibility? To my understanding we are ready in a technical sense but need to discuss whether in a general IDS environment it will make sense to enforce the same "mandatory attributes" as DCAT-AP does. DCAT-AP compatibility is increasingly being requested, see https://github

[2021-09-23 13:23] HaydarAk commented on #381
Addition: Add template for pull requests which can be used as part of the release management

[2021-09-23 13:24] HaydarAk commented on #494
We already have an issue regarding release management (see #381)

We may consider adding such shapes to support debugging between two versions.

[2021-09-23 13:26] JohannesLipp commented on #490
@changqin26 please invite Pascal to this repository and ask him about this issue - thank you!

[2021-09-23 13:32] JohannesLipp commented on #490
@pnlinden

[2021-09-29 14:24] lcomet commented on #502
Fixed with commits c3a23ccabb696ef64e3844b0d97c6bd8ba548b66 4d6271b94243ec7a34af29e48ffe02163895c656 and 1f99ce3169b7b3c3a94b5fac58518c1871892d33

[2021-09-29 14:25] #502 closed

[2021-09-30 08:30] JohannesLipp commented on #277
The following steps would be required to do so:

1. Content: Use the [EC's DCAT-AP SHACL shapes](https://github.com/SEMICeu/DCAT-AP/blob/master/releases/2.0.1/dcat-ap_2.0.1_shacl_shapes.ttl) to validate all relevant classes in the IDS infomodel and subsequently integrate these into our validation shapes.
2. Infrastructure: Design and implement a way to enforce validation and compatibility in the I

[2021-09-30 10:12] HaydarAk commented on #495
Correct. We have no callback URI structures inside our `ids:Message`.
Thanks for your input. We'll may consider that as part of our next releases.

[2021-09-30 13:11] HaydarAk commented on #468
Feel free to reopen the issue if there is still something unclear :)

[2021-09-30 13:24] JohannesLipp commented on #490
@pnlinden Could you please comment on our question above ASAP? Thank you.

[2021-09-30 15:27] JohannesLipp opened #505 "Extend SHACL shapes to allow both direct and indirect references"
As we are extended type handling in the code generation, we can now support both indirect and direct references.

Please properly cover this in the information model by replacing existing `sh:nodeKind sh:IRI ;` statements in SHACL with `sh:or ( [ sh:class ids:XXX ; ] [ sh:nodeKind sh:IRI ; ] ) ;` for the respective class.

Concrete steps to solve this could include:

1. Check out the latest develo

[2021-09-30 22:53] ticapix commented on #464
In the context of Gaia-X, the ` Gaia-X Compliance` is applicable only on `Participants` and elements to build a `Service Offering`.
Interoperability is between 2+ services. Trust is between 2+ participants. Trying to enforce or assess compliance or interoperablity at a Dataspace level is not scalable.

Hence, there is no Dataspace class or Dataspace Self-Description concept in Gaia-X.

[2021-10-01 06:10] clange opened #508 "Prov"

[2021-10-01 06:11] clange commented on #508
Sorry, I created this by accident.

[2021-10-01 06:11] #508 closed

[2021-10-01 07:08] pnlinden commented on #490
I tested a minimal example for your proposal. When the "helper files" are added for the removed classes in the form you proposed above, we need to make a few adjustments in the CodeGen Tool, but then this should be fine.

[2021-10-08 11:47] changqin26 opened #512 "Add ids:Artifact as a subclass of ids:Asset."
here, target points to Artifact, whereas the infomodel follows ODRL's understanding "Rule -target-> Asset", and ids:Resource is a subclass of ids:Asset, but ids:Artifact is not.

[2021-10-08 11:48] changqin26 opened #513 "Add ids:Catalog as a subclass of odrl:AssetCollection"
make ids:Catalog a subclass not only of dcat:Catalog but also of odrl:AssetCollection (alignment of DCAT and ODRL not only on single-resource but also on collection level)

[2021-10-08 11:50] changqin26 opened #514 "Check if ids:contractOffer belongs to a parent class in ODRL or DCAT"
why ids:contractOffer is not a subproperty of odrl:hasPolicy (keeping in mind that according to Hosseinzadeh, Arghavan  no one uses odrl:hasPolicy